Repository ansible-collections/community.aws, pull requests merged in 2020-10, with the labels that each got.

#237 aws_ssm: Namespace S3 buckets and delete transferred files
  changelogs/fragments/221_222_ssm_bucket_operations.yaml
  plugins/connection/aws_ssm.py
Labels: affects_2.10, bug, connection, needs_revision, needs_triage, plugins, small_patch

#42 Initial tests for kinesis_stream
  plugins/modules/kinesis_stream.py
  tests/integration/targets/kinesis_stream/aliases
  tests/integration/targets/kinesis_stream/defaults/main.yml
  tests/integration/targets/kinesis_stream/meta/main.yml
  tests/integration/targets/kinesis_stream/tasks/main.yml
  tests/integration/targets/kinesis_stream/tasks/test_encryption.yml
Labels: affects_2.10, community_review, feature, integration, module, needs_triage, plugins, stale_ci, tests

#34 Add tag support for redshift module
  changelogs/fragments/34-redshift-tags.yml
  plugins/modules/redshift.py
  tests/integration/targets/redshift/tasks/main.yml
Labels: affects_2.10, feature, integration, module, needs_rebase, needs_revision, needs_triage, new_contributor, plugins, stale_ci, tests

#187 stability: Increase the number of retries on ec2_instance tests
  plugins/modules/ec2_instance.py
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/main.yml
Labels: affects_2.10, feature, integration, module, needs_rebase, needs_revision, plugins, tests
