Repository ansible-collections/community.aws, pull requests merged in 2020-09, with the labels that each got.

#224 #223 Port rds_subnet_group to boto3
  changelogs/fragments/224-port-rds_subnet_group-boto3.yaml
  plugins/modules/rds_subnet_group.py
  tests/integration/targets/rds_subnet_group/tasks/params.yml
Labels: affects_2.10, merge_commit, module, needs_rebase, needs_revision, new_contributor

#226 cloudfront_distribution - added support for TLSv1.2_2019
  plugins/modules/cloudfront_distribution.py
Labels: affects_2.10, community_review, feature, module, needs_triage, new_contributor, plugins, small_patch

#197 ec2_scaling_policy - migrate to boto3
  changelogs/fragments/197-ec2_scaling_policy-boto3.yml
  plugins/modules/ec2_scaling_policy.py
  tests/integration/targets/ec2_scaling_policy/aliases
  tests/integration/targets/ec2_scaling_policy/defaults/main.yml
  tests/integration/targets/ec2_scaling_policy/meta/main.yml
  tests/integration/targets/ec2_scaling_policy/tasks/main.yml
Labels: affects_2.10, feature, integration, module, needs_revision, needs_triage, plugins, stale_ci, tests

#235 Fix timeout and Windows AMI in aws_ssm
  changelogs/fragments/234-fix_ssm_inventory_plugin_timeout_var.yaml
  plugins/connection/aws_ssm.py
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/defaults/main.yml
Labels: affects_2.10, bug, community_review, connection, integration, needs_triage, plugins, tests

#229 Type conversion issue for creating read replicas
  changelogs/fragments/229-fix-type-conversion-for-creating-read-replicas.yaml
  plugins/modules/rds_instance.py
  tests/integration/targets/rds_instance/tasks/test_read_replica.yml
Labels: affects_2.10, bug, merge_commit, module, needs_rebase, needs_revision, new_contributor
