Repository ansible-collections/community.aws, pull requests merged in 2020-12, with the labels that each got.

#93 fix: ansible kinesis stream paginated shards bug
  changelogs/fragments/93-kinesis_stream-get-more-shards-resolve.yml
  plugins/modules/kinesis_stream.py
Labels: affects_2.10, bug, community_review, module, new_contributor, plugins, small_patch, stale_ci

#39 fix: Cloudfront distribution now uses provided origin_access_identity
  plugins/modules/cloudfront_distribution.py
  tests/integration/targets/cloudfront_distribution/tasks/main.yml
Labels: affects_2.10, bug, integration, module, needs_revision, new_contributor, plugins, pr_day, stale_ci, tests

#280 Use botocore_at_least rather than LooseVersion/StrictVersion directly
  changelogs/fragments/280-cleanup-botocore_at_least.yml
  plugins/modules/dynamodb_ttl.py
  plugins/modules/ec2_vpc_peer.py
  plugins/modules/ecs_task.py
Labels: affects_2.10, community_review, feature, module, needs_triage, owner_pr, plugins
