Repository ansible-collections/community.aws, pull requests merged in 2021-01, with the labels that each got.

#349 ec2_eip - Formally deprecate the 'instance_id' alias.
  changelogs/fragments/349-ec2_eip-deprecate-instance_id.yml
  plugins/modules/ec2_eip.py
Labels: community_review, feature, module, needs_triage, owner_pr, plugins

#356 add uptime parameter for ec2_instance_info module in minutes
  changelogs/fragments/356_add_minimum_uptime_parameter.yaml
  plugins/modules/ec2_instance_info.py
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/uptime.yml
Labels: feature, integration, module, needs_revision, needs_triage, new_contributor, plugins, tests

#352 aws_ssm signed url using v2 and thus aws_ssm generates incompatible curl request to download s3 object for ansible python
  changelogs/fragments/352-fix-aws-region-and-v4-signature-for-s3-boto-client.yml
  plugins/connection/aws_ssm.py
Labels: bug, connection, has_issue, needs_revision, needs_triage, new_contributor, plugins

#360 Bulk import cleanup
  changelogs/fragments/360-imports-cleanup.yml
  plugins/modules/aws_config_aggregation_authorization.py
  plugins/modules/aws_config_delivery_channel.py
  plugins/modules/aws_config_recorder.py
  plugins/modules/aws_config_rule.py
  plugins/modules/cloudformation_stack_set.py
  plugins/modules/cloudfront_origin_access_identity.py
  plugins/modules/cloudwatchlogs_log_group_metric_filter.py
  plugins/modules/dynamodb_ttl.py
  plugins/modules/ec2_ami_copy.py
  plugins/modules/ec2_customer_gateway.py
  plugins/modules/ec2_elb.py
  plugins/modules/ec2_instance.py
  plugins/modules/ec2_instance_info.py
  plugins/modules/ec2_lc_info.py
  plugins/modules/ec2_snapshot_copy.py
  plugins/modules/ec2_vpc_endpoint_info.py
  plugins/modules/ec2_vpc_vgw.py
  plugins/modules/ecs_attribute.py
  plugins/modules/ecs_cluster.py
  plugins/modules/ecs_taskdefinition.py
  plugins/modules/elasticache_parameter_group.py
  plugins/modules/elb_application_lb_info.py
  plugins/modules/elb_instance.py
  plugins/modules/elb_target.py
  plugins/modules/elb_target_group_info.py
  plugins/modules/iam_mfa_device_info.py
  plugins/modules/iam_server_certificate_info.py
  plugins/modules/iam_user_info.py
  plugins/modules/lambda_event.py
  plugins/modules/route53_health_check.py
  plugins/modules/route53_info.py
  plugins/modules/s3_metrics_configuration.py
  plugins/modules/s3_website.py
  plugins/modules/sns.py
  plugins/modules/sts_session_token.py
Labels: community_review, feature, module, needs_triage, owner_pr, plugins

#348 elb_application_lb: enable the functional test
  tests/integration/targets/elb_application_lb/aliases
  tests/integration/targets/elb_application_lb/tasks/full_test.yml
  tests/integration/targets/elb_application_lb/tasks/multiple_actions_fail.yml
  tests/integration/targets/elb_application_lb/tasks/test_alb_bad_listener_options.yml
  tests/integration/targets/elb_application_lb/tasks/test_deleting_alb.yml
  tests/integration/targets/elb_application_lb/tasks/test_modifying_alb_listeners.yml
  tests/integration/targets/elb_application_lb/tasks/test_multiple_actions.yml
  tests/integration/targets/elb_application_lb/tasks/test_multiple_actions_fail.yml
Labels: integration, needs_info, needs_revision, needs_template, needs_triage, plugins, tests

#361 Bulk migration to fail_json_aws
  changelogs/fragments/361-fail_json_aws.yml
  plugins/modules/aws_api_gateway.py
  plugins/modules/aws_codepipeline.py
  plugins/modules/aws_direct_connect_confirm_connection.py
  plugins/modules/aws_direct_connect_connection.py
  plugins/modules/aws_direct_connect_gateway.py
  plugins/modules/aws_direct_connect_link_aggregation_group.py
  plugins/modules/aws_direct_connect_virtual_interface.py
  plugins/modules/aws_kms_info.py
  plugins/modules/aws_s3_bucket_info.py
  plugins/modules/cloudfront_info.py
  plugins/modules/cloudwatchlogs_log_group.py
  plugins/modules/cloudwatchlogs_log_group_info.py
  plugins/modules/data_pipeline.py
  plugins/modules/dms_endpoint.py
  plugins/modules/dms_replication_subnet_group.py
  plugins/modules/ec2_asg.py
  plugins/modules/ec2_lc.py
  plugins/modules/ec2_scaling_policy.py
  plugins/modules/ec2_snapshot_copy.py
  plugins/modules/ec2_vpc_endpoint.py
  plugins/modules/ec2_vpc_nacl_info.py
  plugins/modules/ec2_vpc_peer.py
  plugins/modules/ec2_vpc_vgw.py
  plugins/modules/ec2_vpc_vgw_info.py
  plugins/modules/ecs_ecr.py
  plugins/modules/elasticache.py
  plugins/modules/elasticache_parameter_group.py
  plugins/modules/elasticache_snapshot.py
  plugins/modules/elb_application_lb_info.py
  plugins/modules/elb_target.py
  plugins/modules/elb_target_group_info.py
  plugins/modules/execute_lambda.py
  plugins/modules/iam_managed_policy.py
  plugins/modules/iam_policy_info.py
  plugins/modules/iam_user.py
  plugins/modules/lambda.py
  plugins/modules/lambda_alias.py
  plugins/modules/rds_instance.py
  plugins/modules/rds_param_group.py
  plugins/modules/redshift.py
  plugins/modules/s3_lifecycle.py
  plugins/modules/s3_sync.py
  plugins/modules/s3_website.py
Labels: community_review, feature, module, owner_pr, plugins

#364 Normalise Shippable conf
  shippable.yml
  tests/utils/shippable/shippable.sh
Labels: bug, community_review, needs_triage, tests
