Repository ansible-collections/community.aws, pull requests merged in 2021-04, with the labels that each got.

#489 Enable the SNS tests
  tests/integration/targets/sns/aliases
Labels: community_review, integration, needs_triage, plugins, small_patch, tests

#505 ec2_instance don't change termination protection in check mode
  changelogs/fragments/505-ec2_instance-terminate_protection.yml
  plugins/modules/ec2_instance.py
  tests/integration/targets/ec2_instance/inventory
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/termination_protection.yml
  tests/integration/targets/ec2_instance/roles/ec2_instance/tasks/termination_protection_wrapper.yml
Labels: bug, integration, module, needs_revision, needs_triage, plugins, tests

#502 Remove 'ResourceRecords' when 'AliasTarget'
  changelogs/fragments/502-route53-aliases.yml
  plugins/modules/route53.py
  tests/integration/targets/route53/tasks/main.yml
Labels: bug, community_review, integration, module, new_contributor, plugins, tests

#527 Added ignore-2.12.txt
  changelogs/fragments/ignore_212.yml
  tests/sanity/ignore-2.12.txt
Labels: bug, needs_revision, needs_triage, tests

#525 Fix route53 idempotency issues
  changelogs/fragments/525-route53-idempotency-regressions.yml
  plugins/modules/route53.py
  tests/integration/targets/route53/tasks/main.yml
Labels: bug, integration, module, needs_revision, needs_triage, plugins, tests

#501 ec2_vpc_peer - idempotency + integration tests
  changelogs/fragments/501-vpc_peering_connections.yml
  plugins/modules/ec2_vpc_peer.py
  plugins/modules/ec2_vpc_peering_info.py
  tests/integration/targets/ec2_vpc_peer/aliases
  tests/integration/targets/ec2_vpc_peer/defaults/main.yml
  tests/integration/targets/ec2_vpc_peer/tasks/main.yml
Labels: bug, community_review, integration, module, needs_triage, plugins, tests

#521 ec2_instance_info - Add AWS Retries
  changelogs/fragments/521-ec2_instance_info-retries.yml
  plugins/modules/ec2_instance_info.py
Labels: community_review, feature, module, needs_triage, owner_pr, plugins

#515 rds_instance - test fixups
  changelogs/fragments/515-rds_snapshot-aws-group.yml
  meta/runtime.yml
  tests/integration/targets/rds_instance/aliases
  tests/integration/targets/rds_instance/tasks/test_read_replica.yml
Labels: bug, integration, needs_revision, needs_triage, plugins, tests

#500 rds_instance: Add purge_security_groups
  changelogs/fragments/500-rds_instance-purge-sg-option.yml
  plugins/modules/rds_instance.py
  tests/integration/targets/rds_instance/tasks/test_vpc_security_groups.yml
Labels: bug, community_review, integration, module, plugins, tests

#449 add wafv2_ip_set module
  meta/runtime.yml
  plugins/modules/wafv2_ip_set.py
  plugins/modules/wafv2_ip_set_info.py
  tests/integration/targets/wafv2_ip_set/aliases
  tests/integration/targets/wafv2_ip_set/defaults/main.yml
  tests/integration/targets/wafv2_ip_set/tasks/main.yml
Labels: integration, module, needs_revision, new_module, new_plugin, plugins, tests

#371 Fix passing an instance profile arn to ec2_launch_template
  changelogs/fragments/371-ec2_launch_template-profile-arn.yml
  plugins/modules/ec2_launch_template.py
  tests/integration/targets/ec2_launch_template/tasks/iam_instance_role.yml
Labels: bug, community_review, integration, module, new_contributor, plugins, tests

#526 ec2_instance exception handling and client cleanup
  plugins/modules/ec2_instance.py
  plugins/modules/ec2_instance_info.py
Labels: bug, module, needs_revision, owner_pr, plugins

#516 rds_instance - fix idempotency when using non-lowercase for preferred_maintenance_window
  changelogs/516-rds_instance-preferred_maintenance_window.yml
  plugins/modules/rds_instance.py
  tests/integration/targets/rds_instance/tasks/test_modification.yml
Labels: bug, integration, module, needs_revision, needs_triage, plugins, tests

#533 ec2_instance - fetch status of instance before attempting to set additional parameters
  changelogs/fragments/532-ec2_instance-wait-status.yml
  plugins/modules/ec2_instance.py
Labels: bug, community_review, module, needs_triage, owner_pr, plugins, python3, traceback

#355 Return all infos of a VPC peering connection in ec2_vpc_peer module
  changelogs/fragments/355-ec2_vpc_peer_improvements.yml
  plugins/modules/ec2_vpc_peer.py
  tests/integration/targets/ec2_vpc_peer/tasks/main.yml
Labels: community_review, feature, integration, module, plugins, tests

#535 fix issue #343 for missing AWS_SESSION_TOKEN
  changelogs/fragments/535-aws-ssm-session-token-missing.yml
  plugins/connection/aws_ssm.py
Labels: bug, community_review, connection, needs_triage, new_contributor, plugins

#278 aws_ssm: add profile support in connections
  changelogs/fragments/278-aws_ssm-profile-support.yml
  plugins/connection/aws_ssm.py
Labels: affects_2.10, community_review, connection, feature, gate, integration, new_contributor, plugins, tests

#539 disable shippable jobs
  shippable.yml
Labels: gate, needs_info, needs_revision, needs_template, needs_triage

#493 Fix target group remove / add logic
  changelogs/fragments/493-ec2_asg_tg_updates.yaml
  plugins/modules/ec2_asg.py
  tests/integration/targets/ec2_asg/tasks/main.yml
Labels: bug, community_review, gate, integration, module, plugins, tests

#536 ec2_vpc_peering_info - Add AWSRetry decorator
  changelogs/fragments/536-ec2_vpc_peering_info-retry.yml
  plugins/modules/ec2_vpc_peering_info.py
Labels: community_review, feature, gate, module, needs_triage, owner_pr, plugins

#537 Update ec2_vpc_endpoint_info AWS retries
  changelogs/fragments/537-ec2_vpc_endpoint_info-retries.yml
  plugins/modules/ec2_vpc_endpoint_info.py
  tests/integration/targets/ec2_vpc_endpoint/tasks/main.yml
Labels: community_review, feature, gate, integration, module, needs_triage, plugins, tests, traceback

#531 Run rds_instance tests in parallel (Databases are *slow*)
  tests/integration/targets/rds_instance/defaults/main.yml
  tests/integration/targets/rds_instance/inventory
  tests/integration/targets/rds_instance/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/defaults/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_aurora.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_bad_options.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_credentials.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_encryption.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_final_snapshot.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_modification.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_processor_features.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_read_replica.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_restore_instance.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_snapshot.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_states.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_tags.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_vpc_security_groups.yml
  tests/integration/targets/rds_instance/runme.sh
  tests/integration/targets/rds_instance/tasks/main.yml
Labels: community_review, gate, integration, needs_triage, plugins, tests

#414 rds_instance: map Tags parameters from dict to list on restore_db_instance_from_db_snapshot method
  changelogs/fragments/414-rds_instance-tags-on-creation-from-snapshot.yml
  plugins/modules/rds_instance.py
Labels: feature, gate, has_issue, module, needs_revision, plugins, small_patch

#542 Solves 494: added destructor to ssm connection plugin
  changelogs/fragments/542-ensure-ssm-plugin-terminates-connections.yml
  plugins/connection/aws_ssm.py
Labels: bug, community_review, connection, gate, needs_triage, new_contributor, plugins, small_patch

#528 Route53 - Ensure old return values are still returned
  changelogs/fragments/528-route_53-return-values.yml
  plugins/modules/route53.py
  tests/integration/targets/route53/tasks/main.yml
Labels: bug, community_review, gate, has_issue, integration, module, needs_triage, plugins, tests

#410 Fix KeyError: SecurityGroups in elasticache module.
  changelogs/fragments/410-elasticache-fixes.yml
  plugins/modules/elasticache.py
  tests/integration/targets/elasticache/aliases
  tests/integration/targets/elasticache/defaults/main.yml
  tests/integration/targets/elasticache/tasks/main.yml
Labels: bug, gate, integration, module, needs_revision, plugins, tests

#450 add wafv2 modules
  meta/runtime.yml
  plugins/module_utils/wafv2.py
  plugins/modules/wafv2_resources.py
  plugins/modules/wafv2_resources_info.py
  plugins/modules/wafv2_rule_group.py
  plugins/modules/wafv2_rule_group_info.py
  plugins/modules/wafv2_web_acl.py
  plugins/modules/wafv2_web_acl_info.py
  tests/integration/targets/wafv2/aliases
  tests/integration/targets/wafv2/defaults/main.yml
  tests/integration/targets/wafv2/tasks/alb.yml
  tests/integration/targets/wafv2/tasks/create_webacl.yml
  tests/integration/targets/wafv2/tasks/main.yml
  tests/integration/targets/wafv2/tasks/rule_group.yml
  tests/integration/targets/wafv2/tasks/test_webacl.yml
  tests/integration/targets/wafv2/tasks/waf_resources.yml
Labels: community_review, gate, integration, module, new_module, new_plugin, plugins, tests

#553 Fix KeyError in aws_config_aggregator module
  changelogs/fragments/553-aws_config_aggregator-fix-organization-source.yml
  plugins/modules/aws_config_aggregator.py
Labels: bug, community_review, gate, module, plugins

#548 Collect arguments for application session stickiness and update docs
  changelogs/fragments/548-elb-target-group-app-stickiness.yaml
  docs/community.aws.elb_target_group_module.rst
  plugins/modules/elb_target_group.py
Labels: community_review, docs, feature, gate, module, new_contributor, plugins

#491 Fix cloudfront_distribution disabling ipv6 when updating resource
  plugins/modules/cloudfront_distribution.py
  tests/integration/targets/cloudfront_distribution/tasks/main.yml
Labels: bug, community_review, gate, integration, module, plugins, tests

#499 update elb_xxxx module adding ip_address_type option
  changelogs/499-elb-module-add-ip_address_type_option.yml
  plugins/modules/elb_application_lb.py
  plugins/modules/elb_application_lb_info.py
  plugins/modules/elb_network_lb.py
  tests/integration/targets/elb_application_lb/tasks/full_test.yml
  tests/integration/targets/elb_application_lb/tasks/test_alb_ip_address_type_options.yml
  tests/integration/targets/elb_application_lb_info/aliases
  tests/integration/targets/elb_application_lb_info/defaults/main.yml
  tests/integration/targets/elb_application_lb_info/meta/main.yml
  tests/integration/targets/elb_application_lb_info/tasks/full_test.yml
  tests/integration/targets/elb_application_lb_info/tasks/main.yml
  tests/integration/targets/elb_application_lb_info/tasks/setup.yml
  tests/integration/targets/elb_application_lb_info/tasks/teardown.yml
  tests/integration/targets/elb_application_lb_info/tasks/test_elb_application_lb_info.yml
  tests/integration/targets/elb_network_lb/tasks/main.yml
  tests/integration/targets/elb_network_lb/tasks/test_nlb_ip_address_type_option.yml
Labels: community_review, feature, gate, has_issue, integration, module, plugins, tests

#561 Updated codecove.sh URL
  tests/utils/shippable/shippable.sh
Labels: community_review, docs, gate, needs_triage, small_patch, tests
