Repository ansible-collections/community.aws, pull requests merged in 2021-06, with the labels that each got.

#590 ignore failure with old Python
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
  tests/sanity/refresh_ignore_files
Labels: gate, needs_info, needs_template, tests

#596 Add deprecation changelog for ec2.py inventory script
  changelogs/fragments/deprecate_ec2_inv_script.yml
Labels: community_review, docs, gate, needs_triage, owner_pr

#616 Add NotFound retries when tagging a new RouteTable
  changelogs/fragments/616-ec2_vpc_route_table-tagging.yml
  plugins/modules/ec2_vpc_route_table.py
Labels: bug, community_review, gate, module, owner_pr, plugins, python3, traceback
