Repository ansible-collections/community.aws, pull requests merged in 2021-08, with the labels that each got.

#666 Fixup ec2_vpc_endpoint_service_info test failures
  tests/integration/targets/ec2_vpc_endpoint_service_info/tasks/main.yml
Labels: bug, community_review, gate, integration, needs_triage, plugins, tests

#665 Remove "missing credentials" tests
  tests/integration/targets/aws_api_gateway/tasks/main.yml
  tests/integration/targets/ec2_asg/tasks/main.yml
  tests/integration/targets/ec2_transit_gateway/tasks/main.yml
  tests/integration/targets/lambda/tasks/main.yml
  tests/integration/targets/lambda_policy/tasks/main.yml
  tests/integration/targets/rds_instance/inventory
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_credentials.yml
Labels: community_review, feature, gate, integration, plugins, tests

#663 Formally start the rds deprecation process
  changelogs/fragments/663-deprecate-rds.yml
  meta/runtime.yml
  plugins/modules/rds.py
  tests/sanity/ignore-2.9.txt
Labels: community_review, feature, gate, module, plugins, tests

#664 Formally start the iam deprecation process
  changelogs/fragments/664-deprecate-iam.yml
  meta/runtime.yml
  plugins/modules/iam.py
  tests/sanity/ignore-2.9.txt
Labels: community_review, feature, gate, module, plugins, tests

#660 Update remaining _info modules so that they run in check_mode
  changelogs/fragments/659-checkmode.yml
  plugins/modules/aws_sgw_info.py
  plugins/modules/ec2_asg_info.py
  plugins/modules/ec2_lc_info.py
  plugins/modules/iam_mfa_device_info.py
  plugins/modules/iam_server_certificate_info.py
  plugins/modules/wafv2_resources_info.py
  plugins/modules/wafv2_web_acl_info.py
Labels: community_review, feature, gate, module, needs_triage, owner_pr, plugins

#676 Add supports_check_mode to cloudformation_exports_info cloudfront_info
  changelogs/fragments/659-checkmode.yml
  plugins/modules/cloudformation_exports_info.py
  plugins/modules/cloudfront_info.py
Labels: bug, owner_pr, module, community_review, small_patch, plugins, gate

#648 Add keys_attr parameter to aws_kms_info
  changelogs/fragments/648-kms_info.yml
  plugins/modules/aws_kms_info.py
Labels: feature, owner_pr, module, needs_triage, community_review, plugins, gate

#677 Drop compile/import tests for old versions of python in sanity tests
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
  tests/sanity/refresh_ignore_files
Labels: feature, tests, needs_triage, community_review, gate

#675 Cleanup boto3/botocore dependencies - remove tests for unsupported versions
  changelogs/fragments/675-boto3-minimums.yml
  plugins/modules/aws_eks_cluster.py
  plugins/modules/aws_msk_cluster.py
  plugins/modules/aws_msk_config.py
  plugins/modules/cloudformation_stack_set.py
  plugins/modules/dynamodb_table.py
  plugins/modules/dynamodb_ttl.py
  plugins/modules/ec2_ami_copy.py
  plugins/modules/ec2_asg.py
  plugins/modules/ec2_launch_template.py
  plugins/modules/ec2_transit_gateway.py
  plugins/modules/ec2_transit_gateway_info.py
  plugins/modules/ec2_vpc_peer.py
  plugins/modules/ecs_ecr.py
  plugins/modules/ecs_service.py
  plugins/modules/ecs_task.py
  plugins/modules/ecs_taskdefinition.py
  plugins/modules/efs.py
  plugins/modules/efs_info.py
  plugins/modules/elb_target_group.py
  plugins/modules/iam_role.py
  plugins/modules/lambda.py
  plugins/modules/rds_instance.py
  plugins/modules/sqs_queue.py
  test-requirements.txt
  tests/integration/targets/aws_eks_cluster/tasks/botocore_lt_1.10.1.yml
  tests/integration/targets/aws_eks_cluster/tasks/botocore_lt_1.12.38.yml
  tests/integration/targets/aws_eks_cluster/tasks/main.yml
  tests/integration/targets/cloudformation_stack_set/playbooks/full_test.yml
  tests/integration/targets/cloudformation_stack_set/runme.sh
  tests/integration/targets/ec2_launch_template/tasks/graceful_failure.yml
  tests/integration/targets/ec2_launch_template/tasks/main.yml
  tests/integration/targets/ec2_metric_alarm/tasks/main.yml
  tests/integration/targets/ecs_cluster/tasks/main.yml
  tests/integration/targets/ecs_cluster/tasks/network_assign_public_ip_fail.yml
  tests/integration/targets/ecs_cluster/tasks/network_fail.yml
  tests/integration/targets/ecs_cluster/tasks/network_force_new_deployment_fail.yml
  tests/integration/targets/efs/playbooks/full_test.yml
  tests/integration/targets/efs/playbooks/version_fail.yml
  tests/integration/targets/efs/runme.sh
  tests/integration/targets/efs/tasks/main.yml
  tests/integration/targets/elb_application_lb/tasks/full_test.yml
  tests/integration/targets/elb_application_lb/tasks/main.yml
  tests/integration/targets/elb_application_lb/tasks/test_multiple_actions_fail.yml
  tests/integration/targets/elb_application_lb_info/tasks/main.yml
  tests/integration/targets/elb_target/defaults/main.yml
  tests/integration/targets/elb_target/files/ansible_lambda_target.py
  tests/integration/targets/elb_target/files/assume-role.json
  tests/integration/targets/elb_target/playbooks/full_test.yml
  tests/integration/targets/elb_target/playbooks/roles/elb_lambda_target/defaults/main.yml
  tests/integration/targets/elb_target/playbooks/roles/elb_target/defaults/main.yml
  tests/integration/targets/elb_target/playbooks/version_fail.yml
  tests/integration/targets/elb_target/runme.sh
  tests/integration/targets/elb_target/tasks/ec2_target.yml
  tests/integration/targets/elb_target/tasks/lambda_target.yml
  tests/integration/targets/elb_target/tasks/main.yml
Labels: needs_rebase, needs_revision, feature, integration, module, tests, needs_triage, community_review, plugins, gate

#574 ecs_taskdefinition: ensure cast to integer and idempotency fix
  changelogs/fragments/574-ecs_taskdefinition-improvement.yml
  plugins/modules/ecs_taskdefinition.py
  tests/integration/targets/ecs_cluster/defaults/main.yml
  tests/integration/targets/ecs_cluster/tasks/full_test.yml
Labels: bug, has_issue, integration, module, tests, community_review, plugins, gate

#680 Wrap Kafka tests in custom virtualenv
  tests/integration/targets/aws_msk_cluster/aliases
  tests/integration/targets/aws_msk_cluster/meta/main.yml
  tests/integration/targets/aws_msk_cluster/tasks/main.yml
  tests/integration/targets/aws_msk_config/aliases
  tests/integration/targets/aws_msk_config/meta/main.yml
  tests/integration/targets/aws_msk_config/tasks/main.yml
Labels: bug, integration, tests, needs_triage, community_review, plugins, gate

#686 Fixup / ignore new pylint 2.9.3 issues
  changelogs/fragments/686-pylint.yml
  plugins/modules/ec2_vpc_vgw.py
  plugins/modules/ec2_vpc_vpn.py
  plugins/modules/ecs_task.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/unit/mock/loader.py
Labels: bug, module, tests, needs_triage, community_review, plugins, gate

#682 aws_s3_bucket_info - Add a check for botocore>='1.18.11' when pulling bucket_ownership_controls
  changelogs/fragments/682-aws_s3_bucket_info-botocore.yml
  plugins/modules/aws_s3_bucket_info.py
  tests/integration/targets/aws_s3_bucket_info/meta/main.yml
  tests/integration/targets/aws_s3_bucket_info/tasks/basic.yml
  tests/integration/targets/aws_s3_bucket_info/tasks/bucket_ownership_controls.yml
  tests/integration/targets/aws_s3_bucket_info/tasks/main.yml
Labels: bug, integration, module, tests, needs_triage, community_review, plugins, gate

#688 use a generator rather than list comprehension when using any()/all()
  changelogs/fragments/688-pylint.yml
  plugins/modules/aws_kms_info.py
  plugins/modules/aws_ses_rule_set.py
  plugins/modules/cloudwatchevent_rule.py
  plugins/modules/elb_target_group.py
  plugins/modules/iam.py
  plugins/modules/iam_group.py
  plugins/modules/iam_role.py
  plugins/modules/iam_user.py
  plugins/modules/rds_instance.py
  tests/sanity/ignore-2.12.txt
Labels: feature, module, tests, needs_triage, community_review, plugins, gate

#681 aws_secret - fix deletion idempotency when not using instant deletion
  changelogs/fragments/681-aws_secret-deletion-idempotency.yml
  plugins/modules/aws_secret.py
  tests/integration/targets/aws_secret/aliases
  tests/integration/targets/aws_secret/tasks/basic.yml
  tests/integration/targets/aws_secret/tasks/main.yaml
  tests/integration/targets/aws_secret/tasks/rotation.yml
Labels: bug, integration, module, tests, needs_triage, community_review, python3, traceback, plugins, gate

#634 tests: use the new tiny_prefix variable
  tests/integration/targets/aws_codebuild/defaults/main.yml
  tests/integration/targets/aws_codepipeline/defaults/main.yml
  tests/integration/targets/aws_msk_cluster/defaults/main.yml
  tests/integration/targets/aws_s3_bucket_info/defaults/main.yml
  tests/integration/targets/aws_ses_rule_set/defaults/main.yaml
  tests/integration/targets/aws_step_functions_state_machine/defaults/main.yml
  tests/integration/targets/ec2_launch_template/defaults/main.yml
  tests/integration/targets/lambda/defaults/main.yml
  tests/integration/targets/lambda_alias/defaults/main.yml
  tests/integration/targets/lambda_policy/defaults/main.yml
  tests/integration/targets/redshift/defaults/main.yml
  tests/integration/targets/s3_bucket_notification/defaults/main.yml
  tests/integration/targets/s3_lifecycle/defaults/main.yml
  tests/integration/targets/s3_logging/defaults/main.yml
  tests/integration/targets/s3_metrics_configuration/defaults/main.yml
  tests/integration/targets/s3_sync/defaults/main.yml
  tests/integration/targets/sns_topic/defaults/main.yml
  tests/integration/targets/sts_assume_role/defaults/main.yml
Labels: bug, integration, tests, community_review, plugins, gate

#674 Adding s3_origin_config to docs in parameters and return values (from changes in PR #39)
  plugins/modules/cloudfront_distribution.py
Labels: bug, new_contributor, module, community_review, plugins, gate

#608 New module 'efs_tag'
  plugins/modules/efs_tag.py
  tests/integration/targets/efs/aliases
  tests/integration/targets/efs/defaults/main.yml
  tests/integration/targets/efs/tasks/main.yml
Labels: new_plugin, new_module, integration, module, tests, community_review, plugins, gate

#692 s3_sync: file_root parameter - handle individual file path
  changelogs/fragments/692-s3_sync-individual-file-path.yml
  plugins/modules/s3_sync.py
  tests/integration/targets/s3_sync/defaults/main.yml
  tests/integration/targets/s3_sync/tasks/main.yml
Labels: bug, new_contributor, has_issue, integration, module, tests, community_review, plugins, gate

#695 s3_sync: Integration test fix: empty buckets before deleting
  tests/integration/targets/s3_sync/tasks/main.yml
Labels: bug, integration, tests, community_review, plugins, gate

#697 iam_role: replace UpdateRoleDescription with use UpdateRole
  changelogs/fragments/697-iam_role-replace-UpdateRoleDescription-with-UpdateRole.yml
  plugins/modules/iam_role.py
Labels: bug, module, community_review, small_patch, plugins, gate
