Repository ansible-collections/community.aws, pull requests merged in 2021-02, with the labels that each got.

#372 [ec2_vpc_nat_gateway] Add tag support
  plugins/modules/ec2_vpc_nat_gateway.py
  tests/integration/targets/ec2_vpc_nat_gateway/defaults/main.yml
  tests/integration/targets/ec2_vpc_nat_gateway/tasks/main.yml
Labels: feature, integration, module, needs_revision, plugins, tests

#373 ec2_instance - Apply retry decorators more consistently.
  changelogs/fragments/373-ec2_instance-retry-pagination.yml
  plugins/modules/ec2_instance.py
Labels: community_review, feature, module, needs_triage, owner_pr, plugins

#390 Update boto3 versions for elbv2 tests
  tests/integration/targets/ecs_cluster/tasks/main.yml
  tests/integration/targets/elb_target/runme.sh
  tests/integration/targets/elb_target_info/runme.sh
Labels: community_review, feature, integration, needs_triage, plugins, tests

#268 Cleanup - use is_boto3_error_(message|code)
  changelogs/fragments/268-is_boto3_error.yml
  plugins/modules/aws_elasticbeanstalk_app.py
  plugins/modules/aws_glue_connection.py
  plugins/modules/aws_glue_job.py
  plugins/modules/aws_kms_info.py
  plugins/modules/aws_ssm_parameter_store.py
  plugins/modules/aws_step_functions_state_machine_execution.py
  plugins/modules/aws_waf_condition.py
  plugins/modules/cloudfront_invalidation.py
  plugins/modules/cloudwatchevent_rule.py
  plugins/modules/data_pipeline.py
  plugins/modules/ec2_asg.py
  plugins/modules/ec2_asg_info.py
  plugins/modules/ec2_instance.py
  plugins/modules/ec2_placement_group.py
  plugins/modules/ec2_transit_gateway_info.py
  plugins/modules/ec2_vpc_egress_igw.py
  plugins/modules/ec2_vpc_nacl_info.py
  plugins/modules/ec2_vpc_route_table.py
  plugins/modules/ecs_ecr.py
  plugins/modules/ecs_service_info.py
  plugins/modules/efs.py
  plugins/modules/elasticache.py
  plugins/modules/elasticache_info.py
  plugins/modules/elasticache_snapshot.py
  plugins/modules/elb_target_group.py
  plugins/modules/execute_lambda.py
  plugins/modules/iam_group.py
  plugins/modules/iam_managed_policy.py
  plugins/modules/iam_password_policy.py
  plugins/modules/iam_policy_info.py
  plugins/modules/iam_role.py
  plugins/modules/iam_role_info.py
  plugins/modules/iam_user.py
  plugins/modules/lambda_alias.py
  plugins/modules/lambda_facts.py
  plugins/modules/lambda_info.py
  plugins/modules/lambda_policy.py
  plugins/modules/lightsail.py
  plugins/modules/rds_instance.py
  plugins/modules/rds_param_group.py
  plugins/modules/s3_lifecycle.py
  plugins/modules/sqs_queue.py
Labels: affects_2.10, feature, module, needs_revision, owner_pr, plugins

#394 Unit tests - post-move quick fixes
  tests/unit/plugins/modules/test_aws_acm.py
  tests/unit/plugins/modules/test_aws_api_gateway.py
  tests/unit/plugins/modules/test_aws_direct_connect_confirm_connection.py
  tests/unit/plugins/modules/test_ec2_win_password.py
  tests/unit/plugins/modules/test_iam_password_policy.py
  tests/unit/plugins/modules/test_lambda.py
  tests/unit/plugins/modules/test_lambda_policy.py
  tests/unit/plugins/modules/test_route53_zone.py
  tests/unit/plugins/modules/test_s3_bucket_notification.py
Labels: module, needs_maintainer, needs_revision, needs_triage, tests

#400 Disable Azure Pipelines
  .azure-pipelines/README.md
  .azure-pipelines/azure-pipelines.yml
  .azure-pipelines/scripts/aggregate-coverage.sh
  .azure-pipelines/scripts/combine-coverage.py
  .azure-pipelines/scripts/process-results.sh
  .azure-pipelines/scripts/publish-codecov.sh
  .azure-pipelines/scripts/report-coverage.sh
  .azure-pipelines/scripts/run-tests.sh
  .azure-pipelines/scripts/time-command.py
  .azure-pipelines/templates/coverage.yml
  .azure-pipelines/templates/matrix.yml
  .azure-pipelines/templates/test.yml
  tests/utils/shippable/shippable.sh
Labels: bug, community_review, needs_triage, tests

#214 ec2_instance - Use shared module implementation of get_ec2_security_group_ids_from_names
  changelogs/fragments/214-get_ec2_security_group_ids_from_names.yml
  plugins/modules/ec2_instance.py
Labels: affects_2.10, bug, community_review, module, needs_triage, owner_pr, plugins

#200 aws_kms: Support setting PendingWindowInDays (Deletion Delay) and fix tests
  changelogs/fragments/200-aws_kms-deletion.yaml
  plugins/modules/aws_kms.py
  plugins/modules/aws_kms_info.py
  tests/integration/targets/aws_kms/aliases
  tests/integration/targets/aws_kms/defaults/main.yml
  tests/integration/targets/aws_kms/tasks/main.yml
Labels: affects_2.10, bug, community_review, has_issue, integration, module, needs_triage, plugins, tests

#391 Move community.aws tests from ec2 to ec2_instance
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/tasks/main.yml
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/templates/ec2_linux_vars_to_delete.yml.j2
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/templates/ec2_windows_vars_to_delete.yml.j2
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/templates/inventory-linux.aws_ssm.j2
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/templates/inventory-windows.aws_ssm.j2
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_teardown/tasks/main.yml
  tests/integration/targets/elb_target/playbooks/roles/elb_lambda_target/defaults/main.yml
  tests/integration/targets/elb_target/playbooks/roles/elb_target/tasks/main.yml
  tests/integration/targets/elb_target_info/playbooks/roles/elb_target_info/tasks/main.yml
Labels: community_review, integration, needs_triage, plugins, tests

#406 Fix data_pipeline unit test - error code not properly caught
  plugins/modules/data_pipeline.py
Labels: bug, community_review, module, needs_triage, owner_pr, plugins, small_patch

#407 Remove ec2_vpc_nat_gateway unit tests
  tests/integration/targets/ec2_vpc_nat_gateway/tasks/main.yml
  tests/unit/plugins/modules/test_ec2_vpc_nat_gateway.py
Labels: integration, module, needs_maintainer, needs_revision, needs_triage, plugins, tests

#408 fix wrong element spec for rules param in aws_s3_cors
  changelogs/fragments/404-fix-dict-element-for-rule-param-in-aws-s3-cors.yml
  plugins/modules/aws_s3_cors.py
Labels: bug, community_review, module, needs_triage, plugins, small_patch

#402 Fix parameter validation in ecs_task
  changelogs/fragments/402-ecs_task-mandatory_params.yml
  plugins/modules/ecs_task.py
Labels: bug, community_review, module, needs_triage, new_contributor, plugins

#366 ec2_vpc_endpoint - deprecate policy_file
  changelogs/fragments/366-ec2_vpc_endpoint-policy_file.yml
  plugins/modules/ec2_vpc_endpoint.py
  tests/sanity/ignore-2.9.txt
Labels: feature, module, needs_revision, needs_triage, plugins, tests

#362 ec2_vpc_endpoint - fixup deletion 'changed'
  plugins/modules/ec2_vpc_endpoint.py
  tests/integration/targets/ec2_vpc_endpoint/aliases
  tests/integration/targets/ec2_vpc_endpoint/defaults/main.yml
  tests/integration/targets/ec2_vpc_endpoint/tasks/main.yml
Labels: bug, community_review, integration, module, needs_triage, plugins, tests

#405 route53 - Refactor to use boto3
  changelogs/fragments/405-route53-boto3.yml
  docs/community.aws.route53_module.rst
  plugins/modules/route53.py
Labels: community_review, docs, feature, module, needs_triage, new_contributor, plugins

#409 Add missing changelog fragments
  changelogs/fragments/362-ec2_vpc_endpoint-deletion-changed.yml
Labels: community_review, docs, needs_triage, owner_pr

#411 Add comments to the disabled/unsupported integration tests
  tests/integration/targets/aws_config/aliases
  tests/integration/targets/aws_eks_cluster/aliases
  tests/integration/targets/aws_secret/aliases
  tests/integration/targets/aws_waf_web_acl/aliases
  tests/integration/targets/cloudformation_stack_set/aliases
  tests/integration/targets/cloudfront_distribution/aliases
  tests/integration/targets/cloudtrail/aliases
  tests/integration/targets/connection_aws_ssm/aliases
  tests/integration/targets/dms_endpoint/aliases
  tests/integration/targets/dms_replication_subnet_group/aliases
  tests/integration/targets/ec2_asg/aliases
  tests/integration/targets/ecs_cluster/aliases
  tests/integration/targets/ecs_tag/aliases
  tests/integration/targets/efs/aliases
  tests/integration/targets/elb_network_lb/aliases
  tests/integration/targets/elb_target_info/aliases
  tests/integration/targets/iam_group/aliases
  tests/integration/targets/iam_password_policy/aliases
  tests/integration/targets/iam_policy/aliases
  tests/integration/targets/iam_role/aliases
  tests/integration/targets/iam_saml_federation/aliases
  tests/integration/targets/iam_user/aliases
  tests/integration/targets/rds_instance/aliases
  tests/integration/targets/s3_lifecycle/aliases
  tests/integration/targets/s3_logging/aliases
  tests/integration/targets/sns/aliases
  tests/integration/targets/sns_topic/aliases
Labels: community_review, docs, integration, needs_triage, plugins, tests

#295 Flag aws_ssm as unstable rather than disabled
  changelogs/fragments/295-connection-aws_ssm.yml
  plugins/connection/aws_ssm.py
  tests/integration/targets/connection/test_connection.yml
  tests/integration/targets/connection_aws_ssm/aliases
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/defaults/main.yml
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/tasks/main.yml
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/templates/aws-env-vars.j2
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/templates/ec2_linux_vars_to_delete.yml.j2
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/templates/ec2_windows_vars_to_delete.yml.j2
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/templates/inventory-combined.aws_ssm.j2
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/templates/inventory-linux.aws_ssm.j2
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/templates/inventory-windows.aws_ssm.j2
  tests/integration/targets/connection_aws_ssm/inventory.aws_ssm.template
  tests/integration/targets/connection_aws_ssm/runme.sh
  tests/unit/plugins/connection/test_aws_ssm.py
Labels: affects_2.10, bug, connection, integration, needs_revision, needs_triage, plugins, tests

#416 Handle new sanity checks
  plugins/modules/ec2_vpc_route_table.py
  tests/sanity/ignore-2.11.txt
Labels: bug, community_review, module, needs_triage, plugins, small_patch, tests

#417 Add boto3 requirements to route53 module docs
  plugins/modules/route53.py
Labels: community_review, docs, module, needs_triage, owner_pr, plugins, small_patch

#420 sts_assume_role: Relax expectations on message when passing a non-integer as duration
  tests/integration/targets/sts_assume_role/tasks/main.yml
Labels: bug, community_review, integration, needs_triage, plugins, tests

#415 Prepare 1.4.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/200-aws_kms-deletion.yaml
  changelogs/fragments/214-get_ec2_security_group_ids_from_names.yml
  changelogs/fragments/268-is_boto3_error.yml
  changelogs/fragments/280-cleanup-botocore_at_least.yml
  changelogs/fragments/295-connection-aws_ssm.yml
  changelogs/fragments/326-launch_template_retry.yml
  changelogs/fragments/328-fix-ec2_eip-instance-id-private-ip-address.yml
  changelogs/fragments/349-ec2_eip-deprecate-instance_id.yml
  changelogs/fragments/350_elb_application_lb_purges_listeners.yaml
  changelogs/fragments/352-fix-aws-region-and-v4-signature-for-s3-boto-client.yml
  changelogs/fragments/356_add_minimum_uptime_parameter.yaml
  changelogs/fragments/360-imports-cleanup.yml
  changelogs/fragments/361-fail_json_aws.yml
  changelogs/fragments/362-ec2_vpc_endpoint-deletion-changed.yml
  changelogs/fragments/366-ec2_vpc_endpoint-policy_file.yml
  changelogs/fragments/373-ec2_instance-retry-pagination.yml
  changelogs/fragments/402-ecs_task-mandatory_params.yml
  changelogs/fragments/404-fix-dict-element-for-rule-param-in-aws-s3-cors.yml
  changelogs/fragments/405-route53-boto3.yml
  docs/community.aws.aws_kms_info_module.rst
  docs/community.aws.aws_kms_module.rst
  docs/community.aws.aws_s3_cors_module.rst
  docs/community.aws.ec2_eip_module.rst
  docs/community.aws.ec2_instance_info_module.rst
  docs/community.aws.ec2_metric_alarm_module.rst
  docs/community.aws.ec2_vpc_endpoint_module.rst
  docs/community.aws.ec2_vpc_nat_gateway_module.rst
  docs/community.aws.ecs_task_module.rst
  docs/community.aws.route53_module.rst
  docs/community.aws.s3_lifecycle_module.rst
  galaxy.yml
  tests/requirements.yml
Labels: docs, feature, needs_revision, needs_triage, tests

#421 Add retries to ec2_vpc_egress_igw
  changelogs/fragments/421-ec2_vpc_egress_igw-retry.yml
  plugins/modules/ec2_vpc_egress_igw.py
Labels: feature, module, needs_revision, needs_triage, owner_pr, plugins

#422 Enable AWSRetry on aws_region_info
  changelogs/fragments/422-aws_region_info-retry.yml
  plugins/modules/aws_region_info.py
Labels: community_review, feature, module, needs_triage, owner_pr, plugins, small_patch

#396 Cleanup lambda_alias
  changelogs/fragments/396-lambda_alias.yml
  plugins/modules/lambda_alias.py
  tests/integration/targets/lambda_alias/aliases
  tests/integration/targets/lambda_alias/defaults/main.yml
  tests/integration/targets/lambda_alias/files/mini_lambda.py
  tests/integration/targets/lambda_alias/files/minimal_trust_policy.json
  tests/integration/targets/lambda_alias/meta/main.yml
  tests/integration/targets/lambda_alias/tasks/main.yml
Labels: community_review, feature, integration, module, needs_triage, plugins, tests

#429 Mark the ec2_vpc_nat_gateway integration tests 'unstable'
  tests/integration/targets/ec2_vpc_nat_gateway/aliases
Labels: community_review, integration, needs_triage, plugins, small_patch, tests

#431 Yet more integration test aliases file cleanup
  tests/integration/targets/aws_acm/aliases
  tests/integration/targets/aws_config/aliases
  tests/integration/targets/aws_eks_cluster/aliases
  tests/integration/targets/aws_kms/aliases
  tests/integration/targets/aws_secret/aliases
  tests/integration/targets/aws_step_functions_state_machine/aliases
  tests/integration/targets/aws_waf_web_acl/aliases
  tests/integration/targets/cloudformation_exports_info/aliases
  tests/integration/targets/cloudwatchlogs/aliases
  tests/integration/targets/connection/aliases
  tests/integration/targets/ec2_asg/aliases
  tests/integration/targets/ec2_eip/aliases
  tests/integration/targets/ec2_instance/aliases
  tests/integration/targets/ec2_transit_gateway/aliases
  tests/integration/targets/ec2_vpc_endpoint/aliases
  tests/integration/targets/ec2_vpc_igw/aliases
  tests/integration/targets/ec2_vpc_nacl/aliases
  tests/integration/targets/ec2_vpc_route_table/aliases
  tests/integration/targets/ec2_vpc_vgw/aliases
  tests/integration/targets/ec2_vpc_vpn_info/aliases
  tests/integration/targets/ecs_ecr/aliases
  tests/integration/targets/elb_classic_lb/aliases
  tests/integration/targets/elb_network_lb/aliases
  tests/integration/targets/elb_target/aliases
  tests/integration/targets/lambda/aliases
  tests/integration/targets/route53/aliases
  tests/integration/targets/s3_logging/aliases
  tests/integration/targets/s3_sync/aliases
Labels: community_review, integration, needs_triage, plugins, tests

#427 improve ec2_vpc_nat_gateway stability
  changelogs/fragments/427-ec2_vpc_nat_gateway-stability.yml
  plugins/modules/ec2_vpc_nat_gateway.py
  tests/integration/targets/ec2_vpc_nat_gateway/aliases
Labels: bug, community_review, integration, module, needs_triage, plugins, tests

#387 ec2_vpc_nat_gateway: increase integration tests coverage
  tests/integration/targets/ec2_vpc_nat_gateway/aliases
  tests/integration/targets/ec2_vpc_nat_gateway/tasks/main.yml
Labels: integration, needs_revision, needs_triage, plugins, tests

#440 Cleanup aws_config tests
  tests/integration/targets/aws_config/aliases
  tests/integration/targets/aws_config/defaults/main.yaml
  tests/integration/targets/aws_config/tasks/main.yaml
Labels: community_review, integration, needs_triage, tests

#441 ec2_vpc_nat_gateway move describe_addresses call back to non-paginated
  plugins/modules/ec2_vpc_nat_gateway.py
Labels: bug, module, needs_revision, needs_triage, owner_pr, plugins

#443 Move a couple of 4 minute tests out of group 2 into 1&4
  tests/integration/targets/aws_api_gateway/aliases
  tests/integration/targets/aws_config/aliases
  tests/integration/targets/ec2_transit_gateway/aliases
  tests/integration/targets/iam_password_policy/aliases
  tests/integration/targets/s3_lifecycle/aliases
  tests/integration/targets/s3_logging/aliases
Labels: community_review, integration, needs_triage, plugins, tests

#446 ec2_vpc_nat_gateway_info: add retry decorator to solve RequestLimitExceeded error
  changelogs/fragments/446-ec2_vpc_nat_gateway_info_stability.yml
  plugins/modules/ec2_vpc_nat_gateway_info.py
Labels: bug, community_review, module, needs_triage, plugins
