Repository ansible-collections/community.aws, pull requests merged in 2021-09, with the labels that each got.

#711 Bump botocore/boto3 requirements prior to release of 2.0.0
  README.md
  changelogs/fragments/675-boto3-minimums.yml
  plugins/modules/aws_msk_cluster.py
  plugins/modules/aws_msk_config.py
  plugins/modules/dynamodb_table.py
  requirements.txt
  tests/integration/targets/aws_msk_cluster/tasks/main.yml
  tests/integration/targets/aws_msk_config/tasks/main.yml
  tests/integration/targets/aws_s3_bucket_info/tasks/bucket_ownership_controls.yml
  tests/unit/requirements.txt
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, gate

#720 Split elasticache_subnet_group integration tests out
  tests/integration/targets/elasticache/aliases
  tests/integration/targets/elasticache_subnet_group/aliases
  tests/integration/targets/elasticache_subnet_group/defaults/main.yml
  tests/integration/targets/elasticache_subnet_group/meta/main.yml
  tests/integration/targets/elasticache_subnet_group/tasks/main.yml
Labels: feature, integration, tests, needs_triage, community_review, plugins, gate

#725 Integration tests for dynamodb
  tests/integration/targets/dynamodb_table/aliases
  tests/integration/targets/dynamodb_table/defaults/main.yml
  tests/integration/targets/dynamodb_table/meta/main.yml
  tests/integration/targets/dynamodb_table/tasks/main.yml
Labels: feature, integration, tests, needs_triage, community_review, plugins, gate

#723 Migrate elasticache_subnet_group to boto3
  changelogs/fragments/723-elasticache_subnet_group-boto3.yml
  plugins/modules/elasticache_subnet_group.py
  tests/integration/targets/elasticache_subnet_group/tasks/main.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, gate

#719 Add integration tests for redshift_subnet_group
  plugins/modules/redshift_subnet_group.py
  tests/integration/targets/redshift_subnet_group/aliases
  tests/integration/targets/redshift_subnet_group/defaults/main.yml
  tests/integration/targets/redshift_subnet_group/meta/main.yml
  tests/integration/targets/redshift_subnet_group/tasks/main.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, gate

#724 Migrate redshift_subnet_group to boto3
  changelogs/fragments/724-redshift_subnet_group-boto3.yml
  plugins/modules/redshift_subnet_group.py
  tests/integration/targets/redshift_subnet_group/tasks/main.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, gate

#728 Rename iam_cert to iam_server_certificate for consistency
  changelogs/fragments/728-iam_cert.yml
  meta/runtime.yml
  plugins/modules/iam_server_certificate.py
  tests/integration/targets/iam_server_certificate/aliases
  tests/integration/targets/iam_server_certificate/defaults/main.yml
  tests/integration/targets/iam_server_certificate/meta/main.yml
  tests/integration/targets/iam_server_certificate/tasks/main.yml
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, gate

#731 Fix EIP allocation with in_vpc not set
  changelogs/fragments/731-ec2_eip-not_in_vpc.yml
  plugins/modules/ec2_eip.py
  tests/integration/targets/ec2_eip/tasks/main.yml
Labels: bug, integration, module, tests, needs_triage, community_review, python3, traceback, plugins, gate

#702 Undocumented IOPS return
  plugins/modules/rds_instance_info.py
Labels: new_contributor, module, community_review, plugins, docs, gate

#670 elb_target_group - add preserve_client_ip_enabled and proxy_protocol_v2_enabled options
  changelogs/fragments/670-elb_target_group-new_attriibutes.yml
  plugins/modules/elb_target_group.py
  tests/integration/targets/elb_target/tasks/ec2_target.yml
Labels: feature, integration, module, tests, community_review, plugins, gate

#738 Copy ignore-2.12.txt to ignore-2.13.txt
  changelogs/fragments/0-copy_ignore_txt.yml
  tests/sanity/ignore-2.13.txt
Labels: needs_info, needs_template, tests, needs_triage, gate

#735 Deprecate passing file names to the iam_server_certificate module
  changelogs/fragments/735-iam_server_certificate-file-names.yml
  plugins/modules/iam_server_certificate.py
Labels: feature, owner_pr, module, needs_triage, community_review, plugins, gate
