Repository ansible-collections/community.aws, pull requests merged in 2021-07, with the labels that each got.

#547 feat(kafka): aws_msk_config and aws_msk_cluster modules have been added
  meta/runtime.yml
  plugins/modules/aws_msk_cluster.py
  plugins/modules/aws_msk_config.py
  tests/integration/targets/aws_msk_cluster/aliases
  tests/integration/targets/aws_msk_cluster/defaults/main.yml
  tests/integration/targets/aws_msk_cluster/tasks/main.yml
  tests/integration/targets/aws_msk_cluster/tasks/test_create.yml
  tests/integration/targets/aws_msk_cluster/tasks/test_delete.yml
  tests/integration/targets/aws_msk_cluster/tasks/test_update.yml
  tests/integration/targets/aws_msk_config/aliases
  tests/integration/targets/aws_msk_config/defaults/main.yml
  tests/integration/targets/aws_msk_config/tasks/main.yml
Labels: community_review, gate, integration, module, new_contributor, new_module, new_plugin, plugins, tests

#619 cdaws_ssm - rename retries setting
  changelogs/fragments/rename-connection-retries.yml
  plugins/connection/aws_ssm.py
Labels: bug, community_review, connection, gate, needs_triage, new_contributor, plugins, small_patch

#622 test: aws_msk_cluster is slow
  tests/integration/targets/aws_msk_cluster/aliases
Labels: gate, integration, needs_info, needs_template, needs_triage, plugins, tests

#628 Add markuman as a collection maintainer to BOTMETA
  .github/BOTMETA.yml
Labels: community_review, feature, gate, needs_triage, small_patch

#600 fix: typo for verifying environmentFiles
  changelogs/600-ecs-task-defination-env-file-validations.yml
  plugins/modules/ecs_taskdefinition.py
Labels: bug, community_review, gate, module, new_contributor, plugins

#586 Cleanup ec2_elb*
  changelogs/fragments/586-elb-renames.yml
  meta/runtime.yml
  plugins/modules/ec2_elb.py
  plugins/modules/ec2_elb_info.py
  plugins/modules/elb_classic_lb.py
  plugins/modules/elb_instance.py
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.9.txt
Labels: community_review, feature, gate, module, plugins, tests

#592 Fix queue attribute comparison
  changelogs/592-sqs_queue-idempotent.yml
  plugins/modules/sqs_queue.py
  tests/integration/targets/sqs_queue/tasks/main.yml
Labels: bug, community_review, gate, integration, module, plugins, tests

#630 Move changelog fragments to the right place
  changelogs/fragments/499-elb-module-add-ip_address_type_option.yml
  changelogs/fragments/516-rds_instance-preferred_maintenance_window.yml
  changelogs/fragments/564-route53-retries.yml
  changelogs/fragments/592-sqs_queue-idempotent.yml
  changelogs/fragments/600-ecs-task-defination-env-file-validations.yml
Labels: community_review, docs, gate, owner_pr

#629 Cleanup / unused imports
  changelogs/fragments/629-imports-cleanup.yml
  plugins/modules/ec2_vpc_endpoint.py
  plugins/modules/ec2_vpc_endpoint_info.py
  plugins/modules/ec2_vpc_peering_info.py
  plugins/modules/kinesis_stream.py
  plugins/modules/wafv2_ip_set.py
  plugins/modules/wafv2_ip_set_info.py
  plugins/modules/wafv2_resources.py
  plugins/modules/wafv2_resources_info.py
  plugins/modules/wafv2_rule_group.py
  plugins/modules/wafv2_rule_group_info.py
  plugins/modules/wafv2_web_acl.py
  plugins/modules/wafv2_web_acl_info.py
  scripts/inventory/ec2.py
  tests/unit/compat/builtins.py
  tests/unit/plugins/modules/test_aws_acm.py
  tests/unit/plugins/modules/test_aws_direct_connect_confirm_connection.py
  tests/unit/plugins/modules/test_aws_direct_connect_connection.py
  tests/unit/plugins/modules/test_aws_direct_connect_link_aggregation_group.py
  tests/unit/plugins/modules/test_aws_direct_connect_virtual_interface.py
  tests/unit/plugins/modules/test_data_pipeline.py
  tests/unit/plugins/modules/test_ec2_vpc_vpn.py
  tests/unit/plugins/modules/test_lambda.py
Labels: community_review, feature, gate, inventory, module, needs_maintainer, needs_triage, plugins, tests

#599 Allow specifying topic type for SNS module.
  changelogs/fragments/sns_topic_type.yml
  plugins/modules/sns_topic.py
  tests/integration/targets/sns_topic/aliases
  tests/integration/targets/sns_topic/defaults/main.yml
  tests/integration/targets/sns_topic/tasks/main.yml
Labels: community_review, feature, gate, integration, module, plugins, tests

#635 Add Issue Templates/Forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/ci_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: community_review, feature, gate, needs_triage

#638 tests: turn off elb_target for now
  tests/integration/targets/elb_target/aliases
Labels: bug, community_review, gate, integration, needs_triage, plugins, small_patch, tests

#639 tests: disable aws_ssm_parameter_store
  tests/integration/targets/aws_ssm_parameter_store/aliases
Labels: CI, bug, community_review, gate, integration, needs_triage, plugins, tests

#643 tests: disable ec2_vpc_endpoint
  tests/integration/targets/ec2_vpc_endpoint/aliases
Labels: bug, community_review, gate, integration, needs_triage, plugins, small_patch, tests

#641 tests: flag elb_application_lb as slow
  tests/integration/targets/elb_application_lb/aliases
Labels: bug, community_review, gate, integration, plugins, tests
