Repository ansible-collections/community.aws, pull requests merged in 2021-03, with the labels that each got.

#456 Add test-requirements.txt for zuul CI
  test-requirements.txt
Labels: community_review, needs_triage

#457 add coverage as a test requirement
  test-requirements.txt
Labels: community_review, needs_triage

#458 test: add more dependencies for unit-tests
  test-requirements.txt
Labels: community_review, needs_triage

#452 docs: Fix indentation in aws_config_recorder example
  docs/community.aws.aws_config_recorder_module.rst
Labels: community_review, docs, needs_triage, new_contributor, small_patch

#460 Added support for 'vpc_endpoint_type'.
  changelogs/fragments/460-add-support-for-vpc-endpoint-type.yml
  plugins/modules/ec2_vpc_endpoint.py
  tests/integration/targets/ec2_vpc_endpoint/tasks/main.yml
Labels: community_review, feature, has_issue, integration, module, needs_triage, new_contributor, plugins, tests

#465 Fix version_added and changelog from #460
  changelogs/fragments/460-add-support-for-vpc-endpoint-type.yml
  plugins/modules/ec2_vpc_endpoint.py
Labels: community_review, docs, module, needs_triage, owner_pr, plugins, small_patch

#398 ec2_vpc_nacl: add IPv6 support
  changelogs/fragments/398-ec2-vpc-nacl-add-ipv6.yaml
  plugins/modules/ec2_vpc_nacl.py
  tests/integration/targets/ec2_vpc_nacl/tasks/ipv6.yml
Labels: feature, integration, module, needs_revision, needs_triage, new_contributor, plugins, tests

#419 iam_saml_federation - return details of provider when no changes are made
  changelogs/fragments/419-iam_saml_federation-results.yml
  plugins/modules/iam_saml_federation.py
  tests/integration/targets/iam_saml_federation/aliases
  tests/integration/targets/iam_saml_federation/defaults/main.yml
  tests/integration/targets/iam_saml_federation/tasks/main.yml
Labels: feature, integration, module, needs_revision, plugins, tests

#454 sns_topic: Allow canonical international-format phone numbers in SMS subscriptions
  changelogs/fragments/454-sns_topic_fix_sms_endpoint_canonicalization.yaml
  plugins/modules/sns_topic.py
Labels: bug, community_review, module, needs_triage, new_contributor, plugins, small_patch

#442 Cleanup ec2_vpc_route_table(_info)
  changelogs/fragments/442-ec2_vpc_route_table-stability.yml
  plugins/modules/ec2_vpc_route_table.py
  plugins/modules/ec2_vpc_route_table_info.py
  tests/integration/targets/ec2_vpc_route_table/aliases
Labels: community_review, feature, integration, module, plugins, tests

#436 [ec2_vpc_nat_gateway] Fix broken check_mode
  plugins/modules/ec2_vpc_nat_gateway.py
  tests/integration/targets/ec2_vpc_nat_gateway/tasks/main.yml
Labels: bug, community_review, integration, module, plugins, tests

#467 Avoid per-test virtual environments where possible
  tests/integration/targets/ec2_launch_template/defaults/main.yml
  tests/integration/targets/ec2_launch_template/files/assume-role-policy.json
  tests/integration/targets/ec2_launch_template/meta/main.yml
  tests/integration/targets/ec2_launch_template/playbooks/full_test.yml
  tests/integration/targets/ec2_launch_template/playbooks/roles/ec2_launch_template/meta/main.yml
  tests/integration/targets/ec2_launch_template/playbooks/roles/ec2_launch_template/tasks/main.yml
  tests/integration/targets/ec2_launch_template/playbooks/version_fail.yml
  tests/integration/targets/ec2_launch_template/runme.sh
  tests/integration/targets/ec2_launch_template/tasks/cpu_options.yml
  tests/integration/targets/ec2_launch_template/tasks/graceful_failure.yml
  tests/integration/targets/ec2_launch_template/tasks/iam_instance_role.yml
  tests/integration/targets/ec2_launch_template/tasks/main.yml
  tests/integration/targets/ec2_launch_template/tasks/tags_and_vpc_settings.yml
  tests/integration/targets/ec2_launch_template/tasks/versions.yml
  tests/integration/targets/elb_application_lb/defaults/main.yml
  tests/integration/targets/elb_application_lb/tasks/full_test.yml
  tests/integration/targets/elb_application_lb/tasks/main.yml
  tests/integration/targets/elb_application_lb/tasks/multiple_actions_fail.yml
  tests/integration/targets/elb_application_lb/tasks/test_alb_bad_listener_options.yml
  tests/integration/targets/elb_application_lb/tasks/test_multiple_actions_fail.yml
  tests/integration/targets/elb_target_info/defaults/main.yml
  tests/integration/targets/elb_target_info/playbooks/full_test.yml
  tests/integration/targets/elb_target_info/runme.sh
  tests/integration/targets/elb_target_info/tasks/main.yml
Labels: community_review, integration, needs_triage, plugins, tests

#424 Fix state=get on route53 module (Issue #423)
  changelogs/fragments/406-route53-state-get.yml
  plugins/modules/route53.py
  tests/integration/targets/route53/tasks/main.yml
Labels: bug, community_review, has_issue, integration, module, needs_triage, plugins, tests

#471 More no_log changes
  changelogs/fragments/471-no_log.yml
  plugins/modules/aws_secret.py
  plugins/modules/s3_sync.py
Labels: bug, community_review, module, needs_triage, owner_pr, plugins, small_patch

#470 Make "unit" parameter optional and add support for check mode
  changelogs/fragments/470-ec2_metric_alarm-unit-optional.yml
  plugins/modules/ec2_metric_alarm.py
  tests/integration/targets/ec2_metric_alarm/tasks/main.yml
Labels: community_review, feature, integration, module, plugins, tests

#474 More no_log=False to fix sanity tests
  plugins/modules/aws_batch_compute_environment.py
  plugins/modules/aws_codebuild.py
  plugins/modules/cloudtrail.py
  plugins/modules/dms_endpoint.py
  plugins/modules/ec2_vpc_endpoint.py
  plugins/modules/ec2_vpc_nat_gateway.py
  plugins/modules/ecs_service.py
  plugins/modules/iam.py
  plugins/modules/lambda.py
  plugins/modules/lambda_policy.py
  plugins/modules/s3_website.py
  plugins/modules/sqs_queue.py
Labels: bug, community_review, module, needs_triage, plugins

#475 [security] Fix missing no_log=True
  changelogs/fragments/475-no_log-missing.yml
  plugins/modules/aws_direct_connect_virtual_interface.py
  plugins/modules/sts_assume_role.py
  plugins/modules/sts_session_token.py
Labels: bug, community_review, module, plugins

#322 add metadata options to ec2 template
  changelogs/fragments/322-ec2_launch_template-add-metadata_options.yml
  plugins/modules/ec2_launch_template.py
  tests/integration/targets/ec2_launch_template/tasks/instance-metadata.yml
  tests/integration/targets/ec2_launch_template/tasks/main.yml
Labels: community_review, feature, integration, module, new_contributor, plugins, tests

#476 fix KeyError: 'Tags' for ec2_instance
  changelogs/fragments/476-ec2_instance_fix_key_error_when_instance_has_no_tags.yaml
  plugins/modules/ec2_instance.py
Labels: bug, community_review, module, plugins, small_patch, traceback

#260 Extending aws_s3_bucket_info module
  .gitignore
  changelogs/fragments/260-extending-s3_bucket_info-module.yml
  plugins/modules/aws_s3_bucket_info.py
  tests/integration/targets/aws_s3_bucket_info/aliases
  tests/integration/targets/aws_s3_bucket_info/defaults/main.yml
  tests/integration/targets/aws_s3_bucket_info/meta/main.yml
  tests/integration/targets/aws_s3_bucket_info/tasks/main.yml
Labels: affects_2.10, community_review, feature, has_issue, integration, module, needs_rebase, needs_revision, plugins, tests

#233 Gather information about ASG lifecycle hooks
  changelogs/fragments/233-info-about-asg-lifecycle-hooks.yaml
  plugins/modules/ec2_asg_info.py
Labels: affects_2.10, feature, module, needs_revision, new_contributor, plugins, stale_ci

#215 AWS ELB: Return empty list when no load balancer name was found
  changelogs/fragments/406-elb_classic_info-return-empty-list.yml
  plugins/modules/elb_classic_lb_info.py
  tests/integration/targets/elb_classic_lb/aliases
  tests/integration/targets/elb_classic_lb/tasks/main.yml
Labels: affects_2.10, bug, integration, module, needs_revision, plugins, stale_ci, tests

#305 Added Tier as option to aws_ssm_parameter_store module
  changelogs/fragments/305-aws-ssm-parameter-tier-option.yml
  plugins/modules/aws_ssm_parameter_store.py
Labels: community_review, feature, module, new_contributor, plugins

#162 Attempt to improve the stability of ec2_vpc_vgw and ec2_vpc_vpn
  changelogs/fragments/162-vgw-retries.yml
  plugins/modules/ec2_vpc_vgw.py
  plugins/modules/ec2_vpc_vpn.py
  tests/unit/plugins/modules/test_ec2_vpc_vpn.py
Labels: affects_2.10, bug, community_review, module, needs_maintainer, plugins, tests

#413 ec2_launch_template - scrub None parameters from what we'll pass to create_launch_config
  changelogs/fragments/230-ec2_launch_template-None-types.yml
  plugins/modules/ec2_launch_template.py
  tests/integration/targets/ec2_launch_template/tasks/main.yml
  tests/integration/targets/ec2_launch_template/tasks/network_interfaces.yml
Labels: bug, community_review, has_issue, integration, module, plugins, tests

#386 ec2_vpc_igw: increase integration tests coverage and code cleaning
  plugins/modules/ec2_vpc_igw.py
  tests/integration/targets/ec2_vpc_igw/tasks/main.yml
Labels: integration, module, needs_revision, needs_triage, plugins, tests

#302 Added state_machine_arn when unchanged.
  changelogs/302-aws_step_functions_state_machine-ARN-not-change.yml
  plugins/modules/aws_step_functions_state_machine.py
  tests/integration/targets/aws_step_functions_state_machine/defaults/main.yml
  tests/integration/targets/aws_step_functions_state_machine/tasks/main.yml
Labels: affects_2.10, bug, community_review, integration, module, new_contributor, plugins, tests

#389 Fix UnboundLocalError in sqs_queue
  changelogs/fragments/389-sqs-queue-UnboundLocalError.yml
  plugins/modules/sqs_queue.py
  tests/integration/targets/sqs_queue/tasks/main.yml
Labels: bug, community_review, integration, module, new_contributor, plugins, tests

#347 elb_application_lb: test a rule based on http-header
  tests/integration/targets/elb_application_lb/tasks/test_multiple_actions.yml
Labels: community_review, integration, plugins, tests

#445 ec2_vpc_nat_gateway cleanup
  changelogs/fragments/445-ec2_vpc_nat_gateway-cleanup.yml
  plugins/modules/ec2_vpc_nat_gateway.py
  tests/integration/targets/ec2_vpc_nat_gateway/tasks/main.yml
Labels: community_review, integration, module, plugins, tests

#483 Don't notify willthames for AWS modules
  .github/BOTMETA.yml
Labels: bug, community_review, needs_triage, new_contributor, small_patch

#477 aws_acm - check mode
  plugins/modules/aws_acm.py
  tests/integration/targets/aws_acm/tasks/full_acm_test.yml
Labels: bug, integration, module, needs_revision, plugins, python3, tests

#472 ec2_vpc_nat_gateway_info: module stabilization
  changelogs/fragments/472-ec2_vpc_nat_gateway_info-stability.yml
  plugins/modules/ec2_vpc_nat_gateway_info.py
Labels: community_review, integration, module, needs_triage, plugins, tests

#484 Cleanup ec2_vpc_route_table modules
  plugins/modules/ec2_vpc_route_table.py
  tests/integration/targets/ec2_vpc_route_table/tasks/main.yml
Labels: bug, community_review, integration, module, needs_triage, plugins, tests

#346 New module - ec2_vpc_endpoint_service_info
  changelogs/fragments/346-ec2_vpc_endpoint_service_info.yml
  meta/runtime.yml
  plugins/modules/ec2_vpc_endpoint_info.py
  plugins/modules/ec2_vpc_endpoint_service_info.py
  tests/integration/targets/ec2_vpc_endpoint_service_info/aliases
  tests/integration/targets/ec2_vpc_endpoint_service_info/defaults/main.yml
  tests/integration/targets/ec2_vpc_endpoint_service_info/meta/main.yml
  tests/integration/targets/ec2_vpc_endpoint_service_info/tasks/main.yml
Labels: community_review, integration, module, needs_triage, new_module, new_plugin, plugins, tests

#485 Fix bugs in aws acm check mode integration test
  tests/integration/targets/aws_acm/tasks/full_acm_test.yml
Labels: bug, merge_commit, needs_rebase, needs_revision, needs_triage

#359 ec2_vpc_route_table: Don't fail if a route was already created.
  changelogs/fragments/359-fix-ec2_vpc_route_table.yml
  plugins/modules/ec2_vpc_route_table.py
Labels: bug, community_review, has_issue, module, plugins

#495 ec2_vpc_igw (_info) - documentation improvement
  plugins/modules/ec2_vpc_igw.py
  plugins/modules/ec2_vpc_igw_info.py
Labels: community_review, docs, module, needs_triage, plugins

#468 Avoid per-test virtual environments where possible (aws_acm)
  tests/integration/targets/aws_acm/tasks/main.yml
Labels: integration, needs_revision, needs_triage, plugins, tests

#497 s3_sync - add storage_class feature
  changelogs/fragments/497-s3_sync-add-storage_class.yaml
  plugins/modules/s3_sync.py
  tests/integration/targets/s3_sync/tasks/main.yml
Labels: feature, integration, module, needs_revision, needs_triage, plugins, tests

#473 Stabilize and improve ec2_vpc_endpoint modules
  changelogs/fragments/473-ec2_vpc_endpoint_stabilization.yml
  plugins/modules/ec2_vpc_endpoint.py
  plugins/modules/ec2_vpc_endpoint_info.py
  tests/integration/targets/ec2_vpc_endpoint/tasks/main.yml
Labels: bug, integration, module, needs_revision, needs_triage, plugins, tests

#496 ec2_vpc_route_table - Test idempotency with adding a route
  changelogs/fragments/359-fix-ec2_vpc_route_table.yml
  tests/integration/targets/ec2_vpc_route_table/tasks/main.yml
Labels: community_review, integration, needs_triage, plugins, tests

#448 Stability - s3_lifecycle
  changelogs/fragments/448-s3_lifecycle-stability.yml
  plugins/modules/s3_lifecycle.py
  tests/integration/targets/s3_lifecycle/aliases
  tests/integration/targets/s3_lifecycle/defaults/main.yml
  tests/integration/targets/s3_lifecycle/tasks/main.yml
Labels: community_review, feature, integration, module, needs_triage, plugins, tests

#447 s3_logging - migrate to boto3
  changelogs/fragments/447-s3_logging-boto3.yml
  plugins/modules/s3_logging.py
  tests/integration/targets/s3_logging/aliases
  tests/integration/targets/s3_logging/defaults/main.yml
  tests/integration/targets/s3_logging/tasks/main.yml
Labels: community_review, feature, integration, module, needs_triage, plugins, tests

#370 Added 'worker_type' and 'glue_version' attributes to the module
  changelogs/fragments/370_add_attributes_glue_module.yaml
  plugins/modules/aws_glue_job.py
Labels: community_review, feature, module, new_contributor, plugins

#503 aws_glue_connection: Add multiple connection types, add check mode
  changelogs/fragments/503-aws_glue_connection-types-check-mode.yml
  plugins/modules/aws_glue_connection.py
  tests/integration/targets/aws_glue_connection/tasks/main.yml
  tests/integration/targets/aws_glue_connection/tasks/test_connection_jdbc.yml
  tests/integration/targets/aws_glue_connection/tasks/test_connection_network.yml
Labels: community_review, feature, integration, module, plugins, tests

#395 Added assignPublicIp param in network_configuration
  changelogs/fragments/395_add_assign_public_ip.yaml
  plugins/modules/ecs_task.py
  tests/integration/targets/ecs_cluster/tasks/full_test.yml
Labels: community_review, feature, has_issue, integration, module, plugins, tests

#353 Add platform to ecs service
  changelogs/fragments/353-add_platform_to_ecs_service.yml
  plugins/modules/ecs_service.py
Labels: community_review, feature, module, new_contributor, plugins

#510 route53: fix getting private zones by name when a vpc_id is provided
  changelogs/fragments/510-fix-route53-private-zone-vpc.yaml
  plugins/modules/route53.py
  tests/integration/targets/route53/tasks/main.yml
Labels: bug, community_review, integration, module, needs_triage, plugins, tests

#27 kinesis_stream: Don't mark kstreams `changed` when no encryption actions taken
  changelogs/fragments/23-kinesis_stream-changed.yml
  changelogs/fragments/27-kinesis_stream-do-not-mark-as-changed-no-enc-actions.yaml
  plugins/modules/kinesis_stream.py
  tests/integration/targets/kinesis_stream/defaults/main.yml
  tests/integration/targets/kinesis_stream/tasks/main.yml
  tests/integration/targets/kinesis_stream/tasks/test_encryption.yml
Labels: affects_2.10, bug, community_review, integration, module, plugins, pr_day, stale_ci, tests

#232 Fully support mixed instance policy
  changelogs/fragments/232-fully-support-mixed-instances-policy.yaml
  plugins/modules/ec2_asg.py
  tests/integration/targets/ec2_asg/tasks/main.yml
Labels: affects_2.10, community_review, feature, integration, module, new_contributor, plugins, stale_ci, tests
