Repository ansible-collections/community.aws, pull requests merged in 2022-12, with the labels that each got.

#1610 ecs_taskdefinition - add health check documentation
  changelogs/fragments/1565-healthCheck-docs.yml
  plugins/modules/ecs_taskdefinition.py
Labels: new_contributor, has_issue, module, community_review, plugins, docs, mergeit, backport-4, backport-5

#1613 Fixup opensearch when using advanced security options
  changelogs/fragments/1613-opensearch.yml
  plugins/modules/opensearch.py
  tests/integration/targets/opensearch/tasks/test_opensearch.yml
Labels: new_contributor, integration, module, tests, community_review, plugins, mergeit, backport-4, backport-5

#1557 Add origin shield in cloudfront_distribution module
  changelogs/fragments/1557-cloudfront-add-origin-shield.yml
  plugins/modules/cloudfront_distribution.py
  tests/integration/targets/cloudfront_distribution/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-5

#1617 prepare 4.4.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1428-aws-ssm-missing-credentials.yml
  changelogs/fragments/1476-add-redis6x-cache-parameter-group-family.yml
  changelogs/fragments/1550-ecs_ecr-RepositoryNotFound.yml
  changelogs/fragments/1565-healthCheck-docs.yml
  changelogs/fragments/1579-ec2_vpc_vgw-deleted.yml
  changelogs/fragments/1613-opensearch.yml
  changelogs/fragments/20221026-pytest-forked.yml
  galaxy.yml
Labels: needs_info, needs_template, needs_triage, mergeit

#1618 prepare 5.1.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1419-fix-ec2_snapshot_copy-with-tags.yml
  changelogs/fragments/1428-aws-ssm-missing-credentials.yml
  changelogs/fragments/1476-add-redis6x-cache-parameter-group-family.yml
  changelogs/fragments/1496-elb_target_group-add-protocol_version-support.yml
  changelogs/fragments/1550-ecs_ecr-RepositoryNotFound.yml
  changelogs/fragments/1565-healthCheck-docs.yml
  changelogs/fragments/1576-defaults.yml
  changelogs/fragments/1579-ec2_vpc_vgw-deleted.yml
  changelogs/fragments/1613-opensearch.yml
  changelogs/fragments/20221026-pytest-forked.yml
  galaxy.yml
Labels: needs_info, needs_template, needs_triage, mergeit

#1621 Update main changelog to reflect the latest releases
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1419-fix-ec2_snapshot_copy-with-tags.yml
  changelogs/fragments/1428-aws-ssm-missing-credentials.yml
  changelogs/fragments/1476-add-redis6x-cache-parameter-group-family.yml
  changelogs/fragments/1496-elb_target_group-add-protocol_version-support.yml
  changelogs/fragments/1550-ecs_ecr-RepositoryNotFound.yml
  changelogs/fragments/1565-healthCheck-docs.yml
  changelogs/fragments/1576-defaults.yml
  changelogs/fragments/1579-ec2_vpc_vgw-deleted.yml
  changelogs/fragments/1613-opensearch.yml
  changelogs/fragments/20221026-pytest-forked.yml
Labels: needs_triage, community_review, docs, mergeit

#1627 Fix KeyError when Description is not present in ssm_parameter
  changelogs/fragments/1627-ssm_parameter-KeyError-when-adding-description.yml
  plugins/modules/ssm_parameter.py
  tests/integration/targets/ssm_parameter/tasks/main.yml
Labels: bug, new_contributor, integration, module, tests, community_review, plugins, mergeit, backport-4, backport-5
