Repository ansible-collections/community.aws, pull requests merged in 2022-10, with the labels that each got.

#1545 Bump main to 6.0.0-dev0
  galaxy.yml
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: feature, tests, needs_triage, community_review, small_patch, mergeit

#1550 ecs_ecr - Fix `RepositoryNotFoundException` when creating Repositories in check mode
  changelogs/fragments/1550-ecs_ecr-RepositoryNotFound.yml
  plugins/modules/ecs_ecr.py
  tests/integration/targets/ecs_ecr/aliases
  tests/integration/targets/ecs_ecr/tasks/main.yml
Labels: bug, integration, module, tests, needs_triage, community_review, plugins, mergeit, backport-4, backport-5

#1551 ecs_ecr - Use compare_policies instead of naive dict sort
  changelogs/fragments/1551-ecs_ecr-sort_json_policy.yml
  plugins/modules/ecs_ecr.py
Labels: feature, owner_pr, module, needs_triage, community_review, plugins, mergeit

#1548 Prepare 4.3.0 release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1410-linting.yml
  changelogs/fragments/1417-cluster-param-group-keyerror.yml
  changelogs/fragments/ec2_placement_group_race_on_create.yaml
  galaxy.yml
Labels: feature, needs_triage, community_review, mergeit

#1555 wafv2_rule_group_info: remove state parameter
  changelogs/fragments/1555-wafv2_rule_group_info.yml
  plugins/modules/wafv2_rule_group_info.py
  tests/integration/targets/wafv2/tasks/rule_group.yml
  tests/integration/targets/wafv2_rule_group/tasks/main.yml
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: integration, module, tests, community_review, plugins, mergeit

#1554 add amazon.aws / ansible-core intersphinx links
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
Labels: feature, needs_triage, community_review, mergeit, backport-5

#1428 Fix detection of ssm connection bucket region
  changelogs/fragments/1428-aws-ssm-missing-credentials.yml
  plugins/connection/aws_ssm.py
Labels: bug, has_issue, connection, needs_triage, community_review, plugins, mergeit, backport-4, backport-5

#1569 add pytest-forked to test requirements
  changelogs/fragments/20221026-pytest-forked.yml
  test-requirements.txt
Labels: bug, community_review, small_patch, mergeit, backport-3, backport-4, backport-5

#1435 cloudfront_distribution: add connection_attempts and connection_timeout parameters
  changelogs/fragments/1435-connection-attempt-timeout.yml
  plugins/modules/cloudfront_distribution.py
Labels: merge_commit, needs_rebase, new_contributor, module, needs_triage, plugins, docs, mergeit
