Repository ansible-collections/community.aws, pull requests merged in 2022-09, with the labels that each got.

#1417 Fix KeyError when Cluster Parameter Group is specified in rds_cluster.py
  changelogs/fragments/1417-cluster-param-group-keyerror.yml
  plugins/modules/rds_cluster.py
  tests/integration/targets/rds_cluster/roles/rds_cluster/defaults/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_modify.yml
Labels: bug, new_contributor, has_issue, integration, module, tests, community_review, plugins, mergeit, backport-3, backport-4

#1437 Changelog Rename ec2_url to endpoint_url
  changelogs/fragments/992-ec2_url.yml
Labels: owner_pr, community_review, docs, mergeit, do_not_backport

#1442 Make sure community.aws docs are built with access to amazon.aws fragments
  .github/workflows/docs-push.yml
Labels: bug, needs_triage, community_review, small_patch, mergeit

#1451 lambda_event - fix docs build
  plugins/modules/lambda_event.py
Labels: owner_pr, module, needs_triage, community_review, small_patch, plugins, docs, mergeit

#1455 [main] docs-build - point to github for collection source
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
Labels: community_review, docs, mergeit, backport-3, backport-4

#1438 Remove cloudtrail module
  changelogs/fragments/cloudtrail_promotion.yaml
  meta/runtime.yml
  plugins/modules/cloudtrail.py
  tests/integration/targets/cloudtrail/aliases
  tests/integration/targets/cloudtrail/defaults/main.yml
  tests/integration/targets/cloudtrail/meta/main.yml
  tests/integration/targets/cloudtrail/tasks/main.yml
  tests/integration/targets/cloudtrail/tasks/tagging.yml
  tests/integration/targets/cloudtrail/templates/cloudtrail-no-kms-assume-policy.j2
  tests/integration/targets/cloudtrail/templates/cloudtrail-no-kms-policy.j2
  tests/integration/targets/cloudtrail/templates/cloudwatch-assume-policy.j2
  tests/integration/targets/cloudtrail/templates/cloudwatch-policy.j2
  tests/integration/targets/cloudtrail/templates/kms-policy.j2
  tests/integration/targets/cloudtrail/templates/s3-policy.j2
  tests/integration/targets/cloudtrail/templates/sns-policy.j2
Labels: integration, module, tests, community_review, plugins, docs, mergeit

#1460 Allow to use labels from other amazon.aws docsites
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
Labels: needs_triage, community_review, docs, mergeit, do_not_backport

#1454 Uncomment rds_cluster snapshot tests
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_restore.yml
Labels: bug, integration, tests, community_review, plugins, mergeit

#1462 Update Galaxy docs links
  galaxy.yml
Labels: needs_triage, community_review, small_patch, docs, mergeit

#1463 Attempt to fix the docs workflows again
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
Labels: needs_triage, community_review, docs, mergeit

#1466 Prepare 4.2.0 Release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1398-s3_lifecycle-no-prefix.yml
  galaxy.yml
Labels: feature, needs_triage, community_review, mergeit

#1469 Cleanup after 4.2.0 Release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1398-s3_lifecycle-no-prefix.yml
Labels: needs_triage, community_review, docs, mergeit

#1474 tests/autoscaling_scheduled_action: use default botocore version
  changelogs/fragments/tests-autoscaling_scheduled_action.yaml
  tests/integration/targets/autoscaling_scheduled_action/meta/main.yml
  tests/integration/targets/autoscaling_scheduled_action/tasks/main.yml
Labels: integration, tests, needs_triage, community_review, plugins, mergeit

#1475 tests/ec2_vpc_egress_igw: avoid a InvalidVpcId.Malformed error
  tests/integration/targets/ec2_vpc_egress_igw/tasks/main.yml
Labels: merge_commit, needs_rebase, needs_info, needs_template, integration, tests, needs_triage, plugins, mergeit

#1468 tests/autoscaling_{group,lifecycle_hook}: use setup_ec2_facts
  tests/integration/targets/autoscaling_group/main.yml
  tests/integration/targets/autoscaling_group/meta/main.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/defaults/main.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/create_update_delete.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/env_setup.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/instance_detach.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/tag_operations.yml
  tests/integration/targets/autoscaling_lifecycle_hook/main.yml
  tests/integration/targets/autoscaling_lifecycle_hook/meta/main.yml
  tests/integration/targets/autoscaling_lifecycle_hook/roles/ec2_asg_lifecycle_hook/defaults/main.yml
  tests/integration/targets/autoscaling_lifecycle_hook/roles/ec2_asg_lifecycle_hook/tasks/create_update_delete.yml
  tests/integration/targets/autoscaling_lifecycle_hook/roles/ec2_asg_lifecycle_hook/tasks/env_setup.yml
Labels: merge_commit, needs_rebase, needs_info, needs_template, integration, tests, plugins, mergeit

#1473 tests/acm_certificate: retries aws_acm_info called when needed
  changelogs/fragments/tests-acm_certificate.yaml
  tests/integration/targets/acm_certificate/tasks/main.yml
Labels: merge_commit, needs_rebase, needs_info, needs_template, integration, tests, needs_triage, plugins, mergeit

#1467 tests/integration: ensure the CI gives more time to some slow targets
  changelogs/fragments/integration-test-duration.yaml
  tests/integration/targets/acm_certificate/aliases
  tests/integration/targets/autoscaling_complete_lifecycle_action/aliases
  tests/integration/targets/autoscaling_instance_refresh/aliases
  tests/integration/targets/dynamodb_table/aliases
  tests/integration/targets/ec2_transit_gateway_vpc_attachment/aliases
  tests/integration/targets/inspector_target/aliases
  tests/integration/targets/kinesis_stream/aliases
  tests/integration/targets/lambda/aliases
  tests/integration/targets/msk_cluster/aliases
  tests/integration/targets/msk_config/aliases
  tests/integration/targets/networkfirewall_policy/aliases
  tests/integration/targets/networkfirewall_rule_group/aliases
  tests/integration/targets/rds_cluster_snapshot/aliases
  tests/integration/targets/redshift/aliases
Labels: merge_commit, needs_rebase, needs_info, needs_template, integration, tests, plugins, mergeit

#1477 ec2_placement_group: Handle a potential race creation during create
  changelogs/fragments/ec2_placement_group_race_on_create.yaml
  plugins/modules/ec2_placement_group.py
Labels: merge_commit, needs_rebase, module, plugins, mergeit, backport-3, backport-4

#1494 tests: dedicate more time to ec2_transit_gateway_vpc_attachment
  changelogs/fragments/ec2_transit_gateway_vpc_attachment_increase_test_duration.yaml
  tests/integration/targets/ec2_transit_gateway_vpc_attachment/aliases
Labels: needs_info, needs_template, integration, tests, needs_triage, small_patch, plugins, mergeit

#1501 tests: dedicate more time to some slow targets
  changelogs/fragments/test-dedicate_more_time_to_slow_Targets.yaml
  tests/integration/targets/eks_fargate_profile/aliases
  tests/integration/targets/elb_instance/aliases
  tests/integration/targets/elb_network_lb/aliases
  tests/integration/targets/redshift/aliases
Labels: needs_info, needs_template, integration, tests, needs_triage, small_patch, plugins, mergeit

#1500 [PR #1468/1cd7cebb backport][stable-3] tests/autoscaling_{group,lifecycle_hook}: use setup_ec2_facts
  tests/integration/targets/ec2_asg/main.yml
  tests/integration/targets/ec2_asg/meta/main.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/defaults/main.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/tasks/create_update_delete.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/tasks/env_setup.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/tasks/instance_detach.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/tasks/tag_operations.yml
Labels: bug, integration, tests, needs_triage, community_review, mergeit

#1498 [PR #1410/3d4736bb backport][stable-3] Minor sanity test fixes (new devel)
  changelogs/fragments/1410-linting.yml
  plugins/connection/aws_ssm.py
  plugins/modules/aws_s3_bucket_info.py
  plugins/modules/cloudfront_distribution.py
  plugins/modules/cloudfront_origin_access_identity.py
  plugins/modules/cloudtrail.py
  plugins/modules/ec2_asg_info.py
  plugins/modules/ec2_asg_lifecycle_hook.py
  plugins/modules/ec2_vpc_nacl.py
  plugins/modules/redshift.py
  scripts/inventory/ec2.py
  tests/unit/plugins/connection/test_aws_ssm.py
  tests/unit/plugins/modules/test_aws_acm.py
Labels: bug, new_plugin, new_module, connection, inventory, module, tests, needs_triage, community_review, plugins, mergeit

#1503 Change name of server certs in integration tests
  tests/integration/targets/elb_network_lb/tasks/generate-certs.yml
  tests/integration/targets/elb_network_lb/tasks/main.yml
Labels: integration, tests, needs_triage, community_review, plugins, mergeit

#1490 Update documentation links for ec2_eip*
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
Labels: merge_commit, needs_rebase, needs_info, needs_template, mergeit, do_not_backport

#1478 Update documentation links for rds_cluster*
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
Labels: merge_commit, needs_rebase, needs_info, needs_template, needs_triage, mergeit

#1506 Migrate elb_application_lb module to amazon.aws
  changelogs/fragments/migrate_elb_application_lb.yml
  meta/runtime.yml
  plugins/modules/elb_application_lb.py
  plugins/modules/elb_application_lb_info.py
  tests/integration/targets/elb_application_lb/aliases
  tests/integration/targets/elb_application_lb/defaults/main.yml
  tests/integration/targets/elb_application_lb/meta/main.yml
  tests/integration/targets/elb_application_lb/tasks/main.yml
Labels: needs_info, needs_template, integration, module, tests, needs_triage, plugins, mergeit

#1508 Migrate iam_policy*
  changelogs/fragments/1345-iam_policy-deprecations.yml
  changelogs/fragments/migrate_iam_policy.yml
  meta/runtime.yml
  plugins/modules/iam_policy.py
  plugins/modules/iam_policy_info.py
  tests/integration/targets/iam_policy/aliases
  tests/integration/targets/iam_policy/defaults/main.yml
  tests/integration/targets/iam_policy/files/no_access.json
  tests/integration/targets/iam_policy/files/no_access_with_id.json
  tests/integration/targets/iam_policy/files/no_access_with_second_id.json
  tests/integration/targets/iam_policy/files/no_trust.json
  tests/integration/targets/iam_policy/meta/main.yml
  tests/integration/targets/iam_policy/tasks/main.yml
  tests/integration/targets/iam_policy/tasks/object.yml
  tests/sanity/ignore-2.9.txt
Labels: integration, module, tests, needs_triage, community_review, plugins, mergeit

#1511 Initial sanity ignore file for Ansible 2.15 (branching happened)
  tests/sanity/ignore-2.15.txt
Labels: feature, tests, community_review, mergeit, backport-3, backport-4

#1512 Add rendered Changelog to the docs site
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/29-elb_target_group-health_check_protocol.yml
  docs/docsite/extra-docs.yml
  docs/docsite/rst/CHANGELOG.rst
Labels: needs_triage, community_review, docs, mergeit

#1480 Update documentation links for rds_instance*
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
Labels: needs_info, needs_template, needs_triage, mergeit

#1509 Update docs links for iam_policy*
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
Labels: needs_triage, community_review, docs, mergeit

#1507 Update docs links for elb_application_lb module
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
Labels: needs_triage, community_review, docs, mergeit

#1515 Update docs autoscaling_group*
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
Labels: needs_triage, community_review, docs, mergeit

#1481 Update documentation links for rds_snapshot*
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
Labels: needs_info, needs_template, mergeit

#1527 Update documentation links for rds_option_group*
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
Labels: needs_info, needs_template, needs_triage, mergeit

#1491 Migrate ec2_eip* modules and tests
  changelogs/fragments/migrate_ec2_eip.yml
  meta/runtime.yml
  plugins/modules/ec2_eip.py
  plugins/modules/ec2_eip_info.py
  tests/integration/targets/ec2_eip/aliases
  tests/integration/targets/ec2_eip/defaults/main.yml
  tests/integration/targets/ec2_eip/meta/main.yml
  tests/integration/targets/ec2_eip/tasks/main.yml
Labels: needs_info, needs_template, integration, module, tests, needs_triage, plugins, mergeit

#1453 Migrate rds_snapshot* modules and tests
  changelogs/fragments/migrate_rds_snapshot.yml
  meta/runtime.yml
  plugins/modules/rds_snapshot_info.py
Labels: needs_info, needs_template, module, plugins, mergeit

#1517 Migrate cloudwatchevent* modules and tests
  changelogs/fragments/migrate_cloudwatchevent.yml
  meta/runtime.yml
  plugins/modules/cloudwatchevent_rule.py
  tests/integration/targets/cloudwatchevent_rule/aliases
  tests/integration/targets/cloudwatchevent_rule/defaults/main.yml
  tests/integration/targets/cloudwatchevent_rule/tasks/main.yml
Labels: needs_info, needs_template, integration, module, tests, plugins, mergeit

#1514 Promote autoscaling_group* module
  changelogs/fragments/migrate_autoscaling_group.yml
  meta/runtime.yml
  plugins/modules/autoscaling_group.py
  plugins/modules/autoscaling_group_info.py
  tests/integration/targets/autoscaling_group/aliases
  tests/integration/targets/autoscaling_group/inventory
  tests/integration/targets/autoscaling_group/main.yml
  tests/integration/targets/autoscaling_group/meta/main.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/defaults/main.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/create_update_delete.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/env_cleanup.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/env_setup.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/instance_detach.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/main.yml
  tests/integration/targets/autoscaling_group/roles/ec2_asg/tasks/tag_operations.yml
  tests/integration/targets/autoscaling_group/runme.sh
Labels: bug, integration, module, tests, community_review, plugins, mergeit

#1489 Migrate cloudwatchlogs* modules and tests
  changelogs/fragments/1395-cloudwatchlogs-condense-integration-tests.yml
  changelogs/fragments/migrate_cloudwatchlogs.yml
  meta/runtime.yml
  plugins/modules/cloudwatchlogs_log_group.py
  plugins/modules/cloudwatchlogs_log_group_info.py
  plugins/modules/cloudwatchlogs_log_group_metric_filter.py
  tests/integration/targets/cloudwatchlogs/aliases
  tests/integration/targets/cloudwatchlogs/defaults/main.yml
  tests/integration/targets/cloudwatchlogs/meta/main.yml
  tests/integration/targets/cloudwatchlogs/tasks/cloudwatchlogs_tests.yml
  tests/integration/targets/cloudwatchlogs/tasks/create-delete-tags.yml
  tests/integration/targets/cloudwatchlogs/tasks/main.yml
Labels: needs_info, needs_template, integration, module, tests, plugins, mergeit

#1479 Migrate rds_cluster* modules and tests
  changelogs/fragments/migrate_rds_cluster.yml
  meta/runtime.yml
  plugins/modules/rds_cluster.py
  plugins/modules/rds_cluster_info.py
  plugins/modules/rds_cluster_snapshot.py
  tests/integration/targets/rds_cluster/aliases
  tests/integration/targets/rds_cluster/inventory
  tests/integration/targets/rds_cluster/main.yml
  tests/integration/targets/rds_cluster/meta/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/defaults/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/meta/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_create.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_create_sgs.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_modify.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_promote.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_restore.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_tag.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/vars/main.yml
  tests/integration/targets/rds_cluster/runme.sh
  tests/integration/targets/rds_cluster_snapshot/aliases
  tests/integration/targets/rds_cluster_snapshot/defaults/main.yml
  tests/integration/targets/rds_cluster_snapshot/tasks/main.yml
  tests/integration/targets/rds_cluster_snapshot/vars/main.yml
Labels: needs_info, needs_template, integration, module, tests, plugins, mergeit

#1482 Update documentation links for cloudwatch_metric_alarm*
  .github/workflows/docs-pr.yml
  .github/workflows/docs-push.yml
Labels: needs_info, needs_template, needs_triage, mergeit

#1483 Migrate cloudwatch_metric_alarm* modules and tests
  changelogs/fragments/migrate_cloudwatch_metric_alarm.yml
  meta/runtime.yml
  plugins/modules/cloudwatch_metric_alarm.py
  tests/integration/targets/cloudwatch_metric_alarm/aliases
  tests/integration/targets/cloudwatch_metric_alarm/defaults/main.yml
  tests/integration/targets/cloudwatch_metric_alarm/meta/main.yml
  tests/integration/targets/cloudwatch_metric_alarm/tasks/env_cleanup.yml
  tests/integration/targets/cloudwatch_metric_alarm/tasks/env_setup.yml
  tests/integration/targets/cloudwatch_metric_alarm/tasks/main.yml
  tests/integration/targets/cloudwatch_metric_alarm/vars/main.yml
Labels: needs_info, needs_template, integration, module, tests, plugins, mergeit

#1452 Migrate rds_instance* modules and tests
  changelogs/fragments/migrate_rds_instance.yml
  meta/runtime.yml
  plugins/modules/rds_instance.py
  plugins/modules/rds_instance_info.py
  plugins/modules/rds_instance_snapshot.py
  tests/integration/targets/rds_instance/aliases
  tests/integration/targets/rds_instance/inventory
  tests/integration/targets/rds_instance/main.yml
  tests/integration/targets/rds_instance/meta/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/defaults/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/files/enhanced_monitoring_assume_policy.json
  tests/integration/targets/rds_instance/roles/rds_instance/files/s3_integration_policy.json
  tests/integration/targets/rds_instance/roles/rds_instance/files/s3_integration_trust_policy.json
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_aurora.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_complex.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_iam_roles.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_modify.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_processor.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_replica.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_restore.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_sgroups.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_snapshot.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_states.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_tagging.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_upgrade.yml
  tests/integration/targets/rds_instance/runme.sh
  tests/integration/targets/rds_instance_snapshot/aliases
  tests/integration/targets/rds_instance_snapshot/defaults/main.yml
  tests/integration/targets/rds_instance_snapshot/tasks/main.yml
  tests/integration/targets/rds_instance_snapshot/vars/main.yml
Labels: needs_info, needs_template, integration, module, tests, plugins, mergeit

#1520 Promote kms_key* modules and tests
  changelogs/fragments/migrate_kms_key.yml
  meta/runtime.yml
  plugins/modules/kms_key.py
  plugins/modules/kms_key_info.py
  tests/integration/targets/kms_key/aliases
  tests/integration/targets/kms_key/inventory
  tests/integration/targets/kms_key/main.yml
  tests/integration/targets/kms_key/meta/main.yml
  tests/integration/targets/kms_key/roles/aws_kms/defaults/main.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/main.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_grants.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_modify.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_states.yml
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_tagging.yml
  tests/integration/targets/kms_key/roles/aws_kms/templates/console-policy-no-key-rotation.j2
  tests/integration/targets/kms_key/roles/aws_kms/templates/console-policy.j2
  tests/integration/targets/kms_key/runme.sh
Labels: bug, integration, module, tests, community_review, plugins, mergeit

#1532 Migrate rds_subnet_group* modules and tests
  changelogs/fragments/migrate_rds_subnet_group.yml
  meta/runtime.yml
  plugins/modules/rds_subnet_group.py
  tests/integration/targets/rds_subnet_group/aliases
  tests/integration/targets/rds_subnet_group/defaults/main.yml
  tests/integration/targets/rds_subnet_group/meta/main.yml
  tests/integration/targets/rds_subnet_group/tasks/main.yml
  tests/integration/targets/rds_subnet_group/tasks/params.yml
  tests/integration/targets/rds_subnet_group/tasks/tests.yml
Labels: needs_info, needs_template, integration, module, tests, plugins, mergeit

#1530 Migrate rds_param_group* modules and tests
  changelogs/fragments/migrate_rds_param_group.yml
  meta/runtime.yml
  plugins/modules/rds_param_group.py
  tests/integration/targets/rds_param_group/aliases
  tests/integration/targets/rds_param_group/defaults/main.yml
  tests/integration/targets/rds_param_group/meta/main.yml
  tests/integration/targets/rds_param_group/tasks/main.yml
Labels: needs_rebase, needs_info, needs_revision, needs_template, integration, module, tests, needs_triage, plugins, mergeit

#1518 Promote iam_user* modules and test
  changelogs/fragments/migrate_iam_user.yml
  meta/runtime.yml
  plugins/modules/iam_user.py
  plugins/modules/iam_user_info.py
  tests/integration/targets/iam_user/aliases
  tests/integration/targets/iam_user/defaults/main.yml
  tests/integration/targets/iam_user/meta/main.yml
  tests/integration/targets/iam_user/tasks/main.yml
  tests/sanity/ignore-2.9.txt
Labels: bug, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1528 Migrate rds_option_group* modules and tests
  changelogs/fragments/migrate_rds_option_group.yml
  meta/runtime.yml
  plugins/modules/rds_option_group.py
  plugins/modules/rds_option_group_info.py
  tests/integration/targets/rds_option_group/aliases
  tests/integration/targets/rds_option_group/defaults/main.yml
  tests/integration/targets/rds_option_group/meta/main.yml
  tests/integration/targets/rds_option_group/tasks/main.yml
Labels: mergeit

#1485 Migrate route53* modules and tests
  changelogs/fragments/migrate_route53.yml
  meta/runtime.yml
  plugins/module_utils/route53.py
  plugins/modules/route53.py
  plugins/modules/route53_health_check.py
  plugins/modules/route53_info.py
  plugins/modules/route53_zone.py
  tests/integration/targets/route53/aliases
  tests/integration/targets/route53/defaults/main.yml
  tests/integration/targets/route53/meta/main.yml
  tests/integration/targets/route53/tasks/main.yml
  tests/integration/targets/route53/vars/main.yml
  tests/integration/targets/route53_health_check/aliases
  tests/integration/targets/route53_health_check/defaults/main.yml
  tests/integration/targets/route53_health_check/meta/main.yml
  tests/integration/targets/route53_health_check/tasks/create_multiple_health_checks.yml
  tests/integration/targets/route53_health_check/tasks/main.yml
  tests/integration/targets/route53_health_check/tasks/update_delete_by_id.yml
  tests/integration/targets/route53_zone/aliases
  tests/integration/targets/route53_zone/meta/main.yml
  tests/integration/targets/route53_zone/tasks/main.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.9.txt
Labels: needs_info, needs_template, integration, module, tests, plugins, mergeit

#1535 Fix duplicates in github workflows
  .github/workflows/docs-pr.yml
Labels: needs_triage, community_review, small_patch, docs, mergeit

#1534 doc: Fix readme typo and misc
  README.md
Labels: new_contributor, needs_triage, community_review, small_patch, docs, mergeit, backport-3, backport-4

#1541 Drop support for Ansible Core < 2.11
  README.md
  changelogs/fragments/1541-old-ansible.yml
  meta/runtime.yml
Labels: feature, community_review, mergeit, do_not_backport

#1542 Add missing redirection for module_utils/route53
  changelogs/fragments/1541-route53-module_utills.yml
  meta/runtime.yml
Labels: feature, community_review, small_patch, mergeit, do_not_backport
