Repository ansible-collections/community.aws, pull requests merged in 2022-08, with the labels that each got.

#1379 route53: Restore support for zero weighted DNS records
  changelogs/fragments/1379-zero_weight_dns_fix.yml
  plugins/modules/route53.py
  tests/integration/targets/route53/tasks/main.yml
Labels: bug, new_contributor, integration, module, tests, community_review, plugins, mergeit, backport-3, backport-4

#1377 lambda - Add support for setting supported architectures
  changelogs/fragments/744-lambda-architectures.yml
  plugins/modules/lambda.py
  plugins/modules/lambda_info.py
  tests/integration/targets/lambda/meta/main.yml
  tests/integration/targets/lambda/tasks/main.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1384 route53_info - fix max_items when not paginating
  changelogs/fragments/1384-route53_info-fix-max-items.yml
  plugins/modules/route53_info.py
  tests/integration/targets/route53/tasks/main.yml
Labels: bug, new_contributor, integration, module, tests, community_review, plugins, mergeit, backport-3, backport-4

#1389 route53_info - enable max_items tests
  tests/integration/targets/route53/tasks/main.yml
Labels: feature, integration, tests, needs_triage, community_review, plugins, mergeit

#1386 Remove deprecated AWSRetry.backoff usage
  changelogs/fragments/946-retries.yml
  plugins/modules/acm_certificate_info.py
  plugins/modules/api_gateway_domain.py
Labels: needs_revision, feature, owner_pr, module, needs_triage, plugins, mergeit

#1385 s3_sync - fix when running in FIPS mode
  changelogs/fragments/757-s3_sync-FIPS.yml
  plugins/module_utils/etag.py
  plugins/modules/s3_sync.py
Labels: bug, new_plugin, module, needs_triage, community_review, plugins, mergeit

#1390 Prepare release 3.5.0
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/1176-ssm-connection-plugin-region-fix.yml
  changelogs/fragments/1257-deprecations.yml
  changelogs/fragments/1282-meta.yml
  changelogs/fragments/1379-zero_weight_dns_fix.yml
  changelogs/fragments/1384-route53_info-fix-max-items.yml
  changelogs/fragments/206-kms_key_info.yml
  changelogs/fragments/58-s3_sync.yml
  changelogs/fragments/580-vpc_peer-idempotency.yml
  changelogs/fragments/645-aws_config_aggregator-fix-update-and-idempotency.yml
  docs/community.aws.elb_application_lb_module.rst
  docs/community.aws.elb_network_lb_module.rst
  docs/community.aws.iam_server_certificate_module.rst
  docs/community.aws.s3_sync_module.rst
  galaxy.yml
Labels: needs_triage, community_review, docs, mergeit

#1393 backport-4: Minor fixups (#1328)
  changelogs/fragments/1393-ecs_service.yml
  plugins/modules/ecs_service.py
  tests/integration/targets/ecs_cluster/tasks/main.yml
Labels: bug, integration, module, tests, community_review, traceback, plugins, mergeit

#1394 Prepare release 4.1.1
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1393-ecs_service.yml
  galaxy.yml
Labels: needs_triage, community_review, docs, mergeit

#1396 Disable network-firewall tests - slow enough to timeout
  tests/integration/targets/networkfirewall/aliases
Labels: bug, integration, tests, needs_triage, community_review, small_patch, plugins, mergeit

#1397 Flag rds_instance_snapshot tests as slow
  tests/integration/targets/acm_certificate/aliases
  tests/integration/targets/rds_instance_snapshot/aliases
Labels: feature, integration, tests, community_review, small_patch, plugins, mergeit

#1398 s3-lifecycle: fix remove rule with empty prefix
  changelogs/fragments/1398-s3_lifecycle-no-prefix.yml
  plugins/modules/s3_lifecycle.py
  tests/integration/targets/s3_lifecycle/tasks/main.yml
Labels: bug, new_contributor, integration, module, tests, community_review, plugins, mergeit

#1405 acm_certificate - allow for a retry on the _info call after uploading a cert
  tests/integration/targets/acm_certificate/tasks/full_acm_test.yml
Labels: bug, integration, tests, needs_triage, community_review, small_patch, plugins, mergeit, backport-4

#1395 cloudwatchlogs: Condense cloudwatch tests
  changelogs/fragments/1395-cloudwatchlogs-condense-integration-tests.yml
  tests/integration/targets/cloudwatchlogs/aliases
  tests/integration/targets/cloudwatchlogs/tasks/cloudwatchlogs_tests.yml
  tests/integration/targets/cloudwatchlogs/tasks/create-delete-tags.yml
  tests/integration/targets/cloudwatchlogs/tasks/main.yml
  tests/integration/targets/cloudwatchlogs_log_group/aliases
  tests/integration/targets/cloudwatchlogs_log_group/defaults/main.yml
  tests/integration/targets/cloudwatchlogs_log_group/meta/main.yml
  tests/integration/targets/cloudwatchlogs_log_group/tasks/main.yml
Labels: feature, integration, tests, community_review, plugins, mergeit

#1410 Minor sanity test fixes (new devel)
  changelogs/fragments/1410-linting.yml
  plugins/connection/aws_ssm.py
  plugins/modules/autoscaling_group_info.py
  plugins/modules/cloudfront_distribution.py
  plugins/modules/cloudfront_origin_access_identity.py
  plugins/modules/cloudtrail.py
  plugins/modules/ec2_vpc_nacl.py
  plugins/modules/eks_fargate_profile.py
  plugins/modules/redshift.py
  plugins/modules/s3_bucket_info.py
  tests/unit/plugins/connection/test_aws_ssm.py
  tests/unit/plugins/modules/test_acm_certificate.py
Labels: bug, connection, module, tests, needs_triage, community_review, plugins, needs_maintainer, mergeit

#1408 Minor linting fixups - 2022-08-12
  changelogs/fragments/1407-ec2_vpc_vpn.yml
  plugins/modules/ec2_vpc_vpn.py
  plugins/modules/lambda_event.py
  tests/unit/plugins/connection/test_aws_ssm.py
  tests/unit/plugins/modules/placebo_recordings/data_pipeline/activate_without_population/datapipeline.ActivatePipeline_1.json
  tests/unit/plugins/modules/placebo_recordings/ec2_vpc_vpn/check_for_update_nonmodifiable_attr/ec2.DescribeVpnConnections_15.json
  tests/unit/plugins/modules/placebo_recordings/ec2_vpc_vpn/check_for_update_nonmodifiable_attr/ec2.DescribeVpnConnections_16.json
  tests/unit/plugins/modules/test_data_pipeline.py
  tests/unit/plugins/modules/test_directconnect_connection.py
  tests/unit/plugins/modules/test_directconnect_virtual_interface.py
  tests/unit/plugins/modules/test_ec2_vpc_vpn.py
  tests/unit/plugins/modules/test_ec2_win_password.py
  tests/unit/plugins/modules/test_iam_password_policy.py
  tests/unit/plugins/modules/test_lambda.py
  tests/unit/plugins/modules/test_route53_zone.py
  tests/unit/plugins/modules/test_s3_bucket_notification.py
Labels: new_plugin, feature, module, tests, needs_triage, community_review, plugins, needs_maintainer, mergeit

#1423 Botocore test requirement cleanup
  tests/integration/targets/autoscaling_launch_config/meta/main.yml
  tests/integration/targets/autoscaling_launch_config/tasks/main.yml
  tests/integration/targets/ec2_launch_template/meta/main.yml
  tests/integration/targets/wafv2/meta/main.yml
  tests/integration/targets/wafv2/tasks/create_webacl.yml
  tests/integration/targets/wafv2/tasks/rule_group.yml
  tests/integration/targets/wafv2/tasks/test_webacl.yml
  tests/integration/targets/wafv2_web_acl/meta/main.yml
  tests/integration/targets/wafv2_web_acl/tasks/main.yml
Labels: bug, integration, tests, community_review, plugins, mergeit, do_not_backport

#1420 adjust booleans: use true/false
  plugins/modules/application_autoscaling_policy.py
  plugins/modules/autoscaling_group.py
  plugins/modules/autoscaling_launch_config.py
  plugins/modules/cloudformation_stack_set.py
  plugins/modules/cloudfront_distribution.py
  plugins/modules/config_aggregator.py
  plugins/modules/ec2_ami_copy.py
  plugins/modules/ec2_snapshot_copy.py
  plugins/modules/ec2_transit_gateway.py
  plugins/modules/ec2_vpc_vpn.py
  plugins/modules/ec2_win_password.py
  plugins/modules/ecs_ecr.py
  plugins/modules/ecs_task.py
  plugins/modules/eks_cluster.py
  plugins/modules/eks_fargate_profile.py
  plugins/modules/elasticache_parameter_group.py
  plugins/modules/elb_application_lb.py
  plugins/modules/elb_instance.py
  plugins/modules/elb_target_group.py
  plugins/modules/elb_target_group_info.py
  plugins/modules/iam_policy_info.py
  plugins/modules/kinesis_stream.py
  plugins/modules/lambda_alias.py
  plugins/modules/lambda_execute.py
  plugins/modules/opensearch.py
  plugins/modules/rds_cluster_snapshot.py
  plugins/modules/rds_instance.py
  plugins/modules/rds_instance_snapshot.py
  plugins/modules/route53.py
  plugins/modules/s3_lifecycle.py
  plugins/modules/s3_sync.py
  plugins/modules/ses_rule_set.py
  plugins/modules/sqs_queue.py
  plugins/modules/waf_condition.py
  plugins/modules/waf_info.py
  plugins/modules/waf_rule.py
  plugins/modules/waf_web_acl.py
  plugins/modules/wafv2_ip_set.py
  plugins/modules/wafv2_rule_group.py
  plugins/modules/wafv2_web_acl.py
Labels: owner_pr, module, community_review, plugins, docs, mergeit, backport-3, backport-4
