Repository ansible-collections/community.aws, pull requests merged in 2022-11, with the labels that each got.

#1496 elb_target_group: Add support for protocol_version parameter
  changelogs/fragments/1496-elb_target_group-add-protocol_version-support.yml
  plugins/modules/elb_target_group.py
  tests/integration/targets/elb_target/tasks/etg_protocol_version.yml
  tests/integration/targets/elb_target/tasks/main.yml
Labels: new_contributor, feature, integration, module, tests, community_review, plugins, mergeit, backport-5

#1579 Fix broken ec2_vpc_vgw tests
  changelogs/fragments/1579-ec2_vpc_vgw-deleted.yml
  tests/integration/targets/ec2_vpc_vgw/tasks/main.yml
Labels: bug, integration, tests, community_review, plugins, mergeit, backport-4, backport-5

#1576 Fix non-matching defaults in docs
  changelogs/fragments/1576-defaults.yml
  plugins/modules/api_gateway.py
  plugins/modules/autoscaling_launch_config.py
  plugins/modules/batch_job_definition.py
  plugins/modules/cloudformation_stack_set.py
  plugins/modules/cloudfront_distribution.py
  plugins/modules/codecommit_repository.py
  plugins/modules/data_pipeline.py
  plugins/modules/ec2_ami_copy.py
  plugins/modules/ec2_customer_gateway_info.py
  plugins/modules/ec2_snapshot_copy.py
  plugins/modules/ec2_transit_gateway_info.py
  plugins/modules/ec2_vpc_nacl.py
  plugins/modules/ec2_vpc_peering_info.py
  plugins/modules/ec2_vpc_vgw_info.py
  plugins/modules/ec2_vpc_vpn.py
  plugins/modules/ec2_vpc_vpn_info.py
  plugins/modules/ecs_service.py
  plugins/modules/ecs_taskdefinition.py
  plugins/modules/efs.py
  plugins/modules/efs_info.py
  plugins/modules/eks_fargate_profile.py
  plugins/modules/elasticache.py
  plugins/modules/elasticache_parameter_group.py
  plugins/modules/elb_classic_lb_info.py
  plugins/modules/iam_group.py
  plugins/modules/lightsail.py
  plugins/modules/msk_config.py
  plugins/modules/s3_bucket_notification.py
  plugins/modules/s3_metrics_configuration.py
  plugins/modules/s3_sync.py
  plugins/modules/secretsmanager_secret.py
Labels: module, community_review, plugins, docs, mergeit, backport-4, backport-5

#1585 autoscaling_scheduled_action - bump date for scheduled action in integration tests
  changelogs/fragments/20221103-autoscaling_scheduled_action.yml
  tests/integration/targets/autoscaling_scheduled_action/tasks/main.yml
  tests/unit/plugins/modules/test_ec2_vpc_vpn.py
Labels: bug, integration, module, tests, needs_triage, community_review, plugins, needs_maintainer, mergeit

#1578 tests: increase the default max duration of some tests
  changelogs/fragments/integration_tests_max_duration_increase.yaml
  tests/integration/targets/s3_lifecycle/aliases
  tests/integration/targets/secretsmanager_secret/aliases
Labels: needs_info, needs_template, integration, tests, plugins, mergeit

#1476 feat(elasticache): support for redis6.x group family for parameter groups
  changelogs/fragments/1476-add-redis6x-cache-parameter-group-family.yml
  plugins/modules/elasticache_parameter_group.py
Labels: new_contributor, feature, module, community_review, plugins, mergeit, backport-4, backport-5

#1419 Add ResourceType on ec2 snapshot copy
  changelogs/fragments/1419-fix-ec2_snapshot_copy-with-tags.yml
  plugins/modules/ec2_snapshot_copy.py
Labels: bug, new_contributor, integration, module, tests, community_review, plugins, mergeit, backport-5
