Repository ansible-collections/community.aws, pull requests merged in 2022-05, with the labels that each got.

#1004 New modules: Transit Gateway VPC attachments
  meta/runtime.yml
  plugins/module_utils/ec2.py
  plugins/module_utils/transitgateway.py
  plugins/modules/ec2_transit_gateway_vpc_attachment.py
  plugins/modules/ec2_transit_gateway_vpc_attachment_info.py
  tests/integration/targets/ec2_transit_gateway_vpc_attachment/aliases
  tests/integration/targets/ec2_transit_gateway_vpc_attachment/defaults/main.yml
  tests/integration/targets/ec2_transit_gateway_vpc_attachment/meta/main.yml
  tests/integration/targets/ec2_transit_gateway_vpc_attachment/tasks/cleanup.yml
  tests/integration/targets/ec2_transit_gateway_vpc_attachment/tasks/complex.yml
  tests/integration/targets/ec2_transit_gateway_vpc_attachment/tasks/main.yml
  tests/integration/targets/ec2_transit_gateway_vpc_attachment/tasks/setup.yml
  tests/integration/targets/ec2_transit_gateway_vpc_attachment/tasks/simple.yml
Labels: new_plugin, new_module, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1102 Add Collection Docs workflow to generate docs artifacts
  .github/workflows/docs-pr.yml
Labels: feature, needs_triage, community_review, mergeit

#1119 Allow the job to return success even if Build step fails
  .github/workflows/docs-pr.yml
Labels: bug, needs_triage, community_review, small_patch

#1116 Add missing `elements` option to type: list that did not specify
  plugins/modules/cloudfront_distribution.py
  plugins/modules/ecs_taskdefinition.py
  plugins/modules/elb_application_lb.py
  plugins/modules/rds_option_group.py
Labels: module, community_review, plugins, docs, mergeit

#1059 iam_user - stabilize for migration to amazon.aws
  changelogs/fragments/1059-iam_user-add-new-ret-val-handle-errors.yml
  plugins/modules/iam_user.py
  plugins/modules/iam_user_info.py
  tests/integration/targets/iam_user/tasks/main.yml
  tests/sanity/ignore-2.9.txt
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-3

#1109 lambda - update RETURN docs with more information on return data
  plugins/modules/lambda.py
Labels: module, community_review, plugins, docs, backport-2, mergeit, backport-3

#1098 iam_user - remove duplicate method
  plugins/modules/iam_user.py
Labels: feature, module, community_review, plugins, mergeit, backport-3

#1085 s3_lifecycle: reassure that configuration is complete before returning.
  changelogs/fragments/1085-s3_lifecycle-check-that-configuration-is-complete-before-returning.yml
  plugins/modules/s3_lifecycle.py
  tests/integration/targets/s3_lifecycle/tasks/main.yml
Labels: bug, new_contributor, integration, module, tests, community_review, plugins, backport-2, mergeit, backport-3

#1112 aws_kms - stabilize integration tests
  tests/integration/targets/aws_kms/defaults/main.yml
  tests/integration/targets/aws_kms/inventory
  tests/integration/targets/aws_kms/main.yml
  tests/integration/targets/aws_kms/roles/aws_kms/defaults/main.yml
  tests/integration/targets/aws_kms/roles/aws_kms/tasks/main.yml
  tests/integration/targets/aws_kms/roles/aws_kms/tasks/test_grants.yml
  tests/integration/targets/aws_kms/roles/aws_kms/tasks/test_modify.yml
  tests/integration/targets/aws_kms/roles/aws_kms/tasks/test_states.yml
  tests/integration/targets/aws_kms/roles/aws_kms/tasks/test_tagging.yml
  tests/integration/targets/aws_kms/roles/aws_kms/templates/console-policy-no-key-rotation.j2
  tests/integration/targets/aws_kms/roles/aws_kms/templates/console-policy.j2
  tests/integration/targets/aws_kms/runme.sh
  tests/integration/targets/aws_kms/tasks/main.yml
Labels: bug, integration, tests, needs_triage, community_review, plugins, mergeit, backport-3

#1115 execute_lambda - fix check mode and update RETURN docs
  changelogs/fragments/1115-execute_lambda-checkmode-fix-update-return-docs.yml
  plugins/modules/execute_lambda.py
  tests/integration/targets/lambda/tasks/main.yml
Labels: bug, integration, module, tests, community_review, plugins, backport-2, mergeit, backport-3

#1105 rds_instance - add deletion_protection param
  changelogs/fragments/1105-rds_instance-add-deletion_protection-parameter.yml
  plugins/modules/rds_instance.py
  plugins/modules/rds_instance_info.py
Labels: feature, module, community_review, plugins, mergeit, backport-3

#789 Update rds_instance_snaphot to use handlers defined in rds.py
  changelogs/fragments/789-rds_instance_snapshot.yml
  plugins/modules/rds_instance_snapshot.py
  tests/integration/targets/rds_instance_snapshot/aliases
  tests/integration/targets/rds_instance_snapshot/defaults/main.yml
  tests/integration/targets/rds_instance_snapshot/tasks/main.yml
  tests/integration/targets/rds_instance_snapshot/vars/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-3

#1141 Backport stable-2: Various integration test fixes (#984)
  tests/integration/targets/aws_secret/tasks/rotation.yml
  tests/integration/targets/lambda/tasks/main.yml
  tests/integration/targets/lambda_alias/tasks/main.yml
  tests/integration/targets/lambda_policy/tasks/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_tagging.yml
  tests/integration/targets/s3_bucket_notification/tasks/main.yml
  tests/integration/targets/wafv2/aliases
  tests/integration/targets/wafv2/defaults/main.yml
Labels: integration, tests, community_review, plugins, mergeit

#1117 route53: add support for GeoLocation parameter
  changelogs/fragments/1117-route53-add_geo_location_support.yml
  plugins/modules/route53.py
  tests/integration/targets/route53/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-3

#1110 ec2_transit_gateway_IncorrectState: retry on IncorrectState
  changelogs/fragments/ec2_transit_gateway_IncorrectState.yaml
  plugins/modules/ec2_transit_gateway.py
Labels: needs_info, needs_template, module, small_patch, plugins, backport-2, mergeit, backport-3

#1101 aws_kms - minor doc fixes
  plugins/modules/aws_kms.py
  plugins/modules/aws_kms_info.py
Labels: module, community_review, plugins, docs, mergeit, backport-3

#1113 Add retries to elb / target group info modules
  changelogs/fragments/1113-up-pagainated-retries-alb-info.yml
  plugins/modules/elb_application_lb_info.py
  plugins/modules/elb_target_group_info.py
Labels: bug, module, community_review, small_patch, plugins, mergeit, backport-3

#1150 aws_secret - Support purge_tags
  changelogs/fragments/1146-aws_secret-purge_tags.yml
  plugins/modules/aws_secret.py
  tests/integration/targets/aws_secret/defaults/main.yaml
  tests/integration/targets/aws_secret/tasks/basic.yml
  tests/integration/targets/aws_secret/templates/secret-policy.j2
Labels: bug, feature, has_issue, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1107 New Modules : NetworkFirewall firewall
  meta/runtime.yml
  plugins/module_utils/networkfirewall.py
  plugins/modules/networkfirewall.py
  plugins/modules/networkfirewall_info.py
  tests/integration/targets/networkfirewall/aliases
  tests/integration/targets/networkfirewall/defaults/main.yml
  tests/integration/targets/networkfirewall/meta/main.yml
  tests/integration/targets/networkfirewall/tasks/cleanup.yml
  tests/integration/targets/networkfirewall/tasks/complex.yml
  tests/integration/targets/networkfirewall/tasks/main.yml
  tests/integration/targets/networkfirewall/tasks/setup.yml
  tests/integration/targets/networkfirewall/tasks/simple.yml
Labels: new_plugin, new_module, integration, module, tests, community_review, plugins, mergeit

#1145 fix ecs_cluster integration test
  changelogs/fragments/0000-ecs_taskdefinition_fix.yml
  plugins/modules/ecs_service.py
  plugins/modules/ecs_taskdefinition.py
  tests/integration/targets/ecs_cluster/tasks/force_service_deletion.yml
  tests/integration/targets/ecs_cluster/tasks/full_test.yml
  tests/integration/targets/ecs_cluster/tasks/main.yml
  tests/integration/targets/ecs_cluster/tasks/network_force_new_deployment.yml
Labels: bug, has_issue, integration, module, tests, needs_triage, community_review, plugins, backport-2, mergeit, backport-3

#1081 rds_instance - add snapshot tests, update docs, refactor tests
  changelogs/fragments/1081-rds_instance-snapshot-tests-and-restore-db.yml
  plugins/modules/rds_cluster.py
  plugins/modules/rds_instance.py
  tests/integration/targets/rds_instance/aliases
  tests/integration/targets/rds_instance/inventory
  tests/integration/targets/rds_instance/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/defaults/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_aurora.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_complex.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_iam_roles.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_modify.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_processor.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_sgroups.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_snapshot.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_states.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_tagging.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_upgrade.yml
Labels: bug, integration, module, tests, community_review, plugins, mergeit

#1078 rds_instance_snapshot - add copy snapshot functionality
  changelogs/fragments/1078-rds_instance_snapshot-add-copy-snapshot.yml
  plugins/modules/rds_instance_snapshot.py
  tests/integration/targets/rds_instance_snapshot/defaults/main.yml
  tests/integration/targets/rds_instance_snapshot/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-3

#1158 ec2_lc - remove unused associate_public_ip_address option
  changelogs/fragments/1158-ec2_lc-remove-associate_public_ip_address.yml
  plugins/modules/ec2_lc.py
Labels: feature, owner_pr, module, community_review, small_patch, plugins, mergeit, do_not_backport

#1159 ec2_eip - remove wait_timeout
  changelogs/fragments/1159-ec2_eip-remove-wait_timeout.yml
  plugins/modules/ec2_eip.py
Labels: feature, owner_pr, module, needs_triage, community_review, small_patch, plugins, mergeit

#1166 s3_sync - drop unused retries parameter
  changelogs/fragments/1166-s3_sync-retries.yml
  plugins/modules/s3_sync.py
Labels: feature, owner_pr, module, needs_triage, community_review, small_patch, plugins, mergeit, do_not_backport

#1155 Add changelog for profile becoming mutually exclusive with other access tokens
  changelogs/fragments/151-profile-mutually-exclusive.yml
Labels: feature, owner_pr, community_review, mergeit, do_not_backport

#1161 ecs_ecr - remove deprecated delete_policy option
  changelogs/fragments/1161-ecs_ecr-remove-delete_policy.yml
  plugins/modules/ecs_ecr.py
  tests/integration/targets/ecs_ecr/tasks/main.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit, do_not_backport

#1167 elb_network_lb - change default state from 'absent' to 'present'
  changelogs/fragments/1167-elb_network_lb-state.yml
  plugins/modules/elb_network_lb.py
  tests/sanity/ignore-2.9.txt
Labels: feature, module, tests, community_review, plugins, mergeit, do_not_backport

#1168 iam_managed_policy - remove unused fail_on_delete parameter
  changelogs/fragments/1168-iam_managed_policy-fail_on_delete.yml
  plugins/modules/iam_managed_policy.py
Labels: feature, owner_pr, module, community_review, small_patch, plugins, mergeit, do_not_backport

#1162 Fix issue when creating GSI with global_keys_only
  changelogs/fragments/967-dynamodb_table.yml
  plugins/modules/dynamodb_table.py
  tests/integration/targets/dynamodb_table/defaults/main.yml
  tests/integration/targets/dynamodb_table/tasks/main.yml
  tests/integration/targets/dynamodb_table/tasks/test_pay_per_request.yml
Labels: bug, has_issue, integration, module, tests, community_review, traceback, plugins, backport-2, mergeit, backport-3

#1160 data_pipeline - remove unused version option
  changelogs/fragments/1160-data_pipeline-remove-version.yml
  plugins/modules/data_pipeline.py
Labels: feature, owner_pr, module, needs_triage, community_review, small_patch, plugins, mergeit, do_not_backport

#1164 ec2_metric_alarm - drop deprecated support for symbolic operators
  changelogs/fragments/1164-ec2_metric_alarm-deprecation.yml
  plugins/modules/ec2_metric_alarm.py
  tests/integration/targets/ec2_metric_alarm/tasks/main.yml
  tests/sanity/ignore-2.9.txt
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit, do_not_backport

#1174 Add changelog fragment for amazon.aws/825
  changelogs/fragments/817-skip_purge_aws.yaml
Labels: owner_pr, community_review, docs, mergeit, do_not_backport

#1172 aws_kms_info - remove deprecated keys_attr parameter
  changelogs/fragments/1172-aws_kms_info-keys_attr.yml
  plugins/modules/aws_kms_info.py
Labels: feature, owner_pr, module, needs_triage, community_review, plugins, mergeit, do_not_backport

#1173 elb_instance - remove ec2_elbs fact
  changelogs/fragments/1173-elb_instance-ec2_elbs.yml
  plugins/modules/elb_instance.py
  tests/integration/targets/elb_instance/tasks/manage_asgs.yml
  tests/integration/targets/elb_instance/tasks/manage_instances.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1170 ecs_service - fix validation for `placementConstraints`
  changelogs/fragments/1300-ecs_service-placementConstraints.yml
  plugins/modules/ecs_service.py
  tests/integration/targets/ecs_cluster/tasks/main.yml
Labels: bug, new_contributor, has_issue, integration, module, tests, community_review, plugins, backport-2, mergeit, backport-3

#1179 community.aws 2.5.0
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/0000-ecs_taskdefinition_fix.yml
  changelogs/fragments/1054-iam_role-delete-inline-policies-and-refactor.yml
  changelogs/fragments/1077-s3_lifecycle-transition-days-zero.yml
  changelogs/fragments/1085-s3_lifecycle-check-that-configuration-is-complete-before-returning.yml
  changelogs/fragments/1093-iam_policy-update-docs-and-add-required_if.yml
  changelogs/fragments/1115-execute_lambda-checkmode-fix-update-return-docs.yml
  changelogs/fragments/1300-ecs_service-placementConstraints.yml
  docs/community.aws.aws_acm_module.rst
  docs/community.aws.aws_batch_job_definition_module.rst
  docs/community.aws.aws_config_rule_module.rst
  docs/community.aws.aws_secret_module.rst
  docs/community.aws.aws_ssm_connection.rst
  docs/community.aws.aws_waf_rule_module.rst
  docs/community.aws.cloudfront_distribution_module.rst
  docs/community.aws.cloudfront_invalidation_module.rst
  docs/community.aws.ec2_placement_group_info_module.rst
  docs/community.aws.ecs_taskdefinition_module.rst
  docs/community.aws.elb_application_lb_module.rst
  docs/community.aws.execute_lambda_module.rst
  docs/community.aws.iam_policy_module.rst
  docs/community.aws.iam_user_module.rst
  docs/community.aws.lambda_module.rst
  docs/community.aws.rds_option_group_module.rst
  docs/community.aws.route53_health_check_module.rst
  docs/community.aws.s3_sync_module.rst
  galaxy.yml
Labels: bug, needs_triage, community_review, docs, mergeit

#1186 Tagging - remove default empty dict where purge_tags default is False
  changelogs/fragments/1186-tagging.yml
  plugins/modules/aws_kms.py
  plugins/modules/cloudfront_distribution.py
  plugins/modules/ec2_vpc_vpn.py
  plugins/modules/rds_param_group.py
Labels: feature, owner_pr, module, needs_triage, community_review, plugins, mergeit, do_not_backport

#1185 Tagging - Add simple deprecations for purge_tags=False
  changelogs/fragments/1185-tagging.yml
  plugins/modules/aws_acm.py
  plugins/modules/route53_health_check.py
  plugins/modules/route53_zone.py
  plugins/modules/sqs_queue.py
Labels: feature, owner_pr, module, needs_triage, community_review, plugins, mergeit
