Repository ansible-collections/community.aws, pull requests merged in 2022-02, with the labels that each got.

#914 Fix unit tests which broke due to things being moved about in amazon.aws
  tests/unit/plugins/modules/test_aws_api_gateway.py
  tests/unit/plugins/modules/test_ec2_vpc_vpn.py
Labels: bug, module, tests, needs_triage, community_review, needs_maintainer, mergeit

#879 Move some shared logic in module utils/sns
  plugins/module_utils/sns.py
  plugins/modules/sns.py
  plugins/modules/sns_topic.py
  tests/integration/targets/sns_topic/tasks/main.yml
Labels: new_plugin, feature, integration, module, tests, community_review, plugins, mergeit

#918 Update the name attribute value in the examples
  plugins/modules/iam_managed_policy.py
Labels: new_contributor, module, community_review, plugins, docs, backport-2, mergeit, backport-3

#917 ec2_launch_template: implement missing metadata options
  changelogs/fragments/917-add-launch-template-metadata-parameters.yml
  plugins/modules/ec2_launch_template.py
  tests/integration/targets/ec2_launch_template/meta/main.yml
  tests/integration/targets/ec2_launch_template/tasks/instance-metadata.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit, backport-3

#865 Add AWSRetry backoff logic to route53_zone and route53_info
  changelogs/fragments/865-add-backoff-retry-logic-route53_zone.yml
  plugins/modules/route53_info.py
  plugins/modules/route53_zone.py
Labels: bug, module, community_review, traceback, plugins, backport-2, mergeit, backport-3

#913 Add deregistration_connection_termination to elb_target_group
  changelogs/fragments/913-tg-dereg-conn-param.yml
  plugins/modules/elb_target_group.py
  tests/integration/targets/elb_target/aliases
  tests/integration/targets/elb_target/defaults/main.yml
  tests/integration/targets/elb_target/meta/main.yml
  tests/integration/targets/elb_target/tasks/ec2_target.yml
  tests/integration/targets/elb_target/tasks/lambda_target.yml
  tests/integration/targets/elb_target/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-3

#878 Fix IOPs io1 DB instance updates and integration tests also
  changelogs/fragments/878-fix-iops-updates-rds.yml
  plugins/modules/rds_instance.py
  tests/integration/targets/rds_instance/aliases
  tests/integration/targets/rds_instance/inventory
  tests/integration/targets/rds_instance/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/defaults/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_complex.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_processor.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_replica.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_restore.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_sgroups.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_states.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_tagging.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_upgrade.yml
Labels: bug, integration, module, tests, community_review, plugins, backport-2, mergeit, backport-3

#872 ec2_placement_group: Add partition strategy and partition count
  changelogs/fragments/872-ec2_placement_group_partition_strategy.yml
  plugins/modules/ec2_placement_group.py
  tests/integration/targets/ec2_placement_group/aliases
  tests/integration/targets/ec2_placement_group/defaults/main.yml
  tests/integration/targets/ec2_placement_group/meta/main.yml
  tests/integration/targets/ec2_placement_group/tasks/env_cleanup.yml
  tests/integration/targets/ec2_placement_group/tasks/env_setup.yml
  tests/integration/targets/ec2_placement_group/tasks/main.yml
  tests/integration/targets/ec2_placement_group/vars/main.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit, backport-3

#880 Add dynamodb table class support
  changelogs/fragments/880-add-table-class-param.yml
  plugins/modules/dynamodb_table.py
  tests/integration/targets/dynamodb_table/meta/main.yml
  tests/integration/targets/dynamodb_table/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-3

#894 add check_mode for elb_application_lb* & refactor integration tests
  changelogs/fragments/894-add-check_mode-elb_application_lb.yml
  plugins/modules/elb_application_lb.py
  plugins/modules/elb_application_lb_info.py
  tests/integration/targets/elb_application_lb/aliases
  tests/integration/targets/elb_application_lb/defaults/main.yml
  tests/integration/targets/elb_application_lb/tasks/full_test.yml
  tests/integration/targets/elb_application_lb/tasks/main.yml
  tests/integration/targets/elb_application_lb/tasks/test_alb_bad_listener_options.yml
  tests/integration/targets/elb_application_lb/tasks/test_alb_ip_address_type_options.yml
  tests/integration/targets/elb_application_lb/tasks/test_alb_tags.yml
  tests/integration/targets/elb_application_lb/tasks/test_alb_with_asg.yml
  tests/integration/targets/elb_application_lb/tasks/test_creating_alb.yml
  tests/integration/targets/elb_application_lb/tasks/test_deleting_alb.yml
  tests/integration/targets/elb_application_lb/tasks/test_modifying_alb_listeners.yml
  tests/integration/targets/elb_application_lb/tasks/test_multiple_actions.yml
  tests/integration/targets/elb_application_lb_info/aliases
  tests/integration/targets/elb_application_lb_info/defaults/main.yml
  tests/integration/targets/elb_application_lb_info/meta/main.yml
  tests/integration/targets/elb_application_lb_info/tasks/full_test.yml
  tests/integration/targets/elb_application_lb_info/tasks/main.yml
  tests/integration/targets/elb_application_lb_info/tasks/setup.yml
  tests/integration/targets/elb_application_lb_info/tasks/teardown.yml
  tests/integration/targets/elb_application_lb_info/tasks/test_elb_application_lb_info.yml
Labels: new_contributor, feature, has_issue, integration, module, tests, community_review, plugins, mergeit

#938 prepare 3.1.0
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/721-wafv2_web_acl.yml
  changelogs/fragments/763-aws_ssm_connection-add-sse-parameters.yml
  changelogs/fragments/790-ec2_lc-add-throughput-param-support.yml
  changelogs/fragments/825-fix-elb-wait.yml
  changelogs/fragments/843-add_aws_secret_resource_policy_support.yml
  changelogs/fragments/857-lambda-wait-before.yml
  changelogs/fragments/860-add-missing-parameter.yml
  changelogs/fragments/865-add-backoff-retry-logic-route53_zone.yml
  changelogs/fragments/872-ec2_placement_group_partition_strategy.yml
  changelogs/fragments/878-fix-iops-updates-rds.yml
  changelogs/fragments/880-add-table-class-param.yml
  changelogs/fragments/881-cloudfront-bug.yml
  changelogs/fragments/893-refactor-iam_managed_policy.yml
  changelogs/fragments/913-tg-dereg-conn-param.yml
  changelogs/fragments/917-add-launch-template-metadata-parameters.yml
  docs/community.aws.aws_acm_module.rst
  docs/community.aws.aws_secret_module.rst
  docs/community.aws.aws_waf_web_acl_module.rst
  docs/community.aws.dynamodb_table_module.rst
  docs/community.aws.ec2_launch_template_module.rst
  docs/community.aws.ec2_lc_module.rst
  docs/community.aws.ec2_placement_group_module.rst
  docs/community.aws.elb_target_group_module.rst
  docs/community.aws.iam_managed_policy_module.rst
  docs/community.aws.iam_user_module.rst
  docs/community.aws.rds_instance_module.rst
  docs/community.aws.wafv2_web_acl_module.rst
  galaxy.yml
Labels: bug, needs_triage, community_review, docs

#939 prepare 2.3.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/825-fix-elb-wait.yml
  changelogs/fragments/857-lambda-wait-before.yml
  changelogs/fragments/881-cloudfront-bug.yml
  docs/community.aws.iam_managed_policy_module.rst
  galaxy.yml
Labels: bug, needs_triage, community_review, docs

#815 ec2_asg: enable integration tests, change instance type to a type allowed by policy
  tests/integration/targets/ec2_asg/aliases
  tests/integration/targets/ec2_asg/defaults/main.yml
  tests/integration/targets/ec2_asg/tasks/main.yml
Labels: bug, has_issue, integration, tests, community_review, plugins, mergeit

#936 Stabilize ec2_eip module
  changelogs/fragments/936-stabilize-ec2-eip.yml
  plugins/modules/ec2_eip.py
  plugins/modules/ec2_eip_info.py
  tests/integration/targets/ec2_eip/aliases
  tests/integration/targets/ec2_eip/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit

#946 backport-3: Stabilize ec2_eip module (#936)
  changelogs/fragments/936-stabilize-ec2-eip.yml
  plugins/modules/ec2_eip.py
  plugins/modules/ec2_eip_info.py
  tests/integration/targets/ec2_eip/aliases
  tests/integration/targets/ec2_eip/tasks/main.yml
Labels: bug, integration, module, tests, community_review, plugins, mergeit, backport-3

#297 Awsretry/cloudfront distribution
  changelogs/fragments/297-aws-retry-cloudfront-distribution.yml
  plugins/modules/cloudfront_distribution.py
  tests/integration/targets/cloudfront_distribution/tasks/main.yml
Labels: bug, new_contributor, has_issue, integration, module, tests, affects_2.10, community_review, plugins, backport-2, mergeit, backport-3

#952 Remove string of iam_managed_policy module docs
  plugins/modules/iam_managed_policy.py
Labels: new_contributor, module, community_review, small_patch, plugins, docs, backport-2, mergeit, backport-3

#933 ec2_asg: Add functionality to detach specified instances from ASG
  changelogs/fragments/933-ec2_asg-detach-instances-feature.yml
  plugins/modules/ec2_asg.py
  tests/integration/targets/ec2_asg/tasks/instance_detach.yml
  tests/integration/targets/ec2_asg/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit
