Repository ansible-collections/community.aws, pull requests merged in 2022-07, with the labels that each got.

#646 [Plugin elasticache_info] includes the description of each replication group
  changelogs/fragments/646-elasticache_info-replication_group.yml
  plugins/modules/elasticache_info.py
  tests/integration/targets/elasticache/aliases
  tests/integration/targets/elasticache/tasks/main.yml
  tests/integration/targets/legacy_missing_tests/aliases
Labels: new_contributor, feature, integration, module, tests, community_review, plugins, mergeit, backport-4

#259 Add lightsail_static_ip module
  meta/runtime.yml
  plugins/modules/lightsail_static_ip.py
  tests/integration/targets/lightsail_static_ip/aliases
  tests/integration/targets/lightsail_static_ip/defaults/main.yml
  tests/integration/targets/lightsail_static_ip/tasks/main.yml
Labels: stale_ci, new_plugin, new_module, new_contributor, has_issue, integration, module, tests, affects_2.10, community_review, plugins, mergeit, backport-4

#239 Add source_version param to ec2_launch_template module
  changelogs/fragments/239-launch_template-source-version.yml
  plugins/modules/ec2_launch_template.py
  tests/integration/targets/ec2_launch_template/tasks/versions.yml
Labels: new_contributor, feature, integration, module, tests, affects_2.10, community_review, plugins, mergeit, backport-4

#645 Fix idempotency and logic to update existing aggregator
  changelogs/fragments/645-aws_config_aggregator-fix-update-and-idempotency.yml
  plugins/modules/aws_config_aggregator.py
  tests/integration/targets/aws_config/tasks/main.yaml
Labels: bug, integration, module, tests, community_review, plugins, mergeit, backport-3, backport-4

#546 New module - aws_glue_crawler
  meta/runtime.yml
  plugins/modules/aws_glue_crawler.py
  tests/integration/targets/aws_glue_crawler/aliases
  tests/integration/targets/aws_glue_crawler/defaults/main.yml
  tests/integration/targets/aws_glue_crawler/meta/main.yml
  tests/integration/targets/aws_glue_crawler/tasks/main.yml
Labels: new_plugin, new_module, integration, module, tests, community_review, plugins, mergeit, backport-4

#640 Add support for SQS RawMessageDelievery attribute in subscriptions - issue #193
  changelogs/fragments/640-sns_topic-sub_attr.yml
  plugins/modules/sns_topic.py
  tests/integration/targets/sns_topic/defaults/main.yml
  tests/integration/targets/sns_topic/tasks/main.yml
Labels: new_contributor, feature, integration, module, tests, community_review, plugins, mergeit, backport-4

#1301 Rename aws_sgw_info module
  README.md
  changelogs/fragments/1301-rename-sgw.yml
  docs/community.aws.storagegateway_info_module.rst
  meta/runtime.yml
  plugins/modules/storagegateway_info.py
  tests/integration/targets/legacy_missing_tests/aliases
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, docs, mergeit

#340 ecs_service - support setting deployment controller on a service
  changelogs/fragments/340-deployment-controller.yml
  plugins/modules/ecs_service.py
Labels: feature, module, community_review, plugins, mergeit, backport-4

#1300 Rename Glue jobs
  README.md
  changelogs/fragments/1300-rename-glue.yml
  docs/community.aws.glue_connection_module.rst
  docs/community.aws.glue_crawler_module.rst
  docs/community.aws.glue_job_module.rst
  meta/runtime.yml
  plugins/modules/glue_connection.py
  plugins/modules/glue_crawler.py
  plugins/modules/glue_job.py
  tests/integration/targets/glue_connection/aliases
  tests/integration/targets/glue_connection/meta/main.yml
  tests/integration/targets/glue_connection/tasks/main.yml
  tests/integration/targets/glue_connection/tasks/test_connection_jdbc.yml
  tests/integration/targets/glue_connection/tasks/test_connection_network.yml
  tests/integration/targets/glue_crawler/aliases
  tests/integration/targets/glue_crawler/defaults/main.yml
  tests/integration/targets/glue_crawler/meta/main.yml
  tests/integration/targets/glue_crawler/tasks/main.yml
  tests/integration/targets/glue_job/aliases
  tests/integration/targets/glue_job/defaults/main.yml
  tests/integration/targets/glue_job/meta/main.yml
  tests/integration/targets/glue_job/tasks/main.yml
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, docs, mergeit

#1305 Rename AWS config modules
  README.md
  changelogs/fragments/1305-rename-config.yml
  docs/community.aws.config_aggregation_authorization_module.rst
  docs/community.aws.config_aggregator_module.rst
  docs/community.aws.config_delivery_channel_module.rst
  docs/community.aws.config_recorder_module.rst
  docs/community.aws.config_rule_module.rst
  meta/runtime.yml
  plugins/modules/config_aggregation_authorization.py
  plugins/modules/config_aggregator.py
  plugins/modules/config_delivery_channel.py
  plugins/modules/config_recorder.py
  plugins/modules/config_rule.py
  tests/integration/targets/config/aliases
  tests/integration/targets/config/defaults/main.yaml
  tests/integration/targets/config/files/config-trust-policy.json
  tests/integration/targets/config/meta/main.yml
  tests/integration/targets/config/tasks/main.yaml
  tests/integration/targets/config/templates/config-s3-policy.json.j2
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, docs, mergeit

#771 add `TargetTrackingScaling` as a scaling policy option
  changelogs/fragments/544-add-targettracking-scaling-policy.yml
  plugins/modules/autoscaling_policy.py
  tests/integration/targets/autoscaling_policy/aliases
  tests/integration/targets/autoscaling_policy/defaults/main.yml
  tests/integration/targets/autoscaling_policy/meta/main.yml
  tests/integration/targets/autoscaling_policy/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit

#1308 Rename CodeBuild/CodeCommit/CodePipeline modules
  README.md
  changelogs/fragments/1308-rename-code.yml
  docs/community.aws.codebuild_project_module.rst
  docs/community.aws.codecommit_repository_module.rst
  docs/community.aws.codepipeline_module.rst
  meta/runtime.yml
  plugins/modules/codebuild_project.py
  plugins/modules/codecommit_repository.py
  plugins/modules/codepipeline.py
  tests/integration/targets/codebuild_project/aliases
  tests/integration/targets/codebuild_project/defaults/main.yml
  tests/integration/targets/codebuild_project/files/codebuild_iam_trust_policy.json
  tests/integration/targets/codebuild_project/meta/main.yml
  tests/integration/targets/codebuild_project/tasks/description.yml
  tests/integration/targets/codebuild_project/tasks/main.yml
  tests/integration/targets/codebuild_project/tasks/tagging.yml
  tests/integration/targets/codebuild_project/vars/main.yml
  tests/integration/targets/codecommit_repository/aliases
  tests/integration/targets/codecommit_repository/meta/main.yml
  tests/integration/targets/codecommit_repository/tasks/main.yml
  tests/integration/targets/codepipeline/aliases
  tests/integration/targets/codepipeline/defaults/main.yml
  tests/integration/targets/codepipeline/files/codepipeline_iam_trust_policy.json
  tests/integration/targets/codepipeline/meta/main.yml
  tests/integration/targets/codepipeline/tasks/main.yml
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, docs, mergeit

#1310 Rename stepfunctions modules
  README.md
  changelogs/fragments/1310-rename_stepfunctions.yml
  docs/community.aws.stepfunctions_state_machine_execution_module.rst
  docs/community.aws.stepfunctions_state_machine_module.rst
  meta/runtime.yml
  plugins/modules/stepfunctions_state_machine.py
  plugins/modules/stepfunctions_state_machine_execution.py
  tests/integration/targets/aws_step_functions_state_machine/aliases
  tests/integration/targets/stepfunctions_state_machine/aliases
  tests/integration/targets/stepfunctions_state_machine/defaults/main.yml
  tests/integration/targets/stepfunctions_state_machine/files/alternative_state_machine.json
  tests/integration/targets/stepfunctions_state_machine/files/state_machine.json
  tests/integration/targets/stepfunctions_state_machine/files/state_machines_iam_trust_policy.json
  tests/integration/targets/stepfunctions_state_machine/meta/main.yml
  tests/integration/targets/stepfunctions_state_machine/tasks/main.yml
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, docs, mergeit

#1313 Rename aws_ssm_parameter_store
  README.md
  changelogs/fragments/1313-rename-ssm.yml
  docs/community.aws.ssm_parameter_module.rst
  meta/runtime.yml
  plugins/modules/ssm_parameter.py
  tests/integration/targets/ssm_parameter/aliases
  tests/integration/targets/ssm_parameter/defaults/main.yml
  tests/integration/targets/ssm_parameter/meta/main.yml
  tests/integration/targets/ssm_parameter/tasks/main.yml
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, docs, mergeit

#1314 Rename aws_application_scaling_policy
  README.md
  changelogs/fragments/1314-rename-app_autoscale.yml
  docs/community.aws.application_autoscaling_policy_module.rst
  docs/community.aws.autoscaling_policy_module.rst
  meta/runtime.yml
  plugins/modules/application_autoscaling_policy.py
Labels: new_plugin, new_module, feature, module, needs_triage, community_review, plugins, docs, mergeit

#623 Added support for InputTransformer attribute of cloudwatchevent_rule
  changelogs/fragments/623-cloudwatchevents_rule-support_input_transformer.yml
  plugins/modules/cloudwatchevent_rule.py
  tests/integration/targets/cloudwatchevent_rule/aliases
  tests/integration/targets/cloudwatchevent_rule/defaults/main.yml
  tests/integration/targets/cloudwatchevent_rule/tasks/main.yml
Labels: new_contributor, feature, integration, module, tests, community_review, plugins, mergeit

#1318 Rename aws_inspector_target module
  README.md
  changelogs/fragments/1318-rename-inspector.yml
  docs/community.aws.inspector_target_module.rst
  meta/runtime.yml
  plugins/modules/inspector_target.py
  tests/integration/targets/inspector_target/aliases
  tests/integration/targets/inspector_target/defaults/main.yml
  tests/integration/targets/inspector_target/meta/main.yml
  tests/integration/targets/inspector_target/tasks/main.yml
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, docs, mergeit

#1315 Rename aws_secrets
  README.md
  changelogs/fragments/1315-rename-aws_secret.yml
  docs/community.aws.secretsmanager_secret_module.rst
  meta/runtime.yml
  plugins/modules/secretsmanager_secret.py
  tests/integration/targets/secretsmanager_secret/aliases
  tests/integration/targets/secretsmanager_secret/defaults/main.yaml
  tests/integration/targets/secretsmanager_secret/files/hello_world.zip
  tests/integration/targets/secretsmanager_secret/files/secretsmanager-trust-policy.json
  tests/integration/targets/secretsmanager_secret/meta/main.yml
  tests/integration/targets/secretsmanager_secret/tasks/basic.yml
  tests/integration/targets/secretsmanager_secret/tasks/main.yaml
  tests/integration/targets/secretsmanager_secret/tasks/rotation.yml
  tests/integration/targets/secretsmanager_secret/templates/secret-policy.j2
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, docs, mergeit

#1316 Add force_absent parameter to ecs_ecr module
  changelogs/fragments/1315-ecs_ecr-force_absent.yaml
  plugins/modules/ecs_ecr.py
Labels: new_contributor, feature, module, community_review, plugins, docs, mergeit, backport-4

#518 glue_connection - Avoid converting connection_parameter keys to lowercase
  changelogs/fragments/518-aws_glue_connection-do-not-lowercase-connection-parameters.yml
  plugins/modules/glue_connection.py
  tests/integration/targets/glue_connection/tasks/test_connection_network.yml
Labels: bug, integration, module, tests, community_review, plugins, mergeit, backport-4

#1322 route53_info: Add snake_cased return key,values to remaining methods
  changelogs/fragments/1322-route53_info-add-snake_case-return-values.yml
  plugins/modules/route53_info.py
Labels: bug, module, community_review, plugins, mergeit, backport-4

#1330 s3_sync - Improve error handling when testing for existing files
  changelogs/fragments/58-s3_sync.yml
  plugins/modules/s3_sync.py
  tests/integration/targets/s3_sync/tasks/main.yml
Labels: feature, has_issue, integration, module, tests, community_review, plugins, mergeit, backport-3, backport-4

#1331 ec2_vpc_vgw_info - update to not throw an error when run in check_mode
  changelogs/fragments/137-ec2_vpc_vgw_info.yml
  plugins/modules/ec2_vpc_vgw_info.py
  tests/integration/targets/ec2_vpc_vgw/tasks/main.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit, backport-3, backport-4

#1332 kms_key_info - improve AccessDeniedException handing
  changelogs/fragments/206-kms_key_info.yml
  plugins/modules/kms_key_info.py
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_grants.yml
Labels: bug, integration, module, tests, needs_triage, community_review, plugins, mergeit, backport-3, backport-4

#1329 Update s3_sync doc
  plugins/modules/s3_sync.py
  tests/integration/targets/s3_sync/tasks/main.yml
Labels: integration, module, tests, community_review, small_patch, plugins, docs, backport-2, mergeit, backport-3, backport-4

#1328 ecs_service - Minor fixups
  plugins/modules/ecs_service.py
  tests/integration/targets/ecs_cluster/tasks/main.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1333 secretsmanager_secret - Support adding JSON
  changelogs/fragments/656-secrets-json.yml
  plugins/modules/secretsmanager_secret.py
  tests/integration/targets/secretsmanager_secret/tasks/basic.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit, backport-4

#1344 kms_key - Finish deprecation of policy_grant_types and related keys
  changelogs/fragments/1344-kms_key-policy_grant_types.yml
  plugins/modules/kms_key.py
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_modify.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, do_not_backport

#1343 Update default value of purge_tags to True
  changelogs/fragments/1343-purge_tags.yml
  plugins/modules/acm_certificate.py
  plugins/modules/cloudfront_distribution.py
  plugins/modules/ec2_vpc_vpn.py
  plugins/modules/kms_key.py
  plugins/modules/rds_param_group.py
  plugins/modules/route53_health_check.py
  plugins/modules/route53_zone.py
  plugins/modules/sqs_queue.py
  tests/integration/targets/kms_key/roles/aws_kms/tasks/test_tagging.yml
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.9.txt
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit, do_not_backport

#1345 iam_policy - complete 5.0.0 deprecation cycles
  changelogs/fragments/1345-iam_policy-deprecations.yml
  plugins/modules/iam_policy.py
  tests/integration/targets/iam_policy/tasks/main.yml
  tests/integration/targets/iam_policy/tasks/object.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1346 ec2_vpc_peer - Fix idempotency when accepter/requester is reversed
  changelogs/fragments/580-vpc_peer-idempotency.yml
  plugins/modules/ec2_vpc_peer.py
  tests/integration/targets/ec2_vpc_peer/tasks/main.yml
Labels: bug, has_issue, integration, module, tests, community_review, plugins, mergeit, backport-3, backport-4

#1352 Rename cloudfront_info
  README.md
  changelogs/fragments/1352-rename-cloudfront.yml
  docs/community.aws.cloudfront_distribution_info_module.rst
  meta/runtime.yml
  plugins/modules/cloudfront_distribution_info.py
  tests/integration/targets/legacy_missing_tests/aliases
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, docs, mergeit

#1355 cloudwatchevent_rule - Add argspec validation for targets
  changelogs/fragments/623-cloudwatchevents_rule-support_input_transformer.yml
  plugins/modules/cloudwatchevent_rule.py
  tests/integration/targets/cloudwatchevent_rule/defaults/main.yml
  tests/integration/targets/cloudwatchevent_rule/tasks/main.yml
Labels: bug, integration, module, tests, needs_triage, community_review, plugins, mergeit, backport-4

#1354 elb_target_group make health_check_protocol required if health_check_path or successful_response_codes is set
  changelogs/29-elb_target_group-health_check_protocol.yml
  plugins/modules/elb_target_group.py
Labels: bug, module, needs_triage, community_review, plugins, mergeit

#1362 Bump minimum botocore version
  README.md
  changelogs/fragments/botocore.yml
  requirements.txt
  tests/integration/constraints.txt
  tests/integration/targets/setup_botocore_pip/defaults/main.yml
  tests/unit/constraints.txt
Labels: feature, integration, tests, needs_triage, community_review, mergeit

#1366 elb_application_lb/elb_network_lb - Add documentation for TargetGroupName
  plugins/modules/elb_application_lb.py
  plugins/modules/elb_network_lb.py
Labels: owner_pr, module, community_review, plugins, docs, mergeit, backport-3, backport-4

#1365 Re-enable integration tests for elb_network_lb
  changelogs/fragments/1365-elb_network_lb-ip_address_type.yml
  plugins/modules/elb_network_lb.py
  tests/integration/targets/elb_network_lb/aliases
  tests/integration/targets/elb_network_lb/defaults/main.yml
  tests/integration/targets/elb_network_lb/files/cert.pem
  tests/integration/targets/elb_network_lb/files/key.pem
  tests/integration/targets/elb_network_lb/meta/main.yml
  tests/integration/targets/elb_network_lb/tasks/generate-certs.yml
  tests/integration/targets/elb_network_lb/tasks/main.yml
  tests/integration/targets/elb_network_lb/tasks/test_nlb_ip_address_type_option.yml
Labels: bug, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1372 aws_region_info - Minor docs linting
  plugins/modules/aws_region_info.py
Labels: owner_pr, module, needs_triage, community_review, plugins, docs, mergeit

#1370 New module - accessanalyzer_validate_policy_info
  meta/runtime.yml
  plugins/modules/accessanalyzer_validate_policy_info.py
  tests/integration/targets/accessanalyzer_validate_policy_info/aliases
  tests/integration/targets/accessanalyzer_validate_policy_info/meta/main.yml
  tests/integration/targets/accessanalyzer_validate_policy_info/tasks/main.yml
Labels: new_plugin, new_module, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1373 cloudwatchlogs_log_group: Add check_mode support
  changelogs/fragments/1373-cloudwatchlogs_log_group-add-check_mode-support.yml
  plugins/modules/cloudwatchlogs_log_group.py
  tests/integration/targets/cloudwatchlogs_log_group/tasks/main.yml
  tests/integration/targets/cloudwatchlogs_log_group/tasks/tags.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-4

#1375 iam_policy - add support for diff mode
  changelogs/fragments/560-iam_policy-diff.yml
  plugins/modules/iam_policy.py
Labels: feature, owner_pr, module, community_review, plugins, mergeit, backport-4

#1376 [stable-4] iam_policy - add support for diff mode
  changelogs/fragments/560-iam_policy-diff.yml
  plugins/modules/iam_policy.py
Labels: feature, owner_pr, module, needs_triage, community_review, plugins, mergeit
