Repository ansible-collections/community.aws, pull requests merged in 2022-04, with the labels that each got.

#1033 Add check_mode support to ec2_asg
  changelogs/fragments/1033-ec2_asg-check-mode-support.yml
  plugins/modules/ec2_asg.py
  tests/integration/targets/ec2_asg/roles/ec2_asg/tasks/create_update_delete.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/tasks/instance_detach.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/tasks/tag_operations.yml
Labels: feature, integration, module, tests, community_review, plugins, backport-2, mergeit, backport-3

#1037 networkfirewall_rule_group: Add support for "wait" parameter
  plugins/module_utils/base.py
  plugins/module_utils/networkfirewall.py
  plugins/modules/networkfirewall_rule_group.py
  plugins/modules/networkfirewall_rule_group_info.py
  tests/integration/targets/networkfirewall_rule_group/tasks/5-tuple.yml
  tests/integration/targets/networkfirewall_rule_group/tasks/cleanup.yml
  tests/integration/targets/networkfirewall_rule_group/tasks/domain_list.yml
  tests/integration/targets/networkfirewall_rule_group/tasks/main.yml
  tests/integration/targets/networkfirewall_rule_group/tasks/minimal.yml
  tests/integration/targets/networkfirewall_rule_group/tasks/rule_strings.yml
  tests/integration/targets/networkfirewall_rule_group/tasks/stateful.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit

#987 Delete ec2_vpc_route_table* since already promoted
  changelogs/fragments/remove-ec2_vpc_route_table.yml
  docs/community.aws.ec2_vpc_route_table_info_module.rst
  docs/community.aws.ec2_vpc_route_table_module.rst
  meta/runtime.yml
  plugins/modules/ec2_vpc_route_table.py
  plugins/modules/ec2_vpc_route_table_info.py
  tests/integration/targets/ec2_vpc_route_table/aliases
  tests/integration/targets/ec2_vpc_route_table/meta/main.yml
  tests/integration/targets/ec2_vpc_route_table/tasks/main.yml
Labels: bug, integration, module, tests, community_review, plugins, docs, mergeit

#687 New modules for RDS clusters management
  meta/runtime.yml
  plugins/modules/rds_cluster.py
  plugins/modules/rds_cluster_info.py
  tests/integration/targets/rds_cluster/aliases
  tests/integration/targets/rds_cluster/inventory
  tests/integration/targets/rds_cluster/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/defaults/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/meta/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/main.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_create.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_create_sgs.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_modify.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_promote.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_restore.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/tasks/test_tag.yml
  tests/integration/targets/rds_cluster/roles/rds_cluster/vars/main.yml
  tests/integration/targets/rds_cluster/runme.sh
Labels: new_plugin, new_module, has_issue, integration, module, tests, community_review, plugins, mergeit, backport-3

#1048 ec2_asg_lifecycle_hook: add integration tests
  changelogs/fragments/1048-ec2_asg_lifecycle_hook-add-integration-tests.yml
  plugins/modules/ec2_asg_lifecycle_hook.py
  tests/integration/targets/ec2_asg_lifecycle_hook/aliases
  tests/integration/targets/ec2_asg_lifecycle_hook/inventory
  tests/integration/targets/ec2_asg_lifecycle_hook/main.yml
  tests/integration/targets/ec2_asg_lifecycle_hook/roles/ec2_asg_lifecycle_hook/defaults/main.yml
  tests/integration/targets/ec2_asg_lifecycle_hook/roles/ec2_asg_lifecycle_hook/tasks/create_update_delete.yml
  tests/integration/targets/ec2_asg_lifecycle_hook/roles/ec2_asg_lifecycle_hook/tasks/env_cleanup.yml
  tests/integration/targets/ec2_asg_lifecycle_hook/roles/ec2_asg_lifecycle_hook/tasks/env_setup.yml
  tests/integration/targets/ec2_asg_lifecycle_hook/roles/ec2_asg_lifecycle_hook/tasks/main.yml
  tests/integration/targets/ec2_asg_lifecycle_hook/runme.sh
Labels: feature, integration, module, tests, community_review, plugins, mergeit

#1002 rds_instance - fix check_mode and idempotence bugs and support adding/removing iam roles
  changelogs/fragments/1002-rds_instance-stabilize-and-support-iam-roles.yml
  plugins/modules/rds_instance.py
  tests/integration/targets/rds_instance/inventory
  tests/integration/targets/rds_instance/roles/rds_instance/defaults/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/files/s3_integration_policy.json
  tests/integration/targets/rds_instance/roles/rds_instance/files/s3_integration_trust_policy.json
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_complex.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_iam_roles.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_modify.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_processor.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_replica.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_restore.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_sgroups.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_states.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_tagging.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_upgrade.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-3

#1057 stable-3 changelog to main
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1001-add-backoff-logic-elb_target_group_info.yml
  changelogs/fragments/1016-add-algo-param-elb_target_group.yml
  changelogs/fragments/1034-rds_instance-update-valid-engine-type.yml
  changelogs/fragments/1036-ec2_asg-restructure-integration-tests.yml
  changelogs/fragments/297-aws-retry-cloudfront-distribution.yml
  changelogs/fragments/562-rds_subnet_group-tags-and-check_mode.yaml
  changelogs/fragments/721-wafv2_web_acl.yml
  changelogs/fragments/790-ec2_lc-add-throughput-param-support.yml
  changelogs/fragments/825-fix-elb-wait.yml
  changelogs/fragments/840-ecs_taskdefinition-fix-task-definition-comparison.yml
  changelogs/fragments/843-add_aws_secret_resource_policy_support.yml
  changelogs/fragments/857-lambda-wait-before.yml
  changelogs/fragments/860-add-missing-parameter.yml
  changelogs/fragments/865-add-backoff-retry-logic-route53_zone.yml
  changelogs/fragments/870-aws_acm_certificate_tags.yml
  changelogs/fragments/872-ec2_placement_group_partition_strategy.yml
  changelogs/fragments/878-fix-iops-updates-rds.yml
  changelogs/fragments/880-add-table-class-param.yml
  changelogs/fragments/881-cloudfront-bug.yml
  changelogs/fragments/893-refactor-iam_managed_policy.yml
  changelogs/fragments/894-add-check_mode-elb_application_lb.yml
  changelogs/fragments/913-tg-dereg-conn-param.yml
  changelogs/fragments/917-add-launch-template-metadata-parameters.yml
  changelogs/fragments/933-ec2_asg-detach-instances-feature.yml
  changelogs/fragments/936-stabilize-ec2-eip.yml
  changelogs/fragments/940-refactor-s3_bucket_notifications.yml
  changelogs/fragments/960-ec2_asg-purge-tags.yml
  changelogs/fragments/961-iam-role-should-not-remove-permission-boundary-before-deletion.yml
  changelogs/fragments/962-fix-waf-list-conditions.yml
  changelogs/fragments/963-elb_application_lb-support-alb-attributes.yml
  changelogs/fragments/966-elb_target_group-support-alb-target.yml
  changelogs/fragments/970-redshift_info-boto-import.yml
  changelogs/fragments/971-elb_application_lb-fix-empty-sg-on-update.yml
  changelogs/fragments/977-add-backoff-logic-elb-info.yml
Labels: needs_triage, community_review, docs, mergeit

#1054 iam_role - delete inline policies, stabilize for migration to amazon.aws
  changelogs/fragments/1054-iam_role-delete-inline-policies-and-refactor.yml
  plugins/modules/iam_role.py
  tests/integration/targets/iam_role/tasks/boundary_policy.yml
  tests/integration/targets/iam_role/tasks/complex_role_creation.yml
  tests/integration/targets/iam_role/tasks/creation_deletion.yml
  tests/integration/targets/iam_role/tasks/description_update.yml
  tests/integration/targets/iam_role/tasks/inline_policy_update.yml
  tests/integration/targets/iam_role/tasks/main.yml
  tests/integration/targets/iam_role/tasks/max_session_update.yml
  tests/integration/targets/iam_role/tasks/policy_update.yml
  tests/integration/targets/iam_role/tasks/role_removal.yml
  tests/integration/targets/iam_role/tasks/tags_update.yml
Labels: feature, integration, module, tests, community_review, plugins, backport-2, mergeit, backport-3

#1061 ec2_asg: minor fix - run setup only once
  changelogs/fragments/1061-ec2_asg-integration-test-setup-bugfix.yml
  tests/integration/targets/ec2_asg/main.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/defaults/main.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/tasks/env_setup.yml
Labels: bug, integration, tests, community_review, plugins, mergeit, backport-3

#1060 ec2_asg_lifecycle_hook: Add check_mode support
  changelogs/fragments/1060-ec2_asg_lifecycle_hook-add_check_mode_support.yml
  plugins/modules/ec2_asg_lifecycle_hook.py
  tests/integration/targets/ec2_asg_lifecycle_hook/roles/ec2_asg_lifecycle_hook/tasks/create_update_delete.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-3

#44 New aws_api_gateway_domain module for adding custom domains
  plugins/modules/aws_api_gateway_domain.py
  tests/integration/targets/aws_api_gateway_domain/aliases
  tests/integration/targets/aws_api_gateway_domain/defaults/main.yml
  tests/integration/targets/aws_api_gateway_domain/files/api_gw_swagger.yml
  tests/integration/targets/aws_api_gateway_domain/tasks/main.yml
Labels: ci_verified, stale_ci, new_plugin, new_module, pr_day, integration, module, tests, affects_2.10, community_review, plugins, mergeit, backport-3

#618 Update hostname_variable tag override example.
  scripts/inventory/ec2.ini
Labels: new_contributor, inventory, needs_triage, community_review, small_patch, docs, backport-2, mergeit

#1068 Revert breaking change - iam_role return values
  plugins/modules/iam_role.py
Labels: bug, owner_pr, module, community_review, small_patch, plugins, backport-2, mergeit, backport-3

#1074 prepare 3.2.1
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1054-iam_role-delete-inline-policies-and-refactor.yml
  changelogs/fragments/1064-ec2_asg_change_purge_tags.yml
  docs/community.aws.ec2_asg_module.rst
  galaxy.yml
Labels: bug, needs_triage, community_review, docs, mergeit

#1077 s3_lifecycle: support value '0' for transition_days
  changelogs/fragments/1077-s3_lifecycle-transition-days-zero.yml
  plugins/modules/s3_lifecycle.py
  tests/integration/targets/s3_lifecycle/tasks/main.yml
Labels: bug, new_contributor, integration, module, tests, community_review, plugins, backport-2, mergeit, backport-3

#1087 aws_s3_bucket_info - remove custom botocore environment from test
  tests/integration/targets/aws_s3_bucket_info/meta/main.yml
  tests/integration/targets/aws_s3_bucket_info/tasks/bucket_ownership_controls.yml
Labels: feature, integration, tests, community_review, plugins, mergeit, do_not_backport

#1086 Integration test dependency cleanup
  tests/integration/targets/aws_api_gateway/meta/main.yml
  tests/integration/targets/aws_eks_cluster/meta/main.yml
  tests/integration/targets/aws_elasticbeanstalk_app/meta/main.yml
  tests/integration/targets/aws_kms/meta/main.yml
  tests/integration/targets/aws_msk_cluster/meta/main.yml
  tests/integration/targets/aws_msk_config/meta/main.yml
  tests/integration/targets/aws_region_info/meta/main.yml
  tests/integration/targets/ec2_eip/meta/main.yml
  tests/integration/targets/ec2_launch_template/meta/main.yml
  tests/integration/targets/ec2_lc/meta/main.yml
  tests/integration/targets/ec2_metric_alarm/meta/main.yml
  tests/integration/targets/ec2_scaling_policy/meta/main.yml
  tests/integration/targets/ec2_vpc_nacl/meta/main.yml
  tests/integration/targets/ecs_cluster/meta/main.yml
  tests/integration/targets/ecs_ecr/meta/main.yml
  tests/integration/targets/elasticache_subnet_group/meta/main.yml
  tests/integration/targets/elb_application_lb/meta/main.yml
  tests/integration/targets/elb_classic_lb_info/meta/main.yml
  tests/integration/targets/elb_instance/meta/main.yml
  tests/integration/targets/elb_network_lb/meta/main.yml
  tests/integration/targets/elb_target/meta/main.yml
  tests/integration/targets/iam_access_key/meta/main.yml
  tests/integration/targets/iam_group/meta/main.yml
  tests/integration/targets/iam_role/meta/main.yml
  tests/integration/targets/iam_saml_federation/meta/main.yml
  tests/integration/targets/iam_server_certificate/meta/main.yml
  tests/integration/targets/iam_user/meta/main.yml
  tests/integration/targets/kinesis_stream/meta/main.yml
  tests/integration/targets/lambda/meta/main.yml
  tests/integration/targets/lambda_alias/meta/main.yml
  tests/integration/targets/lambda_policy/meta/main.yml
  tests/integration/targets/prepare_tests/tasks/main.yml
  tests/integration/targets/rds_param_group/meta/main.yml
  tests/integration/targets/rds_param_group/tasks/main.yml
  tests/integration/targets/rds_subnet_group/meta/main.yml
  tests/integration/targets/redshift/meta/main.yml
  tests/integration/targets/redshift_subnet_group/meta/main.yml
  tests/integration/targets/route53_health_check/meta/main.yml
  tests/integration/targets/s3_bucket_notification/meta/main.yml
  tests/integration/targets/s3_sync/meta/main.yml
  tests/integration/targets/setup_ec2/defaults/main.yml
  tests/integration/targets/setup_ec2/tasks/common.yml
  tests/integration/targets/setup_ec2/vars/main.yml
  tests/integration/targets/setup_remote_tmp_dir/tasks/default.yml
  tests/integration/targets/sts_assume_role/meta/main.yml
  tests/integration/targets/wafv2/meta/main.yml
Labels: feature, integration, tests, needs_triage, community_review, plugins, mergeit

#1090 For consistency - add empty dependencies file to targets with no current meta data
  tests/integration/targets/aws_api_gateway_domain/meta/main.yml
  tests/integration/targets/aws_codebuild/meta/main.yml
  tests/integration/targets/aws_codecommit/meta/main.yml
  tests/integration/targets/aws_codepipeline/meta/main.yml
  tests/integration/targets/aws_config/meta/main.yml
  tests/integration/targets/aws_glue_connection/meta/main.yml
  tests/integration/targets/aws_glue_job/meta/main.yml
  tests/integration/targets/aws_inspector_target/meta/main.yml
  tests/integration/targets/aws_secret/meta/main.yml
  tests/integration/targets/aws_ses_identity_policy/meta/main.yml
  tests/integration/targets/aws_ses_rule_set/meta/main.yml
  tests/integration/targets/aws_ssm_parameter_store/meta/main.yml
  tests/integration/targets/aws_step_functions_state_machine/meta/main.yml
  tests/integration/targets/aws_waf_web_acl/meta/main.yml
  tests/integration/targets/cloudformation_exports_info/meta/main.yml
  tests/integration/targets/cloudformation_stack_set/meta/main.yml
  tests/integration/targets/cloudtrail/meta/main.yml
  tests/integration/targets/cloudwatchlogs/meta/main.yml
  tests/integration/targets/connection_aws_ssm/meta/main.yml
  tests/integration/targets/dms_endpoint/meta/main.yml
  tests/integration/targets/dms_replication_subnet_group/meta/main.yml
  tests/integration/targets/ec2_asg/meta/main.yml
  tests/integration/targets/ec2_asg_lifecycle_hook/meta/main.yml
  tests/integration/targets/ec2_transit_gateway/meta/main.yml
  tests/integration/targets/ec2_vpc_egress_igw/meta/main.yml
  tests/integration/targets/ec2_vpc_peer/meta/main.yml
  tests/integration/targets/ec2_vpc_vgw/meta/main.yml
  tests/integration/targets/ec2_vpc_vpn_info/meta/main.yml
  tests/integration/targets/ecs_tag/meta/main.yml
  tests/integration/targets/efs/meta/main.yml
  tests/integration/targets/eks_fargate_profile/meta/main.yml
  tests/integration/targets/elasticache/meta/main.yml
  tests/integration/targets/iam_managed_policy/meta/main.yml
  tests/integration/targets/iam_password_policy/meta/main.yml
  tests/integration/targets/iam_policy/meta/main.yml
  tests/integration/targets/legacy_missing_tests/meta/main.yml
  tests/integration/targets/lightsail/meta/main.yml
  tests/integration/targets/rds_cluster/meta/main.yml
  tests/integration/targets/rds_instance/meta/main.yml
  tests/integration/targets/rds_option_group/meta/main.yml
  tests/integration/targets/route53/meta/main.yml
  tests/integration/targets/route53_zone/meta/main.yml
  tests/integration/targets/s3_lifecycle/meta/main.yml
  tests/integration/targets/s3_logging/meta/main.yml
  tests/integration/targets/s3_metrics_configuration/meta/main.yml
  tests/integration/targets/setup_botocore_pip/meta/main.yml
  tests/integration/targets/setup_ec2_facts/meta/main.yml
  tests/integration/targets/setup_remote_tmp_dir/meta/main.yml
  tests/integration/targets/setup_sshkey/meta/main.yml
  tests/integration/targets/sns/meta/main.yml
  tests/integration/targets/sns_topic/meta/main.yml
  tests/integration/targets/sqs_queue/meta/main.yml
  tests/integration/targets/wafv2_ip_set/meta/main.yml
Labels: needs_rebase, needs_revision, feature, needs_triage, community_review, mergeit

#1047 New modules: networkfirewall_policy
  meta/runtime.yml
  plugins/module_utils/networkfirewall.py
  plugins/modules/networkfirewall_policy.py
  plugins/modules/networkfirewall_policy_info.py
  plugins/modules/networkfirewall_rule_group_info.py
  tests/integration/targets/networkfirewall_policy/aliases
  tests/integration/targets/networkfirewall_policy/defaults/main.yml
  tests/integration/targets/networkfirewall_policy/meta/main.yml
  tests/integration/targets/networkfirewall_policy/tasks/actions.yml
  tests/integration/targets/networkfirewall_policy/tasks/cleanup.yml
  tests/integration/targets/networkfirewall_policy/tasks/common.yml
  tests/integration/targets/networkfirewall_policy/tasks/default_order.yml
  tests/integration/targets/networkfirewall_policy/tasks/main.yml
  tests/integration/targets/networkfirewall_policy/tasks/setup.yml
  tests/integration/targets/networkfirewall_policy/tasks/strict_order.yml
  tests/integration/targets/networkfirewall_rule_group/tasks/minimal.yml
Labels: new_plugin, new_module, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1092 Fixing parameter name in example.
  plugins/modules/aws_acm.py
Labels: new_contributor, module, community_review, small_patch, plugins, docs, backport-2, mergeit, backport-3

#1093 iam_policy - update examples, add RETURN, add required_if case
  changelogs/fragments/1093-iam_policy-update-docs-and-add-required_if.yml
  plugins/modules/iam_policy.py
  tests/integration/targets/iam_policy/tasks/object.yml
Labels: bug, integration, module, tests, community_review, plugins, backport-2, mergeit, backport-3

#1091 Run DMS integration tests in CI
  tests/integration/targets/dms_endpoint/aliases
  tests/integration/targets/dms_replication_subnet_group/aliases
Labels: integration, tests, needs_triage, community_review, plugins, mergeit

#1052 aws_kms - stabilize and add integration tests
  changelogs/fragments/1052-aws_kms-stabilize-integration-tests.yml
  plugins/modules/aws_kms.py
  plugins/modules/aws_kms_info.py
  tests/integration/targets/aws_kms/aliases
  tests/integration/targets/aws_kms/defaults/main.yml
  tests/integration/targets/aws_kms/tasks/main.yml
  tests/sanity/ignore-2.9.txt
Labels: feature, has_issue, integration, module, tests, community_review, plugins, mergeit, backport-3

#1100 Docs linting fixups
  plugins/modules/aws_batch_job_definition.py
  plugins/modules/aws_config_rule.py
  plugins/modules/aws_secret.py
  plugins/modules/aws_waf_rule.py
  plugins/modules/cloudfront_invalidation.py
  plugins/modules/ec2_placement_group_info.py
  plugins/modules/iam_user.py
  plugins/modules/route53_health_check.py
  plugins/modules/s3_sync.py
Labels: owner_pr, module, community_review, plugins, docs, backport-1.5, backport-2, mergeit, backport-3
