Repository ansible-collections/community.aws, pull requests merged in 2022-06, with the labels that each got.

#1152 lambda_info - refactor to fix bug when querying all lambdas
  changelogs/fragments/1152-lambda_info-bugfix-all-lambdas.yml
  plugins/modules/lambda_info.py
  tests/integration/targets/lambda/tasks/main.yml
Labels: bug, integration, module, tests, community_review, plugins, mergeit, backport-3

#1183 Tagging - remove default empty dict where purge_tags default is True
  changelogs/fragments/1183-tagging.yml
  plugins/modules/ec2_transit_gateway.py
  plugins/modules/efs.py
  plugins/modules/eks_fargate_profile.py
  plugins/modules/elb_target_group.py
Labels: owner_pr, module, needs_triage, community_review, plugins, docs, mergeit

#1187 ecs_service and ecs_service_info: add name and service aliases
  changelogs/fragments/0001-ecs-service-aliases.yml
  plugins/modules/ecs_service.py
  plugins/modules/ecs_service_info.py
Labels: bug, owner_pr, module, community_review, plugins, backport-2, mergeit, backport-3

#1182 Tagging fragment - Move simplest cases over to the docs fragment.
  changelogs/fragments/1182-tagging.yml
  plugins/modules/aws_glue_job.py
  plugins/modules/aws_msk_cluster.py
  plugins/modules/aws_secret.py
  plugins/modules/aws_step_functions_state_machine.py
  plugins/modules/ec2_eip.py
  plugins/modules/ec2_transit_gateway_vpc_attachment.py
  plugins/modules/ec2_vpc_peer.py
  plugins/modules/elb_application_lb.py
  plugins/modules/elb_network_lb.py
  plugins/modules/iam_role.py
  plugins/modules/iam_user.py
  plugins/modules/networkfirewall_policy.py
  plugins/modules/networkfirewall_rule_group.py
  plugins/modules/rds_cluster.py
  plugins/modules/rds_instance.py
  plugins/modules/rds_option_group.py
  plugins/modules/rds_subnet_group.py
  plugins/modules/redshift.py
Labels: owner_pr, module, community_review, plugins, docs, mergeit

#1181 ecs_service -- Capacity provider strategy
  changelogs/fragments/1181-ecs_service_capacity_provider_strategy.yml
  plugins/modules/ecs_service.py
Labels: new_contributor, feature, has_issue, module, community_review, plugins, mergeit

#1189 ec2_vpc_nacl - Add support for purge_tags
  changelogs/fragments/1189-ec2_vpc_nacl-tagging.yml
  plugins/modules/ec2_vpc_nacl.py
  tests/integration/targets/ec2_vpc_nacl/aliases
  tests/integration/targets/ec2_vpc_nacl/defaults/main.yml
  tests/integration/targets/ec2_vpc_nacl/tasks/ingress_and_egress.yml
  tests/integration/targets/ec2_vpc_nacl/tasks/ipv6.yml
  tests/integration/targets/ec2_vpc_nacl/tasks/main.yml
  tests/integration/targets/ec2_vpc_nacl/tasks/subnet_ids.yml
  tests/integration/targets/ec2_vpc_nacl/tasks/subnet_names.yml
  tests/integration/targets/ec2_vpc_nacl/tasks/tags.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit, do_not_backport

#1200 Tagging fragment - rds_instance_snapshot - Move over to the docs fragment.
  changelogs/fragments/1200-tagging.yml
  plugins/modules/rds_instance_snapshot.py
Labels: feature, owner_pr, module, needs_triage, community_review, plugins, mergeit

#1201 Tagging - ec2_snapshot_copy
  changelogs/fragments/1201-tagging-ec2_snapshot_copy.yml
  plugins/modules/ec2_snapshot_copy.py
Labels: owner_pr, module, needs_triage, community_review, plugins, docs, mergeit

#1202 lambda - Add support for purge_tags
  changelogs/fragments/1202-tagging-lambda.yml
  plugins/modules/lambda.py
  tests/integration/targets/lambda/defaults/main.yml
  tests/integration/targets/lambda/tasks/main.yml
  tests/integration/targets/lambda/tasks/tagging.yml
Labels: bug, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1197 ec2_customer_gateway: fix bgp_asn documentation inconsistency
  plugins/modules/ec2_customer_gateway.py
Labels: module, community_review, small_patch, plugins, docs, backport-2, mergeit, backport-3

#1205 wafv2_ip_set - add support for updating tags
  changelogs/fragments/1205-tagging-wafv2_ip_set.yml
  plugins/module_utils/wafv2.py
  plugins/modules/wafv2_ip_set.py
  plugins/modules/wafv2_ip_set_info.py
  tests/integration/targets/wafv2_ip_set/tasks/main.yml
  tests/integration/targets/wafv2_ip_set/tasks/tagging.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit

#1196 rds_instance - fix sporadic test failure in processor features
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_processor.yml
Labels: feature, integration, tests, community_review, plugins, performance, mergeit, backport-3

#1171 ecs_ecr -- Return repository policy if it exists, even if we did not …
  changelogs/fragments/1171-ecs_ecr_pull_repo_policy.yml
  plugins/modules/ecs_ecr.py
  tests/integration/targets/ecs_ecr/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit

#1026 Add AWSRetry.jittered_backoff to rds_instance_info
  changelogs/fragments/1026-aws-retry-rds-instance-info.yml
  plugins/modules/rds_instance_info.py
Labels: bug, new_contributor, module, community_review, traceback, plugins, mergeit, backport-3

#1211 wafv2_ip_set - fix bugs with changing description
  changelogs/fragments/1211-wafv2_ip_set-description.yml
  plugins/modules/wafv2_ip_set.py
  tests/integration/targets/wafv2_ip_set/tasks/description.yml
  tests/integration/targets/wafv2_ip_set/tasks/main.yml
Labels: bug, integration, module, tests, community_review, plugins, mergeit

#1198 Tagging fragment - networkfirewall - Move over to the docs fragment
  plugins/modules/networkfirewall.py
Labels: feature, owner_pr, module, needs_triage, community_review, plugins, mergeit

#1215 ecs_service - document circuit breaker feature
  changelogs/fragments/1215-ecs-service-deployment-circuit-breaker-support.yml
  plugins/modules/ecs_service.py
  tests/integration/targets/ecs_cluster/defaults/main.yml
  tests/integration/targets/ecs_cluster/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit

#1217 fix assert of deploymentCircuitBreaker
  tests/integration/targets/ecs_cluster/tasks/main.yml
Labels: integration, tests, community_review, plugins, mergeit

#1219 cloudtrail - add support for purge_tags
  changelogs/fragments/1219-cloudtrail-taging.yml
  plugins/modules/cloudtrail.py
  tests/integration/targets/cloudtrail/defaults/main.yml
  tests/integration/targets/cloudtrail/tasks/main.yml
  tests/integration/targets/cloudtrail/tasks/tagging.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1221 aws_codebuild - Add resource_tags parameter and deprecate tags
  changelogs/fragments/1221-aws_codebuild-tagging.yml
  plugins/modules/aws_codebuild.py
  tests/integration/targets/aws_codebuild/defaults/main.yml
  tests/integration/targets/aws_codebuild/tasks/description.yml
  tests/integration/targets/aws_codebuild/tasks/main.yml
  tests/integration/targets/aws_codebuild/tasks/tagging.yml
Labels: bug, integration, module, tests, needs_triage, community_review, plugins, backport-2, mergeit, backport-3

#1222 Backport stable-3: rds_instance
  changelogs/fragments/1081-rds_instance-snapshot-tests-and-restore-db.yml
  plugins/modules/rds_cluster.py
  plugins/modules/rds_instance.py
  tests/integration/targets/rds_instance/aliases
  tests/integration/targets/rds_instance/inventory
  tests/integration/targets/rds_instance/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/defaults/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_aurora.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_complex.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_iam_roles.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_modify.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_processor.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_sgroups.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_snapshot.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_states.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_tagging.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_upgrade.yml
Labels: bug, integration, module, tests, community_review, plugins, mergeit

#1216 wafv2_web_acl - fix return values
  changelogs/fragments/1216-wafv2_web_acl-return.yml
  plugins/modules/wafv2_web_acl.py
  tests/integration/targets/wafv2_web_acl/aliases
  tests/integration/targets/wafv2_web_acl/defaults/main.yml
  tests/integration/targets/wafv2_web_acl/meta/main.yml
  tests/integration/targets/wafv2_web_acl/tasks/description.yml
  tests/integration/targets/wafv2_web_acl/tasks/main.yml
Labels: bug, integration, module, tests, needs_triage, community_review, plugins, mergeit, backport-3

#1225 backport-3: ecs_service deployment_circuit_breaker
  changelogs/fragments/1215-ecs-service-deployment-circuit-breaker-support.yml
  plugins/modules/ecs_service.py
  tests/integration/targets/ecs_cluster/defaults/main.yml
  tests/integration/targets/ecs_cluster/tasks/main.yml
Labels: bug, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1226 backport-2: ecs_service deployment_circuit_breaker
  changelogs/fragments/1215-ecs-service-deployment-circuit-breaker-support.yml
  plugins/modules/ecs_service.py
  tests/integration/targets/ecs_cluster/defaults/main.yml
  tests/integration/targets/ecs_cluster/tasks/main.yml
Labels: bug, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1218 Tagging - wafv2_web_acl add support for managing and purging tags
  changelogs/fragments/1218-tagging-wafv2_web_acl.yml
  plugins/modules/wafv2_web_acl.py
  plugins/modules/wafv2_web_acl_info.py
  tests/integration/targets/wafv2_web_acl/tasks/main.yml
  tests/integration/targets/wafv2_web_acl/tasks/tags.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1212 ecs_* - fix idempotence bug in ecs_service and dont require ``cluster``
  changelogs/fragments/1212-ecs_service-fix-broken-change-detect.yml
  plugins/modules/ecs_service.py
  plugins/modules/ecs_task.py
Labels: bug, module, community_review, plugins, backport-2, mergeit, backport-3

#1232 ec2_vpc_vgw - Add support for purge_tags
  changelogs/fragments/1232-ec2_vpc_vgw-purge_tags.yml
  plugins/modules/ec2_vpc_vgw.py
  plugins/modules/ec2_vpc_vgw_info.py
  tests/integration/targets/ec2_vpc_vgw/defaults/main.yml
  tests/integration/targets/ec2_vpc_vgw/tasks/main.yml
  tests/integration/targets/ec2_vpc_vgw/tasks/tags.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1233 cloudwatchlogs_log_group - Tagging support
  changelogs/fragments/1233-cloudwatchlogs_log_group-tagging.yml
  plugins/modules/cloudwatchlogs_log_group.py
  plugins/modules/cloudwatchlogs_log_group_info.py
  tests/integration/targets/cloudwatchlogs_log_group/aliases
  tests/integration/targets/cloudwatchlogs_log_group/defaults/main.yml
  tests/integration/targets/cloudwatchlogs_log_group/meta/main.yml
  tests/integration/targets/cloudwatchlogs_log_group/tasks/main.yml
  tests/integration/targets/cloudwatchlogs_log_group/tasks/tags.yml
  tests/integration/targets/legacy_missing_tests/aliases
Labels: bug, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1234 dms_endpoint - Support modifying tags
  changelogs/fragments/1234-dms_endpoint-tagging.yml
  plugins/modules/dms_endpoint.py
  tests/integration/targets/dms_endpoint/tasks/main.yml
  tests/integration/targets/dms_endpoint/tasks/tags.yml
Labels: bug, integration, module, tests, needs_triage, community_review, plugins, mergeit

#859 Add 'opensearch' and 'opensearch_info' modules
  meta/runtime.yml
  plugins/module_utils/opensearch.py
  plugins/modules/opensearch.py
  plugins/modules/opensearch_info.py
  tests/integration/targets/opensearch/aliases
  tests/integration/targets/opensearch/defaults/main.yml
  tests/integration/targets/opensearch/files/opensearch_policy.json
  tests/integration/targets/opensearch/meta/main.yml
  tests/integration/targets/opensearch/tasks/main.yml
  tests/integration/targets/opensearch/tasks/test_create_cert.yml
  tests/integration/targets/opensearch/tasks/test_delete_resources.yml
  tests/integration/targets/opensearch/tasks/test_delete_vpc_resources.yml
  tests/integration/targets/opensearch/tasks/test_opensearch.yml
  tests/integration/targets/opensearch/tasks/test_vpc_setup.yml
  tests/integration/targets/opensearch/templates/kms_policy.j2
  tests/unit/plugins/modules/test_opensearch.py
Labels: new_plugin, new_module, has_issue, integration, module, tests, community_review, plugins, mergeit

#1235 opensearch - Minor fixups
  plugins/modules/opensearch.py
  plugins/modules/opensearch_info.py
Labels: owner_pr, module, needs_triage, community_review, plugins, docs, mergeit

#1236 route53_info: Add snake_cased return key,values and a deprecation message
  changelogs/fragments/1236-route53_info-add-snake_case-return-values.yml
  plugins/modules/route53_info.py
Labels: bug, module, community_review, plugins, mergeit, backport-3

#788 rds_cluster_snapshot - new module to handle RDS cluster snapshotting
  meta/runtime.yml
  plugins/modules/rds_cluster_snapshot.py
  tests/integration/targets/rds_cluster_snapshot/aliases
  tests/integration/targets/rds_cluster_snapshot/defaults/main.yml
  tests/integration/targets/rds_cluster_snapshot/tasks/main.yml
  tests/integration/targets/rds_cluster_snapshot/vars/main.yml
Labels: merge_commit, needs_rebase, new_plugin, new_module, integration, module, tests, plugins, mergeit, backport-3

#1240 route53_info: Add RETURN block
  changelogs/fragments/1240-route53_info-add-return-section-documentation-block.yml
  plugins/modules/route53_info.py
Labels: bug, module, needs_triage, community_review, plugins, mergeit

#1242 ec2_vpc_vpn - fix exception when running in check mode without tags set
  changelogs/fragments/1242-ec2_vpc_vpn-no-tags.yml
  plugins/modules/ec2_vpc_vpn.py
  tests/integration/targets/ec2_vpc_vpn/aliases
  tests/integration/targets/ec2_vpc_vpn/meta/main.yml
  tests/integration/targets/ec2_vpc_vpn/tasks/main.yml
  tests/integration/targets/ec2_vpc_vpn/tasks/tags.yml
  tests/integration/targets/ec2_vpc_vpn_info/aliases
  tests/integration/targets/legacy_missing_tests/aliases
Labels: bug, integration, module, tests, needs_triage, community_review, python3, traceback, plugins, mergeit

#1243 Add some simple ec2_vpc_vgw_info integration tests to ec2_vpc_vgw tests
  tests/integration/targets/ec2_vpc_vgw/aliases
  tests/integration/targets/ec2_vpc_vgw/tasks/main.yml
Labels: feature, integration, tests, needs_triage, community_review, plugins, mergeit

#1244 Add minimal integration test for sts_session_token
  tests/integration/targets/legacy_missing_tests/aliases
  tests/integration/targets/sts_session_token/aliases
  tests/integration/targets/sts_session_token/defaults/main.yml
  tests/integration/targets/sts_session_token/meta/main.yml
  tests/integration/targets/sts_session_token/tasks/main.yml
Labels: feature, integration, tests, needs_triage, community_review, plugins, mergeit

#1241 Re-enable and update integration tests for aws_ssm_parameter_store
  changelogs/fragments/1241-aws_ssm_parameter_store.yml
  plugins/modules/aws_ssm_parameter_store.py
  tests/integration/targets/aws_ssm_parameter_store/aliases
  tests/integration/targets/aws_ssm_parameter_store/defaults/main.yml
  tests/integration/targets/aws_ssm_parameter_store/tasks/main.yml
Labels: bug, integration, module, tests, needs_triage, community_review, python3, traceback, plugins, mergeit

#1247 community.aws 2.6.0 release prep
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/0001-ecs-service-aliases.yml
  changelogs/fragments/1211-wafv2_ip_set-description.yml
  changelogs/fragments/1212-ecs_service-fix-broken-change-detect.yml
  changelogs/fragments/1215-ecs-service-deployment-circuit-breaker-support.yml
  docs/community.aws.ec2_customer_gateway_module.rst
  docs/community.aws.ecs_service_info_module.rst
  docs/community.aws.ecs_service_module.rst
  docs/community.aws.ecs_task_module.rst
  docs/community.aws.lambda_facts_module.rst
  galaxy.yml
  tests/requirements.yml
Labels: bug, tests, community_review, docs, mergeit

#1248 Prepare 2.6.1
  CHANGELOG.rst
  changelogs/changelog.yaml
  galaxy.yml
Labels: feature, needs_triage, community_review, mergeit

#1252 [stable-3] Fixup short description for aws_acm
  plugins/modules/aws_acm.py
Labels: owner_pr, module, needs_triage, community_review, small_patch, plugins, docs, mergeit

#1249 Prepare 3.4.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/0001-ecs-service-aliases.yml
  changelogs/fragments/1026-aws-retry-rds-instance-info.yml
  changelogs/fragments/1081-rds_instance-snapshot-tests-and-restore-db.yml
  changelogs/fragments/1152-lambda_info-bugfix-all-lambdas.yml
  changelogs/fragments/1184-tagging.yml
  changelogs/fragments/1211-wafv2_ip_set-description.yml
  changelogs/fragments/1212-ecs_service-fix-broken-change-detect.yml
  changelogs/fragments/1215-ecs-service-deployment-circuit-breaker-support.yml
  changelogs/fragments/1216-wafv2_web_acl-return.yml
  changelogs/fragments/1221-aws_codebuild-tagging.yml
  changelogs/fragments/1236-route53_info-add-snake_case-return-values.yml
  docs/community.aws.aws_codebuild_module.rst
  docs/community.aws.ec2_customer_gateway_module.rst
  docs/community.aws.ecs_service_info_module.rst
  docs/community.aws.ecs_service_module.rst
  docs/community.aws.ecs_tag_module.rst
  docs/community.aws.ecs_task_module.rst
  docs/community.aws.efs_tag_module.rst
  docs/community.aws.iam_server_certificate_info_module.rst
  docs/community.aws.lambda_info_module.rst
  docs/community.aws.rds_instance_module.rst
  docs/community.aws.wafv2_web_acl_module.rst
  galaxy.yml
Labels: feature, needs_triage, community_review, docs, mergeit

#1255 Bump galaxy version to 5.0.0-dev0 as part of post 4.0.0 work
  galaxy.yml
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Labels: feature, tests, needs_triage, community_review, mergeit

#1258 Bump various deprecations from 4.0.0 to 5.0.0
  changelogs/fragments/1257-deprecations.yml
  meta/runtime.yml
  plugins/modules/iam_server_certificate.py
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
Labels: feature, module, tests, community_review, plugins, mergeit, backport-3, backport-4

#1263 Rename ACM modules
  README.md
  changelogs/fragments/1263-acm_certificate.yml
  docs/community.aws.acm_certificate_info_module.rst
  docs/community.aws.acm_certificate_module.rst
  meta/runtime.yml
  plugins/modules/acm_certificate.py
  plugins/modules/acm_certificate_info.py
  tests/integration/targets/acm_certificate/aliases
  tests/integration/targets/acm_certificate/defaults/main.yml
  tests/integration/targets/acm_certificate/meta/main.yml
  tests/integration/targets/acm_certificate/tasks/full_acm_test.yml
  tests/integration/targets/acm_certificate/tasks/main.yml
  tests/unit/plugins/modules/test_acm_certificate.py
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, docs, mergeit

#1254 [stable-4] Update stable-4 docs to reference stable-4 branch
  README.md
Labels: needs_triage, community_review, docs, mergeit

#1265 [5.0.0] iam_server_cerificate - complete deprecation cycles
  changelogs/fragments/1265-iam_server_cerificate_deprecations.yml
  plugins/modules/iam_server_certificate.py
  tests/integration/targets/iam_server_certificate/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, do_not_backport

#1264 Rename SES modules
  README.md
  changelogs/fragments/1264-rename_ses.yml
  docs/community.aws.ses_identity_module.rst
  docs/community.aws.ses_identity_policy_module.rst
  docs/community.aws.ses_rule_set_module.rst
  meta/runtime.yml
  plugins/modules/ses_identity.py
  plugins/modules/ses_identity_policy.py
  plugins/modules/ses_rule_set.py
  tests/integration/targets/ses_identity/aliases
  tests/integration/targets/ses_identity/defaults/main.yaml
  tests/integration/targets/ses_identity/meta/main.yaml
  tests/integration/targets/ses_identity/tasks/assert_defaults.yaml
  tests/integration/targets/ses_identity/tasks/main.yaml
  tests/integration/targets/ses_identity_policy/aliases
  tests/integration/targets/ses_identity_policy/defaults/main.yaml
  tests/integration/targets/ses_identity_policy/meta/main.yml
  tests/integration/targets/ses_identity_policy/tasks/main.yaml
  tests/integration/targets/ses_identity_policy/templates/policy.json.j2
  tests/integration/targets/ses_rule_set/aliases
  tests/integration/targets/ses_rule_set/defaults/main.yaml
  tests/integration/targets/ses_rule_set/meta/main.yml
  tests/integration/targets/ses_rule_set/tasks/active-rule-set-tests.yaml
  tests/integration/targets/ses_rule_set/tasks/cleanup-lock.yaml
  tests/integration/targets/ses_rule_set/tasks/inactive-rule-set-tests.yaml
  tests/integration/targets/ses_rule_set/tasks/main.yaml
  tests/integration/targets/ses_rule_set/tasks/obtain-lock-wrapper.yaml
  tests/integration/targets/ses_rule_set/tasks/obtain-lock.yaml
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, docs, mergeit

#1261 simplify github workflows
  .github/workflows/docs-pr.yml
  plugins/modules/aws_ssm_parameter_store.py
Labels: feature, module, community_review, plugins, mergeit, backport-4

#1269 rename aws_eks_cluster -> eks_cluster
  README.md
  changelogs/fragments/1269-rename_eks.yml
  docs/community.aws.eks_cluster_module.rst
  meta/runtime.yml
  plugins/modules/eks_cluster.py
  tests/integration/targets/eks_cluster/aliases
  tests/integration/targets/eks_cluster/defaults/main.yml
  tests/integration/targets/eks_cluster/files/eks-trust-policy.json
  tests/integration/targets/eks_cluster/meta/main.yml
  tests/integration/targets/eks_cluster/tasks/full_test.yml
  tests/integration/targets/eks_cluster/tasks/main.yml
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, docs, mergeit

#1270 Disable galaxy-importer docs tests
  tests/galaxy-importer.cfg
Labels: feature, tests, needs_triage, community_review, mergeit

#1271 Rename s3 modules
  README.md
  changelogs/fragments/1271-rename-s3.yml
  docs/community.aws.acm_certificate_info_module.rst
  docs/community.aws.acm_certificate_module.rst
  docs/community.aws.s3_bucket_info_module.rst
  docs/community.aws.s3_cors_module.rst
  meta/runtime.yml
  plugins/modules/s3_bucket_info.py
  plugins/modules/s3_cors.py
  tests/integration/targets/legacy_missing_tests/aliases
  tests/integration/targets/s3_bucket_info/aliases
  tests/integration/targets/s3_bucket_info/defaults/main.yml
  tests/integration/targets/s3_bucket_info/meta/main.yml
  tests/integration/targets/s3_bucket_info/tasks/basic.yml
  tests/integration/targets/s3_bucket_info/tasks/bucket_ownership_controls.yml
  tests/integration/targets/s3_bucket_info/tasks/main.yml
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, docs, mergeit

#1272 Rename batch modules
  README.md
  changelogs/fragments/1272-rename-batch.yml
  docs/community.aws.batch_compute_environment_module.rst
  docs/community.aws.batch_job_definition_module.rst
  docs/community.aws.batch_job_queue_module.rst
  meta/runtime.yml
  plugins/modules/batch_compute_environment.py
  plugins/modules/batch_job_definition.py
  plugins/modules/batch_job_queue.py
Labels: new_plugin, new_module, feature, module, needs_triage, community_review, plugins, docs, mergeit

#1273 rename execute_lambda
  README.md
  changelogs/fragments/1273-rename-lambda.yml
  docs/community.aws.lambda_execute_module.rst
  meta/runtime.yml
  plugins/modules/lambda_execute.py
  tests/integration/targets/lambda/aliases
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, docs, mergeit

#1195 sns_topic - Fix bug when used in GovCloud - issue 836
  plugins/modules/sns_topic.py
Labels: bug, new_contributor, module, community_review, plugins, mergeit

#1209 ecs_* - add waiters
  changelogs/fragments/1209-ecs_service-add-waiters.yml
  plugins/modules/ecs_service.py
  plugins/modules/ecs_task.py
  tests/integration/targets/ecs_cluster/tasks/main.yml
Labels: bug, feature, has_issue, integration, module, tests, community_review, plugins, mergeit, backport-4

#1277 Add missing changelog fragment for 1195
  changelogs/fragments/1195-sns_topic.yml
Labels: owner_pr, needs_triage, community_review, docs, mergeit

#1276 Complete iam_cert and rds_snapshot deprecations
  meta/runtime.yml
  plugins/modules/iam_server_certificate.py
  tests/integration/targets/elb_network_lb/tasks/main.yml
  tests/integration/targets/iam_server_certificate/tasks/main.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1282 Cleanup meta/runtime.yml
  meta/runtime.yml
Labels: bug, needs_triage, community_review, mergeit

#1239 lambda_info - Return list of dicts as opposed to dict of dicts
  changelogs/fragments/1239-lambda_info-return_list.yml
  plugins/modules/lambda_info.py
  tests/integration/targets/lambda/tasks/main.yml
Labels: feature, integration, module, tests, community_review, python3, plugins, mergeit, backport-4

#1289 Add sanity ignore entries for 5.0.0 deprecations
  tests/sanity/ignore-2.10.txt
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.9.txt
Labels: feature, tests, needs_triage, community_review, mergeit

#1288 Rename api_gateway modules
  README.md
  changelogs/fragments/1288-rename-apigateway.yml
  docs/community.aws.api_gateway_domain_module.rst
  docs/community.aws.api_gateway_module.rst
  meta/runtime.yml
  plugins/modules/api_gateway.py
  plugins/modules/api_gateway_domain.py
  tests/integration/targets/api_gateway/aliases
  tests/integration/targets/api_gateway/meta/main.yml
  tests/integration/targets/api_gateway/tasks/main.yml
  tests/integration/targets/api_gateway/templates/minimal-swagger-api.yml.j2
  tests/integration/targets/api_gateway_domain/aliases
  tests/integration/targets/api_gateway_domain/defaults/main.yml
  tests/integration/targets/api_gateway_domain/files/api_gw_swagger.yml
  tests/integration/targets/api_gateway_domain/meta/main.yml
  tests/integration/targets/api_gateway_domain/tasks/main.yml
  tests/integration/targets/aws_api_gateway_domain/aliases
  tests/unit/plugins/modules/test_api_gateway.py
Labels: new_plugin, new_module, feature, integration, module, tests, needs_triage, community_review, plugins, docs, mergeit

#1176 ssm connection: pull bucket region info rather than taking from region var
  changelogs/fragments/1176-ssm-connection-plugin-region-fix.yml
  plugins/connection/aws_ssm.py
Labels: bug, new_contributor, connection, needs_triage, community_review, plugins, mergeit, backport-3, backport-4
