Repository ansible-collections/community.aws, pull requests merged in 2022-03, with the labels that each got.

#945 cloudfront_distribution: add missing documentation
  plugins/modules/cloudfront_distribution.py
Labels: owner_pr, module, community_review, plugins, docs, backport-2, mergeit, backport-3

#956 [4.0.0] Bump minimum botocore version to 1.20.0
  README.md
  changelogs/fragments/release-4--botocore.yml
  plugins/modules/aws_msk_cluster.py
  plugins/modules/ec2_launch_template.py
  requirements.txt
  tests/integration/constraints.txt
  tests/integration/targets/setup_botocore_pip/defaults/main.yml
  tests/unit/constraints.txt
Labels: feature, integration, module, tests, community_review, python3, plugins, mergeit

#965 Fix linting issues reported by validate-modules in plugins
  changelogs/fragments/validate-plugins.yml
  plugins/connection/aws_ssm.py
Labels: bug, connection, needs_triage, community_review, small_patch, plugins, mergeit

#960 ec2_asg: Add purge_tags to AutoScalingGroups.
  changelogs/fragments/960-ec2_asg-purge-tags.yml
  plugins/modules/ec2_asg.py
  tests/integration/targets/ec2_asg/tasks/instance_detach.yml
  tests/integration/targets/ec2_asg/tasks/main.yml
  tests/integration/targets/ec2_asg/tasks/tag_operations.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-3

#966 elb_target_group - support target_type alb
  changelogs/fragments/966-elb_target_group-support-alb-target.yml
  plugins/modules/elb_target_group.py
  tests/integration/targets/elb_target/tasks/alb_target.yml
  tests/integration/targets/elb_target/tasks/lambda_target.yml
  tests/integration/targets/elb_target/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-3

#979 CI: redshift_info is an alias of redshift
  tests/integration/targets/redshift/aliases
Labels: needs_info, needs_template, integration, tests, needs_triage, plugins, CI, backport-2, mergeit, backport-3

#984 Various integration test fixes
  tests/integration/targets/aws_secret/tasks/rotation.yml
  tests/integration/targets/lambda/tasks/main.yml
  tests/integration/targets/lambda_alias/tasks/main.yml
  tests/integration/targets/lambda_policy/tasks/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_tagging.yml
  tests/integration/targets/s3_bucket_notification/tasks/main.yml
  tests/integration/targets/wafv2/aliases
  tests/integration/targets/wafv2/defaults/main.yml
Labels: bug, integration, tests, needs_triage, community_review, python3, plugins, mergeit

#970 redshift_info - fix invalid import path for botocore exceptions
  changelogs/fragments/970-redshift_info-boto-import.yml
  plugins/modules/redshift_info.py
Labels: bug, new_contributor, module, community_review, small_patch, plugins, backport-2, mergeit, backport-3

#962 wafv2_web_acl: prevent exception when element is not a dict
  changelogs/fragments/962-fix-waf-list-conditions.yml
  plugins/module_utils/wafv2.py
  tests/integration/targets/wafv2/tasks/test_webacl.yml
Labels: bug, integration, tests, needs_triage, community_review, traceback, backport-2, mergeit, backport-3

#957 Fix documentation about force_update_password in rds_instance module
  plugins/modules/rds_instance.py
Labels: module, community_review, small_patch, plugins, docs, backport-2, mergeit, backport-3

#977 Add backoff logic to elb_application_lb_info
  changelogs/fragments/977-add-backoff-logic-elb-info.yml
  plugins/modules/elb_application_lb_info.py
Labels: bug, module, community_review, plugins, backport-2, mergeit, backport-3

#925 New module for creating Cloudfront header policies…
  plugins/modules/cloudfront_response_headers_policy.py
  tests/integration/targets/cloudfront_reponse_headers_policy/aliases
  tests/integration/targets/cloudfront_reponse_headers_policy/meta/main.yml
  tests/integration/targets/cloudfront_reponse_headers_policy/task/main.yml
Labels: new_plugin, new_module, integration, module, tests, community_review, plugins, mergeit, backport-3

#944 New Modules: AWS Network Firewall - rule groups
  meta/runtime.yml
  plugins/module_utils/base.py
  plugins/module_utils/networkfirewall.py
  plugins/modules/networkfirewall_rule_group.py
  plugins/modules/networkfirewall_rule_group_info.py
  tests/integration/targets/networkfirewall_rule_group/aliases
  tests/integration/targets/networkfirewall_rule_group/defaults/main.yml
  tests/integration/targets/networkfirewall_rule_group/meta/main.yml
  tests/integration/targets/networkfirewall_rule_group/tasks/5-tuple.yml
  tests/integration/targets/networkfirewall_rule_group/tasks/cleanup.yml
  tests/integration/targets/networkfirewall_rule_group/tasks/domain_list.yml
  tests/integration/targets/networkfirewall_rule_group/tasks/main.yml
  tests/integration/targets/networkfirewall_rule_group/tasks/managed.yml
  tests/integration/targets/networkfirewall_rule_group/tasks/minimal.yml
  tests/integration/targets/networkfirewall_rule_group/tasks/rule_strings.yml
  tests/integration/targets/networkfirewall_rule_group/tasks/stateful.yml
Labels: new_plugin, new_module, integration, module, tests, needs_triage, community_review, plugins, mergeit

#961 IAM Role Removal Does Not Require Removal of Permission Boundary
  changelogs/fragments/961-iam-role-should-not-remove-permission-boundary-before-deletion.yml
  plugins/modules/iam_role.py
Labels: bug, new_contributor, module, community_review, small_patch, plugins, backport-2, mergeit, backport-3

#1001 Add backoff logic to elb_target_group_info
  changelogs/fragments/1001-add-backoff-logic-elb_target_group_info.yml
  plugins/modules/elb_target_group_info.py
Labels: bug, module, community_review, traceback, plugins, backport-2, mergeit, backport-3

#840 Support changing of launch type
  changelogs/fragments/840-ecs_taskdefinition-fix-task-definition-comparison.yml
  plugins/modules/ecs_taskdefinition.py
  tests/integration/targets/ecs_cluster/tasks/full_test.yml
Labels: bug, integration, module, tests, community_review, plugins, backport-2, mergeit, backport-3

#973 ec2_asg_instance_refresh and ec2_asg_instance_refresh_info modules
  meta/runtime.yml
  plugins/modules/ec2_asg_instance_refresh.py
  plugins/modules/ec2_asg_instance_refresh_info.py
  tests/integration/targets/ec2_asg_instance_refresh/aliases
  tests/integration/targets/ec2_asg_instance_refresh/defaults/main.yml
  tests/integration/targets/ec2_asg_instance_refresh/tasks/main.yml
  tests/integration/targets/ec2_asg_instance_refresh/tasks/refresh_and_cancel_three_times.yml
  tests/integration/targets/ec2_asg_instance_refresh/vars/main.yml
Labels: new_plugin, new_module, has_issue, integration, module, tests, community_review, plugins, mergeit, backport-3

#1011 Add a fake integration suite including an aliases file listing every …
  tests/integration/targets/aws_waf_web_acl/aliases
  tests/integration/targets/ec2_asg/aliases
  tests/integration/targets/ecs_cluster/aliases
  tests/integration/targets/elb_instance/aliases
  tests/integration/targets/legacy_missing_tests/README.md
  tests/integration/targets/legacy_missing_tests/aliases
Labels: bug, integration, tests, needs_triage, community_review, plugins, mergeit

#1010 Add a fake integration suite including an aliases file listing every …
  tests/integration/targets/aws_waf_web_acl/aliases
  tests/integration/targets/ec2_asg/aliases
  tests/integration/targets/ecs_cluster/aliases
  tests/integration/targets/elb_instance/aliases
  tests/integration/targets/legacy_missing_tests/README.md
  tests/integration/targets/legacy_missing_tests/aliases
Labels: bug, integration, tests, needs_triage, community_review, plugins, mergeit

#1015 Fix introduced bug in elb_target_group_info
  plugins/modules/elb_target_group_info.py
Labels: bug, module, community_review, small_patch, plugins, backport-2, mergeit, backport-3

#963 elb_application_lb - support alb attributes
  changelogs/fragments/963-elb_application_lb-support-alb-attributes.yml
  plugins/modules/elb_application_lb.py
  tests/integration/targets/elb_application_lb/tasks/main.yml
Labels: feature, has_issue, integration, module, tests, community_review, plugins, mergeit, backport-3

#1018 Backport elb_target_group_info PRs to stable-2
  changelogs/fragments/1001-add-backoff-logic-elb_target_group_info.yml
  plugins/modules/elb_target_group_info.py
Labels: bug, module, community_review, plugins, mergeit

#1019 Backport elb_target_group_info PRs to stable-3
  changelogs/fragments/1001-add-backoff-logic-elb_target_group_info.yml
  plugins/modules/elb_target_group_info.py
Labels: bug, module, community_review, plugins, mergeit

#673 sns_topic_info new module
  meta/runtime.yml
  plugins/modules/sns_topic_info.py
  tests/integration/targets/sns_topic/aliases
  tests/integration/targets/sns_topic/tasks/main.yml
Labels: new_plugin, new_module, integration, module, tests, community_review, plugins, mergeit, backport-3

#940 Refactor s3_bucket_notifications to support SNS / SQS
  changelogs/fragments/940-refactor-s3_bucket_notifications.yml
  plugins/modules/s3_bucket_notification.py
  plugins/modules/sns_topic.py
  plugins/modules/sqs_queue.py
  tests/integration/targets/s3_bucket_notification/defaults/main.yml
  tests/integration/targets/s3_bucket_notification/tasks/main.yml
  tests/integration/targets/s3_bucket_notification/tasks/test_lambda_notifications.yml
  tests/integration/targets/s3_bucket_notification/tasks/test_sns_sqs_notifications.yml
  tests/unit/plugins/modules/test_s3_bucket_notification.py
Labels: feature, has_issue, integration, module, tests, community_review, plugins, needs_maintainer, mergeit, backport-3

#1016 Add support for load_balancing_algorithm_type in elb_target_group
  changelogs/fragments/1016-add-algo-param-elb_target_group.yml
  plugins/modules/elb_target_group.py
  tests/integration/targets/elb_target/aliases
  tests/integration/targets/elb_target/tasks/ec2_target.yml
  tests/integration/targets/legacy_missing_tests/aliases
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-3

#1020 backport Various integration test fixes (#984)
  tests/integration/targets/aws_secret/tasks/rotation.yml
  tests/integration/targets/lambda/tasks/main.yml
  tests/integration/targets/lambda_alias/tasks/main.yml
  tests/integration/targets/lambda_policy/tasks/main.yml
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_tagging.yml
  tests/integration/targets/s3_bucket_notification/tasks/main.yml
  tests/integration/targets/wafv2/aliases
  tests/integration/targets/wafv2/defaults/main.yml
Labels: integration, tests, community_review, plugins, mergeit

#1023 Backport: Move some shared logic in module utils/sns (#879)
  plugins/module_utils/sns.py
  plugins/modules/sns.py
  plugins/modules/sns_topic.py
  tests/integration/targets/sns_topic/tasks/main.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1025 Backport: elb_application_lb - check_mode support, alb attributes, vpc default sg
  changelogs/fragments/894-add-check_mode-elb_application_lb.yml
  changelogs/fragments/963-elb_application_lb-support-alb-attributes.yml
  changelogs/fragments/971-elb_application_lb-fix-empty-sg-on-update.yml
  plugins/modules/elb_application_lb.py
  plugins/modules/elb_application_lb_info.py
  tests/integration/targets/elb_application_lb/aliases
  tests/integration/targets/elb_application_lb/defaults/main.yml
  tests/integration/targets/elb_application_lb/tasks/full_test.yml
  tests/integration/targets/elb_application_lb/tasks/main.yml
  tests/integration/targets/elb_application_lb/tasks/test_alb_bad_listener_options.yml
  tests/integration/targets/elb_application_lb/tasks/test_alb_ip_address_type_options.yml
  tests/integration/targets/elb_application_lb/tasks/test_alb_tags.yml
  tests/integration/targets/elb_application_lb/tasks/test_alb_with_asg.yml
  tests/integration/targets/elb_application_lb/tasks/test_creating_alb.yml
  tests/integration/targets/elb_application_lb/tasks/test_deleting_alb.yml
  tests/integration/targets/elb_application_lb/tasks/test_modifying_alb_listeners.yml
  tests/integration/targets/elb_application_lb/tasks/test_multiple_actions.yml
  tests/integration/targets/elb_application_lb_info/aliases
  tests/integration/targets/elb_application_lb_info/defaults/main.yml
  tests/integration/targets/elb_application_lb_info/meta/main.yml
  tests/integration/targets/elb_application_lb_info/tasks/full_test.yml
  tests/integration/targets/elb_application_lb_info/tasks/main.yml
  tests/integration/targets/elb_application_lb_info/tasks/setup.yml
  tests/integration/targets/elb_application_lb_info/tasks/teardown.yml
  tests/integration/targets/elb_application_lb_info/tasks/test_elb_application_lb_info.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit

#1028 Copy ignore-2.13.txt to ignore-2.14.txt
  tests/sanity/ignore-2.14.txt
Labels: merge_commit, needs_rebase, feature, needs_triage, backport-1.5, backport-2, mergeit, backport-3

#1027 Backport: Refactor s3_bucket_notifications to support SNS / SQS (#940) - stable-3
  changelogs/fragments/940-refactor-s3_bucket_notifications.yml
  plugins/modules/s3_bucket_notification.py
  plugins/modules/sns_topic.py
  plugins/modules/sqs_queue.py
  tests/integration/targets/s3_bucket_notification/defaults/main.yml
  tests/integration/targets/s3_bucket_notification/tasks/main.yml
  tests/integration/targets/s3_bucket_notification/tasks/test_lambda_notifications.yml
  tests/integration/targets/s3_bucket_notification/tasks/test_sns_sqs_notifications.yml
  tests/unit/plugins/modules/test_s3_bucket_notification.py
Labels: feature, integration, module, tests, community_review, plugins, needs_maintainer, mergeit

#1035 prepare 2.4.0
  CHANGELOG.rst
  README.md
  changelogs/changelog.yaml
  changelogs/fragments/1001-add-backoff-logic-elb_target_group_info.yml
  changelogs/fragments/297-aws-retry-cloudfront-distribution.yml
  changelogs/fragments/840-ecs_taskdefinition-fix-task-definition-comparison.yml
  changelogs/fragments/961-iam-role-should-not-remove-permission-boundary-before-deletion.yml
  changelogs/fragments/962-fix-waf-list-conditions.yml
  changelogs/fragments/970-redshift_info-boto-import.yml
  changelogs/fragments/977-add-backoff-logic-elb-info.yml
  docs/community.aws.cloudfront_distribution_module.rst
  docs/community.aws.rds_instance_module.rst
  galaxy.yml
Labels: bug, needs_triage, community_review, docs, mergeit

#982 ec2_asg: backport PRs 960 and 933
  changelogs/fragments/933-ec2_asg-detach-instances-feature.yml
  changelogs/fragments/960-ec2_asg-purge-tags.yml
  plugins/modules/ec2_asg.py
  tests/integration/targets/ec2_asg/tasks/instance_detach.yml
  tests/integration/targets/ec2_asg/tasks/main.yml
  tests/integration/targets/ec2_asg/tasks/tag_operations.yml
Labels: bug, integration, module, tests, community_review, plugins, mergeit

#1034 rds_instance - add valid choices for engine type
  changelogs/fragments/1034-rds_instance-update-valid-engine-type.yml
  plugins/modules/rds_instance.py
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_tagging.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit

#1036 ec2_asg: Restructure integration tests to reduce runtime
  changelogs/fragments/1036-ec2_asg-restructure-integration-tests.yml
  tests/integration/targets/ec2_asg/inventory
  tests/integration/targets/ec2_asg/main.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/defaults/main.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/tasks/create_update_delete.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/tasks/env_cleanup.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/tasks/env_setup.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/tasks/instance_detach.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/tasks/main.yml
  tests/integration/targets/ec2_asg/roles/ec2_asg/tasks/tag_operations.yml
  tests/integration/targets/ec2_asg/runme.sh
  tests/integration/targets/ec2_asg/vars/main.yml
Labels: feature, integration, tests, community_review, plugins, mergeit, backport-3

#942 New module aws_eks_fargate_profile
  meta/runtime.yml
  plugins/modules/eks_fargate_profile.py
  tests/integration/targets/eks_fargate_profile/aliases
  tests/integration/targets/eks_fargate_profile/defaults/main.yaml
  tests/integration/targets/eks_fargate_profile/files/eks-fargate-profile-trust-policy.json
  tests/integration/targets/eks_fargate_profile/files/eks-trust-policy.json
  tests/integration/targets/eks_fargate_profile/tasks/cleanup_eks_cluster.yml
  tests/integration/targets/eks_fargate_profile/tasks/create_eks_cluster.yml
  tests/integration/targets/eks_fargate_profile/tasks/full_test.yml
  tests/integration/targets/eks_fargate_profile/tasks/main.yaml
Labels: new_plugin, new_module, new_contributor, integration, module, tests, community_review, plugins, mergeit, backport-3

#1043 eks_fargate_profile: incr version added
  plugins/modules/eks_fargate_profile.py
Labels: owner_pr, module, needs_triage, community_review, small_patch, plugins, docs, mergeit

#1040 backport-3: rds_instance - add valid choices for engine type (#1034)
  changelogs/fragments/1034-rds_instance-update-valid-engine-type.yml
  plugins/modules/rds_instance.py
  tests/integration/targets/rds_instance/roles/rds_instance/tasks/test_tagging.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit

#870 Add support for tagging certificates. Fix deprecated tasks in aws_acm integration tests
  changelogs/fragments/870-aws_acm_certificate_tags.yml
  plugins/modules/aws_acm.py
  tests/integration/targets/aws_acm/aliases
  tests/integration/targets/aws_acm/tasks/full_acm_test.yml
  tests/integration/targets/aws_acm/tasks/main.yml
Labels: bug, has_issue, integration, module, tests, community_review, plugins, mergeit, backport-3
