Repository ansible-collections/community.aws, pull requests merged in 2023-01, with the labels that each got.

#1635 Disable networkfirewall_rule_group integration tests
  changelogs/fragments/1634-networkfirewall_rule_group-tests.yml
  tests/integration/targets/networkfirewall_rule_group/aliases
Labels: bug, integration, tests, community_review, small_patch, plugins, mergeit

#1636 iam_role: drop deprecation
  changelogs/fragments/iam_role_purge_policy.yml
  plugins/modules/iam_role.py
Labels: needs_info, needs_template, owner_pr, module, plugins, mergeit, backport-4, backport-5

#1644 ssm_parameter - fix typo in docs
  changelogs/fragments/1642-ssm_parameter.yml
  plugins/modules/ssm_parameter.py
Labels: owner_pr, module, community_review, plugins, docs, mergeit, backport-5

#1643 [6.0.0] codebuild_project - update tags param to use dict rather than list of dicts
  changelogs/fragments/1643-codebuild_project.yml
  plugins/modules/codebuild_project.py
  tests/integration/targets/codebuild_project/tasks/main.yml
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
  tests/sanity/ignore-2.9.txt
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit

#1629 make s3_lifecycle not call put_lifecycle_configuration if there is no…
  changelogs/fragments/1624-s3-lifecycle-idempotent.yml
  plugins/modules/s3_lifecycle.py
Labels: bug, module, community_review, plugins, mergeit, backport-4, backport-5

#1601 ecs_service supports constraints and strategy update
  changelogs/fragments/1601-ecs_service-support_constraints_and_strategy_update.yml
  plugins/modules/ecs_service.py
  tests/integration/targets/ecs_cluster/tasks/main.yml
Labels: bug, new_contributor, integration, module, tests, community_review, plugins, backport-4, backport-5

#558 fix ssm connection plugin fails at gathering facts
  changelogs/fragments/558-ssm_connection-invalid-literal.yml
  plugins/connection/aws_ssm.py
Labels: bug, new_contributor, connection, community_review, python3, plugins, mergeit, backport-4, backport-5

#1652 aws_ssm - Rework (and enable) integration tests
  changelogs/fragments/20230112-aws_ssm-tests.yml
  tests/integration/targets/connection/aliases
  tests/integration/targets/connection/test.sh
  tests/integration/targets/connection_aws_ssm/aliases
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/defaults/main.yml
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/tasks/main.yml
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/templates/ec2_linux_vars_to_delete.yml.j2
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/templates/inventory-combined.aws_ssm.j2
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_setup/templates/s3_vars_to_delete.yml.j2
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_teardown.yml
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_teardown/README.md
  tests/integration/targets/connection_aws_ssm/aws_ssm_integration_test_teardown/tasks/main.yml
  tests/integration/targets/connection_aws_ssm/meta/main.yml
  tests/integration/targets/connection_aws_ssm_amazon/aliases
  tests/integration/targets/connection_aws_ssm_amazon/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_amazon/aws_ssm_integration_test_teardown.yml
  tests/integration/targets/connection_aws_ssm_amazon/meta/main.yml
  tests/integration/targets/connection_aws_ssm_amazon/runme.sh
  tests/integration/targets/connection_aws_ssm_fedora/aliases
  tests/integration/targets/connection_aws_ssm_fedora/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_fedora/aws_ssm_integration_test_teardown.yml
  tests/integration/targets/connection_aws_ssm_fedora/meta/main.yml
  tests/integration/targets/connection_aws_ssm_fedora/runme.sh
  tests/integration/targets/connection_aws_ssm_ubuntu/aliases
  tests/integration/targets/connection_aws_ssm_ubuntu/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_ubuntu/aws_ssm_integration_test_teardown.yml
  tests/integration/targets/connection_aws_ssm_ubuntu/meta/main.yml
  tests/integration/targets/connection_aws_ssm_ubuntu/runme.sh
  tests/integration/targets/connection_aws_ssm_windows/aliases
  tests/integration/targets/connection_aws_ssm_windows/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_windows/aws_ssm_integration_test_teardown.yml
  tests/integration/targets/connection_aws_ssm_windows/meta/main.yml
  tests/integration/targets/connection_aws_ssm_windows/runme.sh
  tests/integration/targets/setup_connection_aws_ssm/README.md
  tests/integration/targets/setup_connection_aws_ssm/aliases
  tests/integration/targets/setup_connection_aws_ssm/defaults/main.yml
  tests/integration/targets/setup_connection_aws_ssm/files/ec2-trust-policy.json
  tests/integration/targets/setup_connection_aws_ssm/tasks/cleanup.yml
  tests/integration/targets/setup_connection_aws_ssm/tasks/debian.yml
  tests/integration/targets/setup_connection_aws_ssm/tasks/main.yml
  tests/integration/targets/setup_connection_aws_ssm/tasks/redhat.yml
  tests/integration/targets/setup_connection_aws_ssm/templates/aws-env-vars.j2
  tests/integration/targets/setup_connection_aws_ssm/templates/ec2_instance_vars_to_delete.yml.j2
  tests/integration/targets/setup_connection_aws_ssm/templates/ec2_windows_vars_to_delete.yml.j2
  tests/integration/targets/setup_connection_aws_ssm/templates/iam_role_vars_to_delete.yml.j2
  tests/integration/targets/setup_connection_aws_ssm/templates/inventory-combined.aws_ssm.j2
  tests/integration/targets/setup_connection_aws_ssm/templates/s3_vars_to_delete.yml.j2
Labels: feature, integration, tests, needs_triage, community_review, mergeit, backport-4, backport-5

#876 aws_ssm connection: add support for SSM document
  changelogs/fragments/876-aws_ssm_connection_ssm_document.yml
  plugins/connection/aws_ssm.py
  tests/integration/targets/connection_aws_ssm_ssm_document/aliases
  tests/integration/targets/connection_aws_ssm_ssm_document/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_ssm_document/aws_ssm_integration_test_teardown.yml
  tests/integration/targets/connection_aws_ssm_ssm_document/meta/main.yml
  tests/integration/targets/connection_aws_ssm_ssm_document/runme.sh
  tests/integration/targets/setup_connection_aws_ssm/defaults/main.yml
  tests/integration/targets/setup_connection_aws_ssm/files/ssm-document.json
  tests/integration/targets/setup_connection_aws_ssm/tasks/cleanup.yml
  tests/integration/targets/setup_connection_aws_ssm/tasks/connection_args.yml
  tests/integration/targets/setup_connection_aws_ssm/tasks/main.yml
  tests/integration/targets/setup_connection_aws_ssm/tasks/ssm_document.yml
  tests/integration/targets/setup_connection_aws_ssm/templates/inventory-combined.aws_ssm.j2
  tests/integration/targets/setup_connection_aws_ssm/templates/ssm_vars_to_delete.yml.j2
Labels: new_contributor, feature, connection, integration, tests, needs_triage, community_review, plugins, mergeit, backport-5

#1623 ecs_ecr - Add encryption_configuration option
  changelogs/fragments/1623-ecs_ecr-add-kms-config.yml
  plugins/modules/ecs_ecr.py
  tests/integration/targets/ecs_ecr/tasks/main.yml
  tests/integration/targets/ecs_ecr/templates/kms_policy.j2
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-5

#1660 aws_ssm - cleanup logging
  changelogs/fragments/1660-aws_ssm-logging.yml
  plugins/connection/aws_ssm.py
  tests/integration/targets/setup_connection_aws_ssm/tasks/cleanup.yml
  tests/integration/targets/setup_connection_aws_ssm/tasks/delete_bucket.yml
  tests/integration/targets/setup_connection_aws_ssm/tasks/encryption.yml
  tests/integration/targets/setup_connection_aws_ssm/tasks/main.yml
  tests/integration/targets/setup_connection_aws_ssm/templates/inventory-combined.aws_ssm.j2
Labels: feature, connection, integration, tests, needs_triage, community_review, plugins, mergeit

#1663 aws_ssm - Refactor boto3 client initialization
  changelogs/fragments/1663-aws_ssm-client.yml
  plugins/connection/aws_ssm.py
Labels: feature, connection, needs_triage, community_review, plugins, mergeit, backport-4, backport-5

#1664 aws_ssm - Refactor _file_transport_command
  changelogs/fragments/1664-aws_ssm-transport_command.yml
  plugins/connection/aws_ssm.py
Labels: feature, connection, needs_triage, community_review, plugins, mergeit, backport-4, backport-5

#1633 Addressing Style S3 (ssm_connection) - choose between path, virtual or auto.
  changelogs/fragments/1633-s3-url-address-style.yml
  plugins/connection/aws_ssm.py
  tests/integration/targets/connection_aws_ssm_addressing/aliases
  tests/integration/targets/connection_aws_ssm_addressing/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_addressing/aws_ssm_integration_test_teardown.yml
  tests/integration/targets/connection_aws_ssm_addressing/meta/main.yml
  tests/integration/targets/connection_aws_ssm_addressing/runme.sh
  tests/integration/targets/connection_aws_ssm_encrypted_s3/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_ssm_document/aws_ssm_integration_test_setup.yml
  tests/integration/targets/setup_connection_aws_ssm/defaults/main.yml
  tests/integration/targets/setup_connection_aws_ssm/templates/inventory-combined.aws_ssm.j2
Labels: new_contributor, feature, connection, integration, tests, needs_triage, community_review, plugins, mergeit, backport-5

#1625 ecs_service supports load balancer update
  changelogs/fragments/1625-ecs_service-support-load-balancer-update.yml
  plugins/modules/ecs_service.py
  tests/integration/targets/ecs_cluster/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-4, backport-5

#1640 ecs_cluster capacity provider strategy
  changelogs/fragments/770-ecs-capacity-provider-strategy.yml
  plugins/modules/ecs_cluster.py
  tests/integration/targets/ecs_cluster/tasks/main.yml
Labels: feature, integration, module, tests, community_review, plugins, mergeit, backport-5

#1676 ecs_cluster: add default value to doc
  changelogs/fragments/1676-changelog.yml
  plugins/modules/ecs_cluster.py
Labels: owner_pr, module, needs_triage, community_review, small_patch, plugins, docs, mergeit

#1678 backport stable-5 - ecs_cluster capacity provider strategy #1640 #1673
  changelogs/fragments/1676-changelog.yml
  changelogs/fragments/770-ecs-capacity-provider-strategy.yml
  plugins/modules/ecs_cluster.py
  tests/integration/targets/ecs_cluster/tasks/main.yml
Labels: bug, integration, module, tests, community_review, plugins, mergeit

#1679 [5.2.0] Prepare release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1601-ecs_service-support_constraints_and_strategy_update.yml
  changelogs/fragments/1616-aws_ssm-new-regions.yml
  changelogs/fragments/1623-ecs_ecr-add-kms-config.yml
  changelogs/fragments/1624-s3-lifecycle-idempotent.yml
  changelogs/fragments/1625-ecs_service-support-load-balancer-update.yml
  changelogs/fragments/1627-ssm_parameter-KeyError-when-adding-description.yml
  changelogs/fragments/1633-s3-url-address-style.yml
  changelogs/fragments/1642-ssm_parameter.yml
  changelogs/fragments/1660-aws_ssm-logging.yml
  changelogs/fragments/1663-aws_ssm-client.yml
  changelogs/fragments/1664-aws_ssm-transport_command.yml
  changelogs/fragments/1676-changelog.yml
  changelogs/fragments/20230112-aws_ssm-tests.yml
  changelogs/fragments/20230113-encryption.yml
  changelogs/fragments/558-ssm_connection-invalid-literal.yml
  changelogs/fragments/770-ecs-capacity-provider-strategy.yml
  changelogs/fragments/876-aws_ssm_connection_ssm_document.yml
  changelogs/fragments/aws_ssm-facts.yml
  changelogs/fragments/iam_role_purge_policy.yml
  galaxy.yml
Labels: needs_triage, community_review, docs, mergeit

#1681 [4.5.0] Prepare release
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1601-ecs_service-support_constraints_and_strategy_update.yml
  changelogs/fragments/1624-s3-lifecycle-idempotent.yml
  changelogs/fragments/1625-ecs_service-support-load-balancer-update.yml
  changelogs/fragments/1627-ssm_parameter-KeyError-when-adding-description.yml
  changelogs/fragments/20230112-aws_ssm-tests.yml
  changelogs/fragments/558-ssm_connection-invalid-literal.yml
  changelogs/fragments/iam_role_purge_policy.yml
  galaxy.yml
Labels: bug, needs_triage, community_review, mergeit

#514 aws_ssm connection - Move connection vars environment handling into options
  changelogs/fragments/514-aws_ssm-env_vars.yml
  plugins/connection/aws_ssm.py
Labels: bug, new_contributor, connection, community_review, plugins, mergeit, backport-5

#1619 aws_ssm: ability to customize s3 endpoint for vpc interface endpoint
  changelogs/fragments/1619-add-s3-bucket-endpoint-url-var-for-private-network-vpc-interface-endpoints.yml
  plugins/connection/aws_ssm.py
  tests/integration/targets/connection_aws_ssm_endpoint/aliases
  tests/integration/targets/connection_aws_ssm_endpoint/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_endpoint/aws_ssm_integration_test_teardown.yml
  tests/integration/targets/connection_aws_ssm_endpoint/meta/main.yml
  tests/integration/targets/connection_aws_ssm_endpoint/runme.sh
  tests/integration/targets/setup_connection_aws_ssm/templates/inventory-combined.aws_ssm.j2
Labels: new_contributor, feature, connection, integration, tests, needs_triage, community_review, python3, plugins, mergeit, backport-5

#827 Add secret manager replication support
  changelogs/fragments/827-secretsmanager_secret-replication.yml
  plugins/modules/secretsmanager_secret.py
  tests/integration/targets/secretsmanager_secret/tasks/main.yaml
  tests/integration/targets/secretsmanager_secret/tasks/replication.yml
Labels: new_contributor, feature, has_issue, integration, module, tests, community_review, plugins, mergeit, backport-5
