Repository ansible-collections/community.aws, pull requests merged in 2023-02, with the labels that each got.

#1596 update module using module_utils/cloudfront_facts.py
  changelogs/fragments/cloudfront_integration_tests_activate.yaml
  plugins/modules/cloudfront_distribution.py
  plugins/modules/cloudfront_distribution_info.py
  plugins/modules/cloudfront_invalidation.py
  plugins/modules/cloudfront_origin_access_identity.py
  tests/integration/targets/cloudfront_distribution/aliases
  tests/integration/targets/cloudfront_distribution/tasks/main.yml
  tests/integration/targets/cloudfront_invalidation/aliases
  tests/integration/targets/cloudfront_invalidation/defaults/main.yml
  tests/integration/targets/cloudfront_invalidation/tasks/main.yml
  tests/integration/targets/cloudfront_origin_access_identity/aliases
  tests/integration/targets/cloudfront_origin_access_identity/defaults/main.yml
  tests/integration/targets/cloudfront_origin_access_identity/tasks/main.yml
  tests/integration/targets/legacy_missing_tests/aliases
  tests/sanity/ignore-2.11.txt
  tests/sanity/ignore-2.12.txt
  tests/sanity/ignore-2.13.txt
  tests/sanity/ignore-2.14.txt
  tests/sanity/ignore-2.15.txt
Labels: feature, integration, module, tests, community_review, plugins, mergeit

#1606 s3_lifecycle - ability to set the number of newest noncurrent versions to retain
  changelogs/fragments/1606-s3_lifecycle_add_number_of_versions_to_retain.yml
  plugins/modules/s3_lifecycle.py
  tests/integration/targets/s3_lifecycle/meta/main.yml
  tests/integration/targets/s3_lifecycle/tasks/main.yml
Labels: new_contributor, feature, integration, module, tests, community_review, plugins, mergeit

#972 sns_topic - Add tags and purge_tags options
  changelogs/fragments/972-sns_topic-add_tags.yaml
  plugins/module_utils/sns.py
  plugins/modules/sns_topic.py
  tests/integration/targets/sns_topic/tasks/main.yml
Labels: feature, has_issue, integration, module, tests, needs_triage, community_review, plugins, mergeit, backport-5

#1426 Update docs
  changelogs/fragments/1426-docs_update_ecs_taskdefinition.yml
  plugins/modules/ecs_taskdefinition.py
  plugins/modules/ecs_taskdefinition_info.py
Labels: owner_pr, module, community_review, plugins, docs, mergeit, backport-5

#1692 iam_role - add assume_role_policy_document_raw
  changelogs/fragments/551-iam_role-policy_documents.yml
  plugins/modules/iam_role.py
  plugins/modules/iam_role_info.py
  tests/integration/targets/iam_role/tasks/creation_deletion.yml
  tests/integration/targets/iam_role/tasks/main.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit, backport-5

#1603 Add SQS FIFO high throughput options
  changelogs/fragments/20221125-sqs-high-throughput.yml
  plugins/modules/sqs_queue.py
  tests/integration/targets/sqs_queue/tasks/main.yml
Labels: new_contributor, feature, integration, module, tests, community_review, plugins, mergeit, backport-5

#1690 Fix copying of empty file
  changelogs/fragments/1690-fix-copying-empty-file.yml
  plugins/connection/aws_ssm.py
  tests/integration/targets/connection/test_connection.yml
Labels: bug, new_contributor, connection, integration, tests, needs_triage, community_review, plugins, mergeit, backport-5

#1591 eks_cluster: adding tags to eks cluster
  changelogs/fragments/1591-eks-add-tags-cluster.yml
  plugins/modules/eks_cluster.py
  tests/integration/targets/eks_cluster/tasks/full_test.yml
Labels: new_contributor, feature, integration, module, tests, community_review, plugins, mergeit, backport-5

#1418 sns_topic - Fix Permission Issue for Cross Account Subscriptions
  changelogs/fragments/sns_topic-cross-account.yml
  plugins/modules/sns_topic.py
Labels: bug, module, community_review, plugins, mergeit, backport-4, backport-5

#1415 New Module - eks_nodegroup
  meta/runtime.yml
  plugins/modules/eks_nodegroup.py
  tests/integration/targets/eks_nodegroup/aliases
  tests/integration/targets/eks_nodegroup/defaults/main.yml
  tests/integration/targets/eks_nodegroup/files/eks-nodegroup-trust-policy.json
  tests/integration/targets/eks_nodegroup/files/eks-trust-policy.json
  tests/integration/targets/eks_nodegroup/tasks/cleanup.yml
  tests/integration/targets/eks_nodegroup/tasks/dependecies.yml
  tests/integration/targets/eks_nodegroup/tasks/full_test.yml
  tests/integration/targets/eks_nodegroup/tasks/main.yml
Labels: new_plugin, new_module, has_issue, integration, module, tests, community_review, plugins, mergeit, backport-5

#1703 Bump release_version for eks_nodegroup
  changelogs/fragments/eks_release.yml
  plugins/modules/eks_nodegroup.py
Labels: owner_pr, module, community_review, small_patch, plugins, docs, mergeit

#1698 [PR #1690/e8c7a10 backport][stable-5] Fix copying of empty file
  changelogs/fragments/1690-fix-copying-empty-file.yml
  plugins/connection/aws_ssm.py
  tests/integration/targets/connection/test_connection.yml
Labels: bug, connection, integration, tests, needs_triage, community_review, plugins, mergeit

#1705 eks_nodegroup - Update documented defaults
  changelogs/fragments/eks.yml
  plugins/modules/eks_nodegroup.py
Labels: bug, owner_pr, module, needs_triage, community_review, small_patch, plugins, mergeit

#1707 Various lint fixups
  changelogs/fragments/20230204-sanity.yml
  plugins/connection/aws_ssm.py
  plugins/modules/batch_job_definition.py
  plugins/modules/inspector_target.py
  tests/unit/plugins/modules/test_ec2_vpc_vpn.py
Labels: feature, connection, module, tests, needs_triage, community_review, plugins, needs_maintainer, mergeit, backport-5

#1711 iam_access_key - fix example docs
  changelogs/fragments/iam_access_key_docs_fix.yml
  plugins/modules/iam_access_key.py
Labels: owner_pr, module, community_review, small_patch, plugins, docs, mergeit, backport-4, backport-5

#1719 elasticache: use an up to date node type in example
  changelogs/fragments/elasticache-use-up-to-date-node-type-in-example.yaml
  plugins/modules/elasticache.py
Labels: mergeit

#1714 Update contributing to sync with amazon.aws
  CONTRIBUTING.md
Labels: needs_triage, community_review, docs, mergeit

#1726 aws_ssm - add integration tests for connection using vars
  changelogs/fragments/1726-ssm_connection-vars_tests.yml
  tests/integration/targets/connection_aws_ssm_profile/aliases
  tests/integration/targets/connection_aws_ssm_profile/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_profile/aws_ssm_integration_test_teardown.yml
  tests/integration/targets/connection_aws_ssm_profile/meta/main.yml
  tests/integration/targets/connection_aws_ssm_profile/runme.sh
  tests/integration/targets/connection_aws_ssm_vars/aliases
  tests/integration/targets/connection_aws_ssm_vars/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_vars/aws_ssm_integration_test_teardown.yml
  tests/integration/targets/connection_aws_ssm_vars/meta/main.yml
  tests/integration/targets/connection_aws_ssm_vars/runme.sh
  tests/integration/targets/setup_connection_aws_ssm/tasks/main.yml
  tests/integration/targets/setup_connection_aws_ssm/templates/boto_config.j2
  tests/integration/targets/setup_connection_aws_ssm/templates/inventory-combined.aws_ssm.j2
Labels: mergeit, backport-5

#1728 fixed unneeded `state` in module docs.
  changelogs/fragments/1728_remove_state.yml
  plugins/modules/ec2_transit_gateway_vpc_attachment_info.py
Labels: mergeit
