Repository ansible-collections/community.aws, pull requests merged in 2023-08, with the labels that each got.

#1897 [stable-6] Bump python version for devel testing
  .github/workflows/sanity.yml
  .github/workflows/units.yml
  tests/unit/mock/loader.py
Labels: bug, tests, community_review, mergeit, backport-5, skip-changelog

#1899 Fix linters issue on main branch
  changelogs/fragments/20230801-fix-linters.yml
  tests/unit/mock/loader.py
Labels: tests, community_review, small_patch, mergeit

#1845 api_gateway - add parameter name
  .gitignore
  changelogs/fragments/20230620-api_gateway-add-optional-name.yml
  meta/runtime.yml
  plugins/modules/api_gateway.py
  plugins/modules/api_gateway_info.py
  tests/integration/targets/api_gateway/defaults/main.yml
  tests/integration/targets/api_gateway/tasks/lookup.yml
  tests/integration/targets/api_gateway/tasks/main.yml
  tests/integration/targets/api_gateway/tasks/tagging.yml
  tests/integration/targets/api_gateway/templates/minimal-swagger-api.yml.j2
Labels: new_plugin, new_module, feature, integration, module, tests, community_review, plugins, mergeit, backport-6

#1905 Remove apigateway and apigateway_deployment from meta/runtime.yml
  changelogs/fragments/20230804-update-meta-runtime.yaml
  meta/runtime.yml
Labels: bug, community_review, small_patch, mergeit, backport-6, skip-changelog

#1903 Prep community.aws 6.2.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/20230620-api_gateway-add-optional-name.yml
  changelogs/fragments/20230804-update-meta-runtime.yaml
  changelogs/fragments/transit_gateway_to_vpn.yaml
  galaxy.yml
  plugins/module_utils/common.py
Labels: feature, needs_triage, community_review, mergeit, skip-changelog

#1911 Add workflows for automatically generating GitHub releases
  .github/workflows/release-manual.yml
  .github/workflows/release-tag.yml
Labels: feature, needs_triage, community_review, mergeit

#1909 Changelog update after releases 6.2.0, 6.1.0 and 6.0.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1435-connection-attempt-timeout.yml
  changelogs/fragments/1551-ecs_ecr-sort_json_policy.yml
  changelogs/fragments/1555-wafv2_rule_group_info.yml
  changelogs/fragments/1557-cloudfront-add-origin-shield.yml
  changelogs/fragments/1634-networkfirewall_rule_group-tests.yml
  changelogs/fragments/1643-codebuild_project.yml
  changelogs/fragments/1730-ses-identity-fix-clearing-notification-topic.yml
  changelogs/fragments/1738-headers.yml
  changelogs/fragments/1753-cloudfront-add-http3.yml
  changelogs/fragments/1784-black.yml
  changelogs/fragments/1798-aws_ssm-black.yml
  changelogs/fragments/1819-cloudfront-distribution-s3-domain-recognise.yaml
  changelogs/fragments/1825-dynamodb-table-no-secondary-indexes.yml
  changelogs/fragments/1846-arn.yml
  changelogs/fragments/20221103-autoscaling_scheduled_action.yml
  changelogs/fragments/20230307-blueprint.yml
  changelogs/fragments/20230423-update_readme_and_runtime.yml
  changelogs/fragments/20230424-config-delivery-channel.yml
  changelogs/fragments/20230531-mq-fix_fqdn.yml
  changelogs/fragments/20230620-api_gateway-add-optional-name.yml
  changelogs/fragments/20230702-dynamodb_waiter.yml
  changelogs/fragments/20230804-update-meta-runtime.yaml
  changelogs/fragments/853-aws_ssm-sudo.yml
  changelogs/fragments/ansible-user-agent-identification.yaml
  changelogs/fragments/botocore-tests.yml
  changelogs/fragments/cloudfront_integration_tests_activate.yaml
  changelogs/fragments/elasticache-use-up-to-date-node-type-in-example.yaml
  changelogs/fragments/fstring-1.yml
  changelogs/fragments/integration_tests_max_duration_increase.yaml
  changelogs/fragments/opensearch_info_example_key_name.yaml
  changelogs/fragments/python37.yml
  changelogs/fragments/release-6-botocore.yml
  changelogs/fragments/transit_gateway_to_vpn.yaml
  changelogs/fragments/version_added.yml
Labels: bug, needs_triage, community_review, mergeit

#1912 Add various missing changelogs
  CHANGELOG.rst
  changelogs/changelog.yaml
Labels: needs_triage, community_review, docs, mergeit

#1914 [PR#1912/cc5194db][stable-6] Add missing changelogs
  CHANGELOG.rst
  changelogs/changelog.yaml
Labels: needs_triage, community_review, docs, mergeit

#1913 GHA: Exclude Python 3.9 runs for milestone branch
  .github/workflows/sanity.yml
  .github/workflows/units.yml
Labels: needs_triage, community_review, python3, small_patch, mergeit

#1917 CI: Force PyYAML version that can be installed
  tests/integration/constraints.txt
Labels: integration, tests, needs_triage, community_review, small_patch, plugins, mergeit, backport-5, backport-6

#1910 opensearch: avoid a KeyError during the DomainConfig reading
  changelogs/fragments/opensearch_domainconfig_no_options.yaml
  plugins/module_utils/opensearch.py
Labels: needs_info, needs_template, has_issue, needs_triage, small_patch, mergeit, backport-5, backport-6
