Repository ansible-collections/community.aws, pull requests merged in 2024-01, with the labels that each got.

#1839 Eliminate escape codes in aws_ssm output from newer versions of Bash
  changelogs/fragments/1839-disable-bracketed-paste.yml
  plugins/connection/aws_ssm.py
Labels: bug, new_contributor, has_issue, connection, needs_triage, community_review, small_patch, plugins, mergeit, backport-6, backport-7

#1850 Document the requirement for an S3 bucket for the aws_ssm connection plugin
  changelogs/fragments/1775-aws_ssm-s3-docs.yaml
  plugins/connection/aws_ssm.py
Labels: mergeit

#1793 ssm connection plugin - Replace Fedora tests with CentOS 9
  changelogs/fragments/ssm-fedora34.yml
  plugins/connection/aws_ssm.py
  tests/integration/targets/connection_aws_ssm_addressing/aliases
  tests/integration/targets/connection_aws_ssm_addressing/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_centos/aliases
  tests/integration/targets/connection_aws_ssm_centos/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_centos/aws_ssm_integration_test_teardown.yml
  tests/integration/targets/connection_aws_ssm_centos/meta/main.yml
  tests/integration/targets/connection_aws_ssm_centos/runme.sh
  tests/integration/targets/connection_aws_ssm_cross_region/aliases
  tests/integration/targets/connection_aws_ssm_cross_region/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_encrypted_s3/aliases
  tests/integration/targets/connection_aws_ssm_encrypted_s3/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_endpoint/aliases
  tests/integration/targets/connection_aws_ssm_endpoint/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_profile/aliases
  tests/integration/targets/connection_aws_ssm_profile/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_ssm_document/aliases
  tests/integration/targets/connection_aws_ssm_ssm_document/aws_ssm_integration_test_setup.yml
  tests/integration/targets/connection_aws_ssm_vars/aliases
  tests/integration/targets/connection_aws_ssm_vars/aws_ssm_integration_test_setup.yml
  tests/integration/targets/setup_connection_aws_ssm/defaults/main.yml
Labels: bug, connection, integration, tests, community_review, plugins, mergeit, backport-7

#2028 Fix example of eks_nodegroup
  plugins/modules/eks_nodegroup.py
Labels: mergeit, backport-6, skip-changelog, backport-7

#1589 cloudfront_distribution: Add support for cache_policy_id and origin_request_policy_id for behaviors
  changelogs/fragments/1589-cloudfront_distribution-add-policies.yml
  plugins/modules/cloudfront_distribution.py
  tests/integration/targets/cloudfront_distribution/tasks/main.yml
Labels: new_contributor, feature, integration, module, tests, needs_triage, community_review, plugins, mergeit, backport-7

#1888 feat: add wait and wait_timeout to mq_broker; closes #1879
  changelogs/fragments/1879-mq_broker-add-wait.yml
  plugins/modules/mq_broker.py
  tests/integration/targets/mq/tasks/broker_tests.yml
Labels: feature, integration, module, tests, needs_triage, community_review, plugins, mergeit, backport-7

#1908 fix(connection): get bucket_region in aws_ssm
  changelogs/fragments/1908-fix_find_out_bucket_region_logic.yml
  plugins/connection/aws_ssm.py
Labels: bug, new_contributor, needs_triage, small_patch, mergeit

#2042 Pull 7.1.0 and 7.0.0 changelogs into main branch
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/1589-cloudfront_distribution-add-policies.yml
  changelogs/fragments/1775-aws_ssm-s3-docs.yaml
  changelogs/fragments/1839-disable-bracketed-paste.yml
  changelogs/fragments/1879-mq_broker-add-wait.yml
  changelogs/fragments/ssm-fedora34.yml
Labels: mergeit, skip-changelog, backport-7

#1947 feat: add larger instance types for MSK cluster
  changelogs/fragments/1947-add_support_msk_addtinal_type.yml
  plugins/modules/msk_cluster.py
Labels: mergeit, backport-7

#2044 formatting fix from main
  CHANGELOG.rst
  changelogs/changelog.yaml
Labels: mergeit
