Repository ansible-collections/community.aws, pull requests merged in 2025-05, with the labels that each got.

#2304 Add `matrix_exclude` to skip `ansible-core` 2.16 and specific Python versions for sanity and unit tests
  .github/workflows/sanity.yml
  .github/workflows/units.yml
  changelogs/fragments/20250505-skip_ansible-core_2.16.yml
Labels: mergeit, do_not_backport

#2303 Update `requires_ansible` version
  meta/runtime.yml
Labels: mergeit, do_not_backport, skip-changelog

#2305 Release 9.3.0 - Push changes to main
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/20250104-refactor-connection-aws_ssm-s3-operation.yml
  changelogs/fragments/20250326-connection_aws_ssm-refactor-session-manager.yml
  changelogs/fragments/20250408-aws_ssm-plugin_utils.yml
  changelogs/fragments/2270-aws_ssm-refactor-create-terminalmanager-class.yml
  changelogs/fragments/aws_ssm_filetransfermanager.yml
  changelogs/fragments/update_ansible-lint.yml
Labels: mergeit, skip-changelog, backport-9

#2308 Update links for new `stable-10` branch
  README.md
  changelogs/fragments/20250508-update-links-stable-10.yml
  docs/docsite/links.yml
Labels: mergeit

#2309 Update `galaxy.yml` versions to `11.0.0-dev0`
  galaxy.yml
  plugins/module_utils/common.py
Labels: mergeit, do_not_backport, skip-changelog

#2307 Prep Release `10.0.0`
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/20241029-main-10.0.0.yml
  changelogs/fragments/20250505-skip_ansible-core_2.16.yml
  changelogs/fragments/botocore-python.yaml
  changelogs/fragments/botocore.yml
  changelogs/fragments/migrate_aws_ssm.yml
  galaxy.yml
  plugins/module_utils/common.py
Labels: mergeit, do_not_backport, skip-changelog

#2312 Merge `stable-10` back into `main`
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/20241029-main-10.0.0.yml
  changelogs/fragments/20250505-skip_ansible-core_2.16.yml
  changelogs/fragments/botocore-python.yaml
  changelogs/fragments/botocore.yml
  changelogs/fragments/migrate_aws_ssm.yml
Labels: mergeit, do_not_backport, skip-changelog

#2313 Update backport label versions to account for new `10.0.0` major release
  .github/workflows/backports.yml
Labels: mergeit, do_not_backport, skip-changelog
